@import "mixin";

html, body{
    height: 100%;
}

.pd-logo{
    overflow: hidden;
    margin: 0 auto 15px;
    width: 106px;
    height: 25px;
    background: url("../images/logo.png");
    text-indent: -999em;

    @include image-2x('../images/logo@2x.png', 106px, 25px);
}

.fa-size-12{ font-size: 12px; }
.fa-size-14{ font-size: 14px; }
.fa-size-16{ font-size: 16px; }
.fa-size-18{ font-size: 18px; }
.fa-size-22{ font-size: 22px; }
.fa-size-24{ font-size: 24px; }
.fa-size-26{ font-size: 26px; }
.fa-size-32{ font-size: 32px; }

.icon-yellow{
    color: #FFF200;
    margin: 5px 15px 0 5px;
}

.pd-sidebar-title{
    padding: 10px 15px;
    background-color: #303030;

    h2{
        margin: 0;
        width: 450px;
        color: #fff;
        font-size: 1.85em;
        font-family: ThaiSansNeueRegular;
    }
    .fa-times{
        color: #808080;
        font-size: 22px;
    }
    .fa-times{
        margin-top: 5px;
        &:hover{
            color: #ccc;
            cursor: pointer;
        }
    }
    .fa-map-marker{
        color: #FFF200;
        margin-right: 15px;
        margin-left: 5px;
        margin-top: 5px;
    }
}

//***************************
// TITLE
//***************************
.subheading{
    margin: 0 0 15px;
    font: 1.8em / 1em ThaiSansNeueRegular;

    i{
        margin: 0 6px 0 10px;
    }
}







.modal-dialog{
    z-index: 1041;
}

.pd-dl-horizontal {
    dt{
        text-align: left !important;
    }
    dd{
        margin-bottom: 10px;
    }
}


.report-filter{
    position: absolute;
    top: 18px;
    right: 0;
    left: 0;
    margin: auto;
    width: 700px;
    .form-control{
        padding: 9px 20px;
        height: 37px;
        border: none;
        box-shadow:0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
        font-size: 1.2em;
        color: #333;
    }
}
.pd-btn-search{
    margin-left: 0;
    width: 100px;
    height: 37px;
    border: 0;
    border-radius: 0 2px 2px 0;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    color: #fff;
    vertical-align: top;
    text-align: center;
    -webkit-transition: margin-left 200ms ease-out 0;
    transition: margin-left 200ms ease-out 0;

    &:hover{
        background-color: #357ae8;
        background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    }
}


//***************************
// LOGIN
//***************************
.page-login{
    background-color: #7474BF;
    background: -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* W3C */


}
.login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 330px;
    max-height: 400px;

    .form-group{
        margin: 0 0 15px;
    }
    .form-group:last-child{
        margin-bottom: 0;
    }
    .alert{
        margin-top: 20px;
    }

    form {
        margin-top: 20px;

        .alert {
            margin-top: 0;
        }
    }
}
.login-inner{
    padding: 20px 15px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    @include box-shadow(1px 1px 7px #666);

    .logo-img{
        margin: 15px 0;
    }



}

#reports-empty{
    padding: 20px;
}

.logo-img{
    width: 270px;
}

.form-group{
    .alert{
        padding: 5px 12px;
        margin-top: 10px !important;
        margin-bottom: 0;
    }
}

.btn-login{
    width: 100%;
}

.loadmore{
    .btn{
        width: 100%;
        color: #666;
        border: 1px solid #DFDFDF;
        background: #F9F9F9;
    }
}


.section-filter{
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    margin: auto;
    width: 700px;

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    &.ng-hide-remove{
        top: -100px;
    }

    &.ng-hide{
        top: -100px;
    }
}

@-webkit-keyframes bg-opacity {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #EAEAEA;
  }

  100% {
    background-color: #EAEAEA;
  }
}

@keyframes bg-opacity {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #EAEAEA;
  }

  100% {
    background-color: #EAEAEA;
  }
}

.blink{
    animation: pulse .5s .5s alternate forwards , bg-opacity .8s;
    -webkit-animation: pulse .5s .5s alternate forwards , bg-opacity .8s;
    -moz-animation: pulse .5s .5s alternate forwards , bg-opacity .8s;
    -ms-animation: pulse .5s .5s alternate forwards , bg-opacity .8s;
    background-color: #EAEAEA;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}



.sweet-alert {
    z-index: 9998;
    
    p.lead {
        margin-top: 1.5em;
        font-size: 1.3em;
    }
    .sweet-alert{
        z-index: 9999;
    }
    .btn-lg{
        font-size: 14px;
    }
}

.sweet-overlay{
    z-index: 9998;
}

/* FILE UPLOAD */


.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 2px 10px 0 0;
}
.avatar-w4{
    width: 40px;
    height: 40px;
}
.time{
    font-size: 11px;
    margin-top: 3px;
}

.your-child-is-working {
  img {
    opacity: 0;
  }
}

.image-mask {
  display: none;
}

.image-mask.image-loader-progress {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: black;
  opacity: .8;
}

.scroller {
    position: relative;
}

.scroller-x {
    overflow-x: hidden;
}
.scroller-y {
    overflow-y: hidden;
}

.ui-grid-native-scrollbar.vertical {
    width: 17px !important;
}
