//***************************
// Old Layout
//***************************

.pd-container{
    position: relative;
}

.pd-section-left{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;

    &.ng-hide-remove {}
    &.ng-hide-add {}
}

.pd-sidebar-right{
    @include box-shadow(1px 1px 7px #444);
    position: absolute;
    top: 0;
    right: 0;
    width: 530px;
    height: 100%;
    z-index: 999;
    color: #909090;
    background-color: #3c3c3c;
    overflow-y: scroll;

    &.ng-hide-remove {
        -webkit-animation: fadeInRight .5s .2s alternate forwards;
        opacity: 0;
    }

    &.ng-hide-add{
        -webkit-animation: fadeOutRight .5s .2s alternate forwards;
    }
}


//***************************
// Layout
//***************************

$report-section-bg: #fff;
$report-title-bg: #9966cb;
$report-title-color: #fff;

$detail-title-color: #8D58C2;
$detail-section-bg: rgb(245, 245, 245);
$comment-section-bg: #333;

.l-section{
    position: absolute;
    top: 0;
    height: 100%;

    .title{
        height: 52px;;
        padding: 10px 20px;
        font-size: 20px;
        background-color: rgba(190, 190, 190, 0.2);

        font-size: 1.7em;
        font-family: ThaiSansNeueRegular;
        color: $report-title-color;
        background-color: $report-title-bg;

        h2{
            margin: 0 .5em 0 0;
            line-height: 1em;

            i{ line-height: inherit; margin-right: 15px; }
        }
        i{
            line-height: 32px;
        }
    }
    .content-wrapper {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        bottom: 0;
    }
    .content {
        padding: 20px 10px;
        height: 100%;
    }
}
.l-report-section{
    @include box-shadow(1px 0px 5px rgba(0, 0, 0, 0.1));
    left: 50px;
    width: 47%;
    background-color: $report-section-bg;
    z-index: 9998;

    &.ng-hide-remove {
        -webkit-animation: fadeInLeft .5s .2s alternate forwards;
        opacity: 0;
    }

    &.ng-hide-add{
        -webkit-animation: fadeOutLeft .5s .2s alternate forwards;
    }
}
.l-info-section{ /* Wrapping detail & comment section */
    top: 0;
    right: 0;
    width: 53%;
    z-index: 9990;

     &.ng-hide-remove {
        -webkit-animation: fadeInLeft .5s .2s alternate forwards;
        opacity: 0;
    }

    &.ng-hide-add{
        -webkit-animation: fadeOutLeft .5s .2s alternate forwards;
    }

    &.l-full-width {
        width: 100%;

        .content {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}
.l-detail-section{
    top: 0;
    left: 0;
    width: 100%;
    border-left: 50px solid transparent;

    color: #666;
    background-color: $detail-section-bg;

    .title{
        background-color: $detail-title-color;
    }
}
.l-comment-section{
    right: 0%;
    width: 30%;
    background-color: $comment-section-bg;
}

// Close Button
.title {
    .fa-times:hover{
        cursor: pointer;
    }
}
