.pd-container{
    position: relative;
}

.pd-section-left{
    @include box-shadow(1px 1px 4px #ccc);
    position: absolute;
    top: 0px;
    left: 0;
    width: 150px;
    height: 100%;
    z-index: 999;
    padding: 15px 15px;
    background: rgba(255,255,255, 0.7);
    
//    -webkit-filter: blur(2px); filter: url(#blur-effect-1);
}

.pd-sidebar-right{
    @include box-shadow(1px 1px 7px #444);
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    z-index: 999;
    color: #909090;
    background-color: #3c3c3c;
    
    &.ng-hide-remove {
        -webkit-animation: fadeInRight .5s .2s alternate forwards;
        opacity: 0;
    }
    
    &.ng-hide-add{
        -webkit-animation: fadeOutRight .5s .2s alternate forwards;
    }
}