//.pd-nav-toggle{
//    z-index: 999;
//    
//    transition: all 0.5s ease;
//    -webkit-transition: all 0.5s ease;
//    -ms-transition: all 0.5s ease;
//    -moz-transition: all 0.5s ease;
//    
//    &:hover{
//        color: #fff;
//        background-color: #4a4a4a;
//        cursor: pointer;
//    }
//    
//    .ng-hide{
//        top: 0;
//        left: 150px;
//    }
//}

//@import "mixin";

.pd-nav-list{
//    @incldue border-radius(3px);
	border-radius: 5px;	
    
    @include box-shadow(0px 0px 5px #505050);
    list-style: none;
    
    position: absolute;
    top: 70px;
    left: 15px;
//    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
    background-color: #fff; 
    
    animation: fadeInLeft 1s 1s alternate backwards;
}

.pd-nav-title{
    font-size: 22px;
    font-family: ThaiSansNeueRegular;
    line-height: 20px;
}

.pd-nav-icon{
    height: 42px;
    padding: 12px 12px 8px 12px;
    display: block;
    position: relative;
    
    &:hover{
        cursor: pointer;
    }
}
.pd-nav-title{
    padding: 5px 0;
    display: block;
}

.pd-nav-item{
    position: relative;
    
    color: #333;
    text-align: center;
    
    a{  
        color: #404040;
        font-size: 20px;
        font-family: ThaiSansNeueRegular;
        line-height: 20px;
    }
    
    .pd-nav-text{
        @include box-shadow(0px 0px 5px #505050);
        position: absolute;
        top: 0;
        left: -999em;
        height: 42px;
        width: 120px;
        padding: 10px;
        line-height: 24px;
        z-index: -1;
        background: #eee;
        border-radius: 0 5px 5px 0;
        opacity: 0;
        
        transition: opacity 0.6s ease;
        -webkit-transition: opacity 0.6s ease;
        -ms-transition: opacity 0.6s ease;
        -moz-transition: opacity 0.6s ease;
    }
    
    &.active{
        background-color: #0074d9;
        
        &:hover{ background-color: #0074d9; }
        i{ color: #fff; }
        
        .pd-nav-text{
            color: #fff;
            background-color: #0074d9;
        }
    }
    
    &:hover{
        background-color: #eee;
        
        .pd-nav-text{
            left: 42px;
            opacity: 1;
            
        }
    }
    
    &:first-child{
        border-radius: 5px 5px 0 0;
        
        &:hover{
//            border-radius: 5px 0 0 0;
        }
    }
    &:last-child{
        border-radius: 0 0 0 5px;
        
        &:hover{
            border-radius: 0 0 0 5px;
        }
    }
}





//***************************
// Nav
//***************************

$nav-bg: #333;
$nav-font-color: #fff;
$nav-icon-color: #fff;
$nav-list-hover: #000;

$nav-width: 50px;

$nav-font-family: ThaiSansNeueRegular;

.pd-nav-small{
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: $nav-width;
//    height: 100%;
//    z-index: 9999;
//    background: $nav-bg;
}
.pd-nav-list{
    
}
.pd-nav-item{
    
}
.pd-nav-text{
    
}
.pd-nav-icon{
//    color: $nav-icon-color;
}



//***************************
// Layout
//***************************

$report-section-bg: #fff;
$detail-section-bg: #333;
$comment-section-bg: #333;

.l-section{
    position: absolute;
    top: 0;
    height: 100%;
    
    .title{
        padding: 20px;
        font-size: 20px;
        background-color: rgba(190, 190, 190, 0.2);
    }
    .content{
        height: 90%;
        padding: 10px 5px 10px 20px;
    }
}
.l-report-section{
    left: 50px;
    width: 40%;
    background-color: $report-section-bg;
    z-index: 9998;
}
.l-info-section{ /* Wrapping detail & comment section */
    top: 0;
    left: 43.5%;  
    width: 56.5%;
    z-index: 9990;
}
.l-detail-section{
    top: 0;
    right: 30%;
    width: 70%;
    background-color: $detail-section-bg;
}
.l-comment-section{
    right: 0%;
    width: 30%;
    background-color: $comment-section-bg;
}



