@import "mixin";

//***************************
// Nav
//***************************

$section-nav-bg: #333;
$nav-item-color: #fff;
$nav-item-color-hover: #404040;
$nav-item-bg-hover: #eee;
$nav-item-bg-active: #0074d9;
$nav-font-family: ThaiSansNeueRegular;

.pd-section-left{
    position: absolute;
    width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: $section-nav-bg;
//    @include box-shadow(0px 0px 5px #505050);
    @include box-shadow(1px 0px 5px rgba(0, 0, 0, 0.1));
}

// UL
.pd-nav-list{
    padding: 0;
    list-style: none;
}

.logo{
    display: block;
    width: 30px;
    height: 23px;
    margin: 15px auto 5px;
    background: url("../images/logo-small.png");
    @include image-2x('../images/logo-small@2x.png', 30px, 23px);
}

// LI
.pd-nav-item{
    position: relative;
    color: $nav-item-color;
    text-align: center;
    
    &:hover{
        background-color: $nav-item-bg-hover;
        color: $nav-item-color-hover;
        
        .pd-nav-text{
            left: 42px;
            opacity: 1;
        }
        
        i{ color: $nav-item-color-hover; }
    }
    
    /* Hide Text */
    .pd-nav-text{
        @include box-shadow(0px 0px 5px #505050);
        position: absolute;
        top: 0;
        left: -999em;
        height: 42px;
        width: 120px;
        padding: 10px;
        line-height: 24px;
        z-index: -1;
        background: #eee;
        border-radius: 0 5px 5px 0;
        opacity: 0;
        
        transition: opacity 0.6s ease;
        -webkit-transition: opacity 0.6s ease;
        -ms-transition: opacity 0.6s ease;
        -moz-transition: opacity 0.6s ease;
    }
    
    &.active{
        background-color: $nav-item-bg-active;
        
        i{ color: $nav-item-color; }
        
        /* Make text active style */
        .pd-nav-text{
            color: $nav-item-color;
            background-color: $nav-item-bg-active;
        }
    }
}

// For title text on list
.pd-nav-title{
    padding: 5px 0;
    display: block;
    font: 22px / 20px $nav-font-family;
    line-height: 20px;
    
    /* Clear defuaft hover style */
    &:hover{
        background-color: transparent;
        color: $nav-item-color;
    }
}

// Link <a>
.pd-nav-icon{
    height: 42px;
    padding: 12px 12px 8px 12px;
    display: block;
    position: relative;
    
    color: $nav-item-color;
        font: 20px / 20px $nav-font-family;
    
    &:hover{
        cursor: pointer;
        color: $nav-item-color-hover;
    }
}



//***************************
// Notification
//***************************

$notifi-border-bottom-color: #dadada;
$notifi-item-bg: #eee;
$notifi-item-hover: #ececec;
$notifi-item-read: #fff;

.pd-nav-item:hover{
    .notification-block{
        display: block;
    }
}
.notification-block{
    @include box-shadow(0px 0px 5px #505050);
    position: absolute;
    display: none;
    top: 0;
    left: 50px;
    width: 300px;
    z-index: -1;
    text-align: left;
    border-radius: 0 5px 5px 0;
    overflow: hidden;

    ul{
        list-style: none;
        padding: 0;
    }
    li{
        border-bottom: 1px solid $notifi-border-bottom-color;
        background-color: $notifi-item-bg;

        &.read{
            background-color: $notifi-item-read;
        }

        &:hover{
            background-color: $notifi-item-hover;
        }

        .fa-comment{
            margin-right: 5px;
        }  
    }
    
    a{
        display: block;
        padding: 7px 12px;
        color: $nav-item-color-hover;
        font-size: 13px;

        &:hover{
            text-decoration: none;
        }
    }
}
#notifications-empty{
    background-color: #FFF;
    color: #666;
    padding: 10px 20px;
    
    li{
        border: none;
        border-radius: 0 5px 5px 0;
    }
}

/*--- ALERT ICON ---*/
.icon-bell{
    position: relative;
}
.alert-dotted{
    position: absolute;
    display: block;
    top: 9px;
    right: 6px;
    width: 12px;
    height: 12px;
    text-indent: -999em;
    background-color: red;
    border-radius: 10px;
}