.reports-list{
    &.ng-hide-add{
        #reports-empty{
            display: none;
        }
    }
}


/************************
// REPORT TABLE
************************/

$table-thead-row-bg: #494949;
$table-th-row-color: #fff;
$table-row-odd-bg: #353535;
$table-row-hover-bg: #444;
$table-title-color: #444;

$badge-good-color: #5cb85c;
$badge-bad: #d2322d;

.pd-table{
    > thead > tr{
//        background-color: $table-thead-row-bg;
        
        > th{
            border-bottom: none;
//            color: $table-th-row-color;
        }
    }
    > tbody > tr > td{
        border: none;
    }
    > tbody > tr:nth-child(odd) > td{
//        background-color: $table-row-odd-bg;
    }
    tr > td:first-child, tr > th:first-child{
        width: 32px;
        padding-left: 7px;
    }
    > tbody > tr:hover {
//        color: lighten(#909090, 30%);
        cursor: pointer;
    }
    > tbody > tr.report-positive:hover {
        cursor: default;
    }
    tr:hover{
        td{
//            background-color: $table-row-hover-bg !important;
        }
    }
}
.pd-table-title{
    margin: 0 0 15px;
    font-size: 1.8em;
    line-height: 1em;
    font-family: ThaiSansNeueRegular;
}

.badge-good{ background-color: $badge-good-color; }
.badge-bad{ background-color: $badge-bad; }

// Close Button
.title {
    .fa-times:hover{
        cursor: pointer;
    }
}

/************************
// REPORT MODAL (it will delete soon)
************************/

.modal-open .modal {
    display: block;
}

.report-modal{

    .modal-content{
        background-color: #3c3c3c;
        color: #909090;
    }
    .modal-inner{
        padding: 15px;
    }

    h1, h2, h3, dt{
        color: #fff;
    }

    .modal-title{
        font-size: 24px;
        margin: 0;
        padding: 15px;
        background-color: #303030;
        border-radius: 5px 5px 0 0;
    }
    .modal-subtitle{
        font-size: 1.9em;
        margin: 0 0 15px;
        font-family: ThaiSansNeueRegular;

        .fa-map-marker{
            color: #FFF200;
            margin: 5px 15px 0 5px;
        }
    }

    .fa-times{
        font-size: 1.6em;
        position: absolute;
        top: 20px;
        right: 15px;

        &:hover{
            cursor: pointer;
            color: #ccc;
        }
    }
}


/************************
// REPORT GALLERY
************************/

.report-image{
    margin: 0 0 1.5em;

    .list-inline{
        margin-top: 1em;
        margin-bottom: 0;

        li{
            margin-bottom: 10px;
            width: 16%;
            padding: 0 .5% 0 .5%;
        }
    }
}

.report-view{
    position: relative;
    background-color: #1a1a1a;
    min-height: 200px;

    img {
        max-width: 100%;
    }

    &.your-child-is-working {
        img {
            opacity: 0;
        }
    }

    .image-mask {
        display: none;
    }

    .image-mask.image-loader-progress {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: black;
        opacity: .8;
    }
}

.report-thumbnails {
    margin-bottom: 30px;

    img {
        width: 100%;
        opacity: .4;

        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }

    li.active{
        img{
            opacity: 1;
        }
    }
}

//Loading
.image-mask-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    display: block;
    height: 30px;
}

.report-new-icon {
    color: #e91e63;
}



/************************
// ETC
************************/

#recent-reports{
//    margin-top: 70px;
}

.report-fields{
    .nav-tabs > {
        border-bottom: 1px solid #888888;
        
        li{
            > a{
                margin-right: 5px;
                color: #fff;
                
                &:hover{
                    color: #2A2A2A;
                    background-color: #FFFFFF;
                    cursor: pointer;
                }
            }
            
            &.active > a{
                color: #2A2A2A;
                background-color: #FFFFFF;
                border: none;
            }
        }
    }
}

.spinner {
  margin: 20px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

