/************************
// REPORT LIST
************************/

.reports-list{
    &.ng-hide-add{
        #reports-empty{
            display: none;
        }
    }
}


/************************
// REPORT TABLE
************************/

$table-thead-row-bg: #ddd;
$table-th-row-color: #666;
$table-font-color: #666;
$table-row-odd-bg: #353535;
$table-row-hover-bg: #f2f2f2;
$table-title-color: #666;
$table-title-bg: #ccc;

$badge-good-color: #5cb85c;
$badge-bad: #FF6D69;

.pd-table-title{
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 1.8em;
    line-height: 1em;
    font-family: ThaiSansNeueRegular;
    background: $table-title-bg;
    color: $table-title-color;
    text-align: center;
}

// Width of column
.pd-table-flag{ width: 32px; }
.pd-table-date{ width: 140px; }
.pd-table-report-date{ width: 100px; }
.pd-table-type{ width: 100px; }
.pd-table-status{ width: 60px; }
.pd-table-reporter{ width: 110px; }
.pd-table-notification{ width: 25px; }

.badge-good{ background-color: $badge-good-color; }
.badge-bad{ background-color: $badge-bad; }

.pd-table{
    > thead > tr{
        background-color: $table-thead-row-bg;

        > th{
            border-bottom: none;
            color: $table-th-row-color;
            font-weight: normal;
        }
    }
    > tbody > tr > td{
        border: none;
        color: $table-font-color;
    }
    > tbody > tr:nth-child(odd) > td{
//        background-color: $table-row-odd-bg;
    }
    tr > td:first-child, tr > th:first-child{
        width: 32px;
        padding-left: 7px;
    }
    > tbody > tr:hover {
//        color: lighten(#909090, 30%);
        cursor: pointer;
    }
    > tbody > tr.report-positive:hover {
        cursor: default;
    }
    tr:hover{
        td{
            background-color: $table-row-hover-bg !important;
        }
    }
}

/*--- White Table ---*/
.pd-white-table{
    border: 1px solid #eee;
    margin: 0;

    > thead > tr{
        background-color: #fff;

        > th{
            border-bottom: none;
            color: #666;
        }
    }

    > tbody > tr > td{
        background-color: #fff;
        border-color: #eee;
        border-top-style: dotted;
        padding: 10px;
    }
}

/************************
// TABS INFOMATION
************************/

.pd-tabs{
    margin-bottom: 2em;

    .tab-pane:nth-child(2){
        padding: 10px;
        background-color: #fff;
    }
}

.nav-tabs{
    border-bottom: 1px solid #eee;

    > li{
        a{
            background-color: #EFEFEF;
            color: #999;
            margin-right: 5px;

            &:hover{
                color: #666;
                cursor: pointer;
                background-color: #ededed;
            }
        }

        &.active > a{
            border: 1px solid #eee;

            &:hover{
                background-color: #fff;
                color: #666;
                border: 1px solid #eee;
            }
        }
    }
}

/************************
// ERROR
************************/

#reports-error{
    margin: 20px;
}

/************************
// REPORT MODAL (it will delete soon)
************************/

//.modal-open .modal {
//    display: block;
//}
//
//.report-modal{
//
//    .modal-content{
//        background-color: #3c3c3c;
//        color: #909090;
//    }
//    .modal-inner{
//        padding: 15px;
//    }
//
//    h1, h2, h3, dt{
//        color: #fff;
//    }
//
//    .modal-title{
//        font-size: 24px;
//        margin: 0;
//        padding: 15px;
//        background-color: #303030;
//        border-radius: 5px 5px 0 0;
//    }
//    .modal-subtitle{
//        font-size: 1.9em;
//        margin: 0 0 15px;
//        font-family: ThaiSansNeueRegular;
//
//        .fa-map-marker{
//            color: #FFF200;
//            margin: 5px 15px 0 5px;
//        }
//    }
//
//    .fa-times{
//        font-size: 1.6em;
//        position: absolute;
//        top: 20px;
//        right: 15px;
//
//        &:hover{
//            cursor: pointer;
//            color: #ccc;
//        }
//    }
//}


/************************
// REPORT GALLERY
************************/

.report-image{
    margin: 0 0 1.5em;

    .list-inline{
        margin-top: 1em;
        margin-bottom: 0;

        li{
            margin-bottom: 10px;
            width: 16%;
            padding: 0 .5% 0 .5%;
        }
    }
}
.report-view{
    position: relative;
    background-color: #ECECEC;
    min-height: 200px;

    img {
        max-width: 100%;
    }

    &.your-child-is-working {
        img {
            opacity: 0;
        }
    }

    .image-mask {
        display: none;
    }

    .image-mask.image-loader-progress {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: black;
        opacity: .8;
    }
}
.report-thumbnails {
    margin-bottom: 30px;

    img {
        width: 100%;
        opacity: .4;

        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }

    li.active{
        img{
            opacity: 1;
        }
    }
}

/*--- Loading ---*/
.image-mask-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    display: block;
    height: 30px;
}
.report-new-icon {
    color: #e91e63;
}


/************************
// REPORT INFO
************************/
.pd-report-info{
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 0 2em;

    li{
        border-bottom: 1px dotted #eee;
        padding: 10px;
        float: left;
        clear: both;
        width: 100%;

        &:last-child{
            border-bottom: none;
        }
    }
}


//***************************
// FILE UPLOAD
//***************************
.file-upload {
    width: 100%;
    margin-top: 1em;
    position: relative;
    overflow: hidden;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

// Wrapper
.pd-file-upload{
    position: relative;
    height: 40px;
    background-color: #E0E0E0;
    border-radius: 5px;

    .upload{
        width: 270px;
        left: 30px;
    }
}

.pd-file-upload-area{}

.pd-file-upload-icon{
    padding: 15px 10px;
    border-right: 1px solid #ccc;
    background-color: #CACACA;

    &:hover{
        background-color: #ddd;
    }
}
.pd-file-upload-name{
    padding: 10px;
    overflow: hidden;
    width: 240px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pd-file-upload-clear{
    padding: 10px;
    color: #fff;
    background-color: rgb(247, 75, 75);
    position: absolute;
    top: 0;
    right: 0;

    &:hover{
        color: #fff;
    }
}
.pd-file-upload-attach{
    padding: 10px;
}



/************************
// ETC
************************/

.report-fields{
    .nav-tabs > {
        border-bottom: 1px solid #888888;

        li{
            > a{
                margin-right: 5px;
                color: #fff;

                &:hover{
                    color: #2A2A2A;
                    background-color: #FFFFFF;
                    cursor: pointer;
                }
            }

            &.active > a{
                color: #2A2A2A;
                background-color: #FFFFFF;
                border: none;
            }
        }
    }
}
