.selectize-control {
  /* Align Selectize with input-group-btn */
  top: 2px;
}
.selectize-control > .selectize-dropdown {
  top: 34px;
}
/* Reset right rounded corners, see Bootstrap input-groups.less */
.input-group > .selectize-control > .selectize-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


.pd-section-left{
  //display: none;
}
.fix-chart-row{
  min-height: 450px;
}


.info-container{
  width: 100% !important;
  padding: 0 !important;
  background-color: #fff;
}
.info-section-one, .info-section-two{
    padding: 0 40px;
}

.info{
    font-family: 'ThaiSansNeueRegular';
    
    .info-number{
      font-size: 200px;
      font-family: ThaiSansNeueBold;
      line-height: 120px;
      color: #59226D;
      margin-bottom: 20px;
    }
    .info-number-sm{
      font-size: 100px;
      line-height: 60px;
    }
    .text{
        font-size: 50px;
        font-family: ThaiSansNeueBold;
        line-height: 40px;
        color: #59226D;
    }
    .text-sm{
      font-size: 35px;
      line-height: 25px;
    }
    .text-gray{
      color: #333;
    }
}
.info-heading{
  font-size: 90px;
  font-family: ThaiSansNeueBold;
  color: #000;
  margin: 30px 0 50px;
}

.info-title{
    font-size: 56px;
    font-family: ThaiSansNeueBold;
    color: #333;
    margin: 0 0 30px;
}

.info-section-two{
    background-color: #412954;
    color: #fff;
}

//Table
.info-table{
    table-layout: fixed;
    background-color: #412954 !important;
    
    th{
        color: #fff;
        border: none !important;
    }
    td{
        border: none !important;
        font-size: 32px;
    }
    tbody tr:nth-child(odd){
        background-color: #4e3466 !important;
    }
}
.info-table{
    
}

//ICON
.info-icon{
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.info-report-icon{
  width: 63px;
  height: 77px;
  background: url('/images/ic-report.png');
}


//Chart
.graph1-legend{
  position: relative;
  top: -60px;
}
.legend-negative{
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
}
.legend-positive{
  width: 270px;
  position: absolute;
  right: 0;
  top: 0;
}

.bbbbb { background:red ;}
