/* line 3, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
html, body {
  height: 100%; }

/* line 6, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.clear {
  clear: both; }

/* line 10, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.pd-logo {
  overflow: hidden;
  margin: 0 auto 15px;
  width: 106px;
  height: 25px;
  background: url("../images/logo.png");
  text-indent: -999em; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .pd-logo {
      /* on retina, use image that's scaled by 2 */
      background-image: url('../images/logo@2x.png');
      background-size: 106px 25px; } }

/* line 21, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-12 {
  font-size: 12px; }

/* line 22, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-14 {
  font-size: 14px; }

/* line 23, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-16 {
  font-size: 16px; }

/* line 24, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-18 {
  font-size: 18px; }

/* line 25, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-22 {
  font-size: 22px; }

/* line 26, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-24 {
  font-size: 24px; }

/* line 27, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-26 {
  font-size: 26px; }

/* line 28, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.fa-size-32 {
  font-size: 32px; }

/* line 30, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.icon-yellow {
  color: #FFF200;
  margin: 5px 15px 0 5px; }

/* line 35, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.pd-sidebar-title {
  padding: 10px 15px;
  background-color: #303030; }
  /* line 39, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .pd-sidebar-title h2 {
    margin: 0;
    width: 450px;
    color: #fff;
    font-size: 1.85em;
    font-family: ThaiSansNeueRegular; }
  /* line 46, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .pd-sidebar-title .fa-times {
    color: #808080;
    font-size: 22px; }
  /* line 50, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .pd-sidebar-title .fa-times {
    margin-top: 5px; }
    /* line 52, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
    .pd-sidebar-title .fa-times:hover {
      color: #ccc;
      cursor: pointer; }
  /* line 57, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .pd-sidebar-title .fa-map-marker {
    color: #FFF200;
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 5px; }

/* line 68, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.subheading {
  margin: 0 0 15px;
  font: 1.8em/1em ThaiSansNeueRegular; }
  /* line 72, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .subheading i {
    margin: 0 6px 0 10px; }

/* line 83, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.modal-dialog {
  z-index: 1041; }

/* line 88, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.pd-dl-horizontal dt {
  text-align: left !important; }
/* line 91, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.pd-dl-horizontal dd {
  margin-bottom: 10px; }

/* line 97, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.report-filter {
  position: absolute;
  top: 18px;
  right: 0;
  left: 0;
  margin: auto;
  width: 700px; }
  /* line 104, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .report-filter .form-control {
    padding: 9px 20px;
    height: 37px;
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 4px 15px -5px rgba(0, 0, 0, 0);
    font-size: 1.2em;
    color: #333; }

/* line 113, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.pd-btn-search {
  margin-left: 0;
  width: 100px;
  height: 37px;
  border: 0;
  border-radius: 0 2px 2px 0;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  vertical-align: top;
  text-align: center;
  -webkit-transition: margin-left 200ms ease-out 0;
  transition: margin-left 200ms ease-out 0; }
  /* line 128, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .pd-btn-search:hover {
    background-color: #357ae8;
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8); }

/* line 138, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.page-login {
  background-color: #7474BF;
  background: -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
  /* W3C */ }

/* line 148, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 330px;
  max-height: 400px; }
  /* line 158, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .login .form-group {
    margin: 0 0 15px; }
  /* line 161, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .login .form-group:last-child {
    margin-bottom: 0; }
  /* line 164, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .login .alert {
    margin-top: 20px; }
  /* line 168, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .login form {
    margin-top: 20px; }
    /* line 171, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
    .login form .alert {
      margin-top: 0; }

/* line 176, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.login-inner {
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 1px 1px 7px #666;
  -ms-box-shadow: 1px 1px 7px #666;
  -webkit-box-shadow: 1px 1px 7px #666;
  -moz-box-shadow: 1px 1px 7px #666; }
  /* line 183, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .login-inner .logo-img {
    margin: 15px 0; }

/* line 191, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.reports-empty {
  padding: 20px;
  border: 1px solid #eee;
  background-color: #f7f7f7; }

/* line 197, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.logo-img {
  width: 270px; }

/* line 202, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.form-group .alert {
  padding: 5px 12px;
  margin-top: 10px !important;
  margin-bottom: 0; }

/* line 209, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.btn-login {
  width: 100%; }

/* line 214, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.loadmore .btn {
  width: 100%;
  color: #666;
  border: 1px solid #DFDFDF;
  background: #F9F9F9; }

/* line 223, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.section-filter {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  margin: auto;
  width: 700px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }
  /* line 236, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .section-filter.ng-hide-remove {
    top: -100px; }
  /* line 240, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .section-filter.ng-hide {
    top: -100px; }

@-webkit-keyframes bg-opacity {
  /* line 246, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  0% {
    background-color: transparent; }

  /* line 250, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  50% {
    background-color: #EAEAEA; }

  /* line 254, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  100% {
    background-color: #EAEAEA; } }

@keyframes bg-opacity {
  /* line 260, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  0% {
    background-color: transparent; }

  /* line 264, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  50% {
    background-color: #EAEAEA; }

  /* line 268, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  100% {
    background-color: #EAEAEA; } }

/* line 273, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.blink {
  animation: pulse 0.5s 0.5s alternate forwards, bg-opacity 0.8s;
  -webkit-animation: pulse 0.5s 0.5s alternate forwards, bg-opacity 0.8s;
  -moz-animation: pulse 0.5s 0.5s alternate forwards, bg-opacity 0.8s;
  -ms-animation: pulse 0.5s 0.5s alternate forwards, bg-opacity 0.8s;
  background-color: #EAEAEA;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease; }

/* line 287, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.sweet-alert {
  z-index: 9998; }
  /* line 290, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .sweet-alert p.lead {
    margin-top: 1.5em;
    font-size: 1.3em; }
  /* line 294, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .sweet-alert .sweet-alert {
    z-index: 9999; }
  /* line 297, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .sweet-alert .btn-lg {
    font-size: 14px; }

/* line 302, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.sweet-overlay {
  z-index: 9998; }

/* FILE UPLOAD */
/* line 309, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px 10px 0 0; }

/* line 315, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.avatar-w4 {
  width: 40px;
  height: 40px; }

/* line 319, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.time {
  font-size: 11px;
  margin-top: 3px; }

/* line 325, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.your-child-is-working img {
  opacity: 0; }

/* line 330, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.image-mask {
  display: none; }

/* line 334, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.image-mask.image-loader-progress {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8; }

/* line 346, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.scroller {
  position: relative; }

/* line 350, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.scroller-x {
  overflow-x: hidden; }

/* line 353, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.scroller-y {
  overflow-y: hidden; }

/* line 357, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.ui-grid-native-scrollbar.vertical {
  width: 17px !important; }

/* line 363, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.mini-box {
  margin: 0 0 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  box-shadow: none;
  border: none; }
  /* line 372, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .mini-box .mini-box-text {
    font-size: 15px; }
  /* line 375, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
  .mini-box .mini-box-number {
    margin: 0;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold; }

/* line 382, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.mini-box-total {
  color: #fff;
  background-color: dimgray; }

/* line 386, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.mini-box-good {
  color: #fff;
  background-color: #5cb85c; }

/* line 390, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/base */
.mini-box-bad {
  color: #fff;
  background-color: salmon; }

/* line 5, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.pd-container {
  position: relative; }

/* line 9, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.pd-section-left {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease; }

/* line 19, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.pd-sidebar-right {
  box-shadow: 1px 1px 7px #444;
  -ms-box-shadow: 1px 1px 7px #444;
  -webkit-box-shadow: 1px 1px 7px #444;
  -moz-box-shadow: 1px 1px 7px #444;
  position: absolute;
  top: 0;
  right: 0;
  width: 530px;
  height: 100%;
  z-index: 999;
  color: #909090;
  background-color: #3c3c3c;
  overflow-y: scroll; }
  /* line 31, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .pd-sidebar-right.ng-hide-remove {
    -webkit-animation: fadeInRight 0.5s 0.2s alternate forwards;
    opacity: 0; }
  /* line 36, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .pd-sidebar-right.ng-hide-add {
    -webkit-animation: fadeOutRight 0.5s 0.2s alternate forwards; }

/* line 54, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.l-section {
  position: absolute;
  top: 0;
  height: 100%; }
  /* line 59, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-section .title {
    height: 52px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(190, 190, 190, 0.2);
    font-size: 1.7em;
    font-family: ThaiSansNeueRegular;
    color: #fff;
    background-color: #9966cb; }
    /* line 70, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
    .l-section .title h2 {
      margin: 0 0.5em 0 0;
      line-height: 1em; }
      /* line 74, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
      .l-section .title h2 i {
        line-height: inherit;
        margin-right: 15px; }
    /* line 76, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
    .l-section .title i {
      line-height: 32px; }
  /* line 80, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-section .content-wrapper {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    bottom: 0; }
  /* line 87, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-section .content {
    padding: 20px 10px;
    height: 100%; }

/* line 92, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.l-report-section {
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  left: 50px;
  width: 47%;
  background-color: #fff;
  z-index: 9996; }
  /* line 99, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-report-section.ng-hide-remove {
    -moz-animation: fadeInLeft 0.5s 0.2s alternate forwards;
    -webkit-animation: fadeInLeft 0.5s 0.2s alternate forwards;
    opacity: 0; }
  /* line 105, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-report-section.ng-hide-add {
    -moz-animation: fadeOutLeft 0.5s 0.2s alternate forwards;
    -webkit-animation: fadeOutLeft 0.5s 0.2s alternate forwards; }

/* line 110, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.l-info-section {
  /* Wrapping detail & comment section */
  top: 0;
  right: 0;
  width: 53%;
  z-index: 9990; }
  /* line 116, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-info-section.ng-hide-remove {
    -webkit-animation: fadeInLeft 0.5s 0.2s alternate forwards;
    -moz-animation: fadeInLeft 0.5s 0.2s alternate forwards;
    opacity: 0; }
  /* line 122, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-info-section.ng-hide-add {
    -webkit-animation: fadeOutLeft 0.5s 0.2s alternate forwards;
    -moz-animation: fadeOutLeft 0.5s 0.2s alternate forwards; }
  /* line 127, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-info-section.l-full-width {
    width: 100%; }
    /* line 130, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
    .l-info-section.l-full-width .content {
      max-width: 600px;
      margin: 0 auto; }

/* line 136, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.l-detail-section {
  top: 0;
  left: 0;
  width: 100%;
  border-left: 50px solid transparent;
  color: #666;
  background-color: whitesmoke; }
  /* line 145, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-detail-section .title {
    background-color: #8D58C2; }
  /* line 149, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
  .l-detail-section .content {
    padding: 20px 35px; }

/* line 153, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.l-comment-section {
  right: 0%;
  width: 30%;
  background-color: #333; }

/* line 164, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.l-map.ng-hide-remove {
  -webkit-animation: fadeIn 0.5s 0.2s alternate forwards;
  -moz-animation: fadeIn 0.5s 0.2s alternate forwards;
  opacity: 0; }
/* line 170, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.l-map.ng-hide-add {
  -webkit-animation: fadeOut 1s 0.2s alternate forwards;
  -moz-animation: fadeOut 1s 0.2s alternate forwards; }

/* line 180, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/layout */
.title .fa-times:hover {
  cursor: pointer; }

/* ------------------------ */
/* line 2, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
#map {
  left: 50px;
  right: 0;
  height: 100%;
  position: absolute; }
  /* line 10, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
  #map .awesome-marker i {
    font-size: 22px;
    margin-top: 6px; }

/* line 21, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.leaflet-container .tooltip {
  width: 200px; }

/* line 26, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.radar-wink-wrapper {
  pointer-events: none;
  cursor: inherit; }

/* line 31, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.radar-wink {
  width: 160px;
  height: 160px;
  background-color: #e91e63;
  border-radius: 160px;
  opacity: 0.5;
  animation-duration: 1.8s;
  animation-name: wink;
  animation-iteration-count: infinite; }

/* line 45, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.radar-hide {
  display: none; }

/* line 49, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.radar-focus {
  display: block; }
  /* line 52, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
  .radar-focus .radar-wink {
    opacity: 0.68;
    animation: none;
    background-color: #9966CB; }

@keyframes wink {
  /* line 60, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
  from {
    opacity: 0.5;
    transform: scale(0.1); }

  /* line 65, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
  to {
    opacity: 0.1;
    transform: scale(1); } }

/* line 73, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.leaflet-top.leaflet-top {
  position: absolute;
  top: 7px;
  right: 15px;
  left: auto;
  z-index: 9990; }

/* line 83, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  text-indent: -9999em; }

/* line 87, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/map */
.map-mask {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #fff; }

/************************
// REPORT LIST
************************/
/* line 7, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.reports-list.ng-hide-add #reports-empty {
  display: none; }

/* line 14, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-followup-parent .report-followup-title {
  color: #f44336; }

/* line 19, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-followup-title {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer; }

/* line 26, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.reports-to-follow li {
  cursor: pointer; }
/* line 31, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.reports-to-follow .selected-case td {
  background-color: #dff0d8 !important; }
/* line 35, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.reports-to-follow tr:hover {
  cursor: pointer; }
/* line 38, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.reports-to-follow .subheading {
  margin: 0; }

/* ignore */
/* line 45, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.flag-priority-1 {
  color: #9e9e9e; }

/* ok */
/* line 49, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.flag-priority-2 {
  color: #4caf50; }

/* contact */
/* line 53, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.flag-priority-3 {
  color: #9c27b0; }

/* follow */
/* line 57, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.flag-priority-4 {
  color: #2196f3; }

/* critical */
/* line 61, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.flag-priority-5 {
  color: #f44336; }

/************************
// REPORT TABLE
************************/
/* line 81, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-title {
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 1.8em;
  line-height: 1em;
  font-family: ThaiSansNeueRegular;
  background: #ccc;
  color: #666;
  text-align: center; }

/* line 94, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-flag {
  width: 22px; }

/* line 95, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-date {
  width: 110px;
  text-align: center; }

/* line 96, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-report-date {
  width: 100px; }

/* line 97, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-type {
  width: 100px;
  text-align: center; }

/* line 98, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-status {
  width: 50px;
  text-align: center; }

/* line 99, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-reporter {
  width: 110px;
  text-align: center; }

/* line 100, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table-notification {
  width: 25px;
  text-align: center; }

/* line 102, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.badge-zero {
  background-color: #c1c1c1; }

/* line 103, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.badge-good {
  background-color: #5cb85c; }

/* line 104, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.badge-bad {
  background-color: #FF6D69; }

/* line 106, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.badge-new {
  background-color: #FF6D69;
  font-weight: normal;
  font-size: 10px; }

/* line 113, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table > thead > tr {
  background-color: #ddd; }
  /* line 116, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-table > thead > tr > th {
    border-bottom: none;
    color: #666;
    font-weight: normal; }
/* line 122, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table > tbody > tr > td {
  border: none;
  padding: 5px;
  color: #666; }
/* line 130, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table tr > td:first-child, .pd-table tr > th:first-child {
  width: 22px;
  padding-left: 7px;
  text-align: center; }
/* line 135, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table > tbody > tr:hover {
  cursor: pointer; }
/* line 139, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table > tbody > tr.report-positive:hover {
  cursor: default; }
/* line 143, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table tr:hover td {
  background-color: #f2f2f2 !important; }
/* line 148, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-table .pd-table-notification td {
  text-align: center; }

/*--- White Table ---*/
/* line 155, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-white-table {
  border: 1px solid #eee;
  margin: 0; }
  /* line 159, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-white-table > thead > tr {
    background-color: #fff; }
    /* line 162, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
    .pd-white-table > thead > tr > th {
      border-bottom: none;
      color: #666; }
  /* line 168, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-white-table > tbody > tr > td {
    background-color: #fff;
    border-color: #eee;
    border-top-style: dotted;
    padding: 10px; }

/************************
// TABS INFOMATION
************************/
/* line 180, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-tabs {
  margin-bottom: 2em; }
  /* line 183, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-tabs .tab-pane:nth-child(2), .pd-tabs .tab-pane:nth-child(3) {
    padding: 15px 10px 10px;
    background-color: #fff; }

/* line 189, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.nav-tabs {
  border-bottom: 1px solid #eee; }
  /* line 193, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .nav-tabs > li a {
    background-color: #EFEFEF;
    color: #999;
    margin-right: 5px; }
    /* line 198, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
    .nav-tabs > li a:hover {
      color: #666;
      cursor: pointer;
      background-color: #ededed; }
  /* line 205, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .nav-tabs > li.active > a {
    border: 1px solid #eee; }
    /* line 208, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
    .nav-tabs > li.active > a:hover {
      background-color: #fff;
      color: #666;
      border: 1px solid #eee; }

/************************
// ERROR
************************/
/* line 221, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
#reports-error {
  margin: 20px; }

/************************
// REPORT MODAL (it will delete soon)
************************/
/************************
// REPORT GALLERY
************************/
/* line 283, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-image {
  margin: 0 0 1.5em; }
  /* line 286, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .report-image .list-inline {
    margin-top: 1em;
    margin-bottom: 0; }
    /* line 290, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
    .report-image .list-inline li {
      margin-bottom: 10px;
      width: 24%;
      padding: 0 0 0 1.3333%; }

/* line 297, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-view {
  position: relative;
  background-color: #ECECEC;
  min-height: 200px; }
  /* line 302, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .report-view img {
    max-width: 100%; }

/* line 306, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-thumbnails {
  margin-bottom: 30px;
  margin-left: 0;
  clear: both; }
  /* line 311, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .report-thumbnails img {
    width: 100%; }
    /* line 314, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
    .report-thumbnails img:hover {
      opacity: 1;
      cursor: pointer; }
  /* line 321, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .report-thumbnails li.active img {
    opacity: 1; }

/*--- Loading ---*/
/* line 328, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.image-mask-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100px;
  display: block;
  height: 30px; }

/* line 339, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-new-icon {
  color: #e91e63; }

/************************
// REPORT INFO
************************/
/* line 347, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-report-info {
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0 0 2em; }
  /* line 355, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-report-info li {
    border-bottom: 1px dotted #eee;
    padding: 10px;
    float: left;
    clear: both;
    width: 100%; }
    /* line 362, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
    .pd-report-info li:last-child {
      border-bottom: none; }

/* line 372, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.file-upload {
  width: 100%;
  margin-top: 1em;
  position: relative;
  overflow: hidden; }

/* line 378, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

/* line 391, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-file-upload {
  position: relative;
  height: 40px;
  background-color: #E0E0E0;
  border-radius: 5px; }
  /* line 397, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-file-upload .upload {
    width: 88%;
    left: 30px; }

/* line 405, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-file-upload-icon {
  padding: 15px 10px;
  border-right: 1px solid #ccc;
  background-color: #CACACA; }
  /* line 410, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-file-upload-icon:hover {
    background-color: #ddd; }

/* line 414, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-file-upload-name {
  padding: 10px;
  overflow: hidden;
  width: 240px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 422, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-file-upload-clear {
  padding: 10px;
  color: #fff;
  background-color: #f74b4b;
  position: absolute;
  top: 0;
  right: 0; }
  /* line 430, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .pd-file-upload-clear:hover {
    color: #fff; }

/* line 434, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-file-upload-attach {
  padding: 10px; }

/************************
// ETC
************************/
/* line 445, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-fields .nav-tabs> {
  border-bottom: 1px solid #888888; }
  /* line 449, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .report-fields .nav-tabs > li > a {
    margin-right: 5px;
    color: #fff; }
    /* line 453, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
    .report-fields .nav-tabs > li > a:hover {
      color: #2A2A2A;
      background-color: #FFFFFF;
      cursor: pointer; }
  /* line 460, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .report-fields .nav-tabs > li.active > a {
    color: #2A2A2A;
    background-color: #FFFFFF;
    border: none; }

/* line 468, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.priority-report {
  margin: 5px 10px 0 0; }

/* line 476, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.lightbox-nav {
  text-align: left; }

/* line 479, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.lightbox-image-container-map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden; }
  /* line 487, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .lightbox-image-container-map.show-image-map {
    visibility: visible; }

/* line 491, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
#image-position-map {
  height: 100%;
  width: 100%; }

/* line 496, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.lightbox-modal .modal-dialog {
  height: 100%;
  min-width: 400px; }
/* line 501, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.lightbox-modal .modal-content {
  position: absolute;
  top: 0;
  bottom: 60px;
  width: 100%; }
/* line 508, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.lightbox-modal .leaflet-top.leaflet-left {
  top: 0; }
/* line 513, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.lightbox-modal .lightbox-image-container img {
  max-width: 100%;
  height: auto !important; }

/* line 519, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.show-map-button-wrapper {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0; }
  /* line 525, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .show-map-button-wrapper button {
    margin: 0 auto; }

/* line 530, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.info-list {
  padding: 20px 30px;
  background: #fff;
  margin: 20px 50px;
  border: 1px solid #eee; }

/* line 536, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.loading-block {
  padding: 20px 30px;
  background: #fff;
  margin: 20px 50px;
  border: 1px solid #eee; }

/* line 542, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.search-block {
  margin: 20px 50px; }
  /* line 545, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .search-block .form-control {
    height: 38px; }
  /* line 548, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .search-block .fa-calendar {
    margin: 0 0px 0 5px; }

/* line 552, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.weekpicker {
  top: 41px !important;
  left: 100px !important; }

/* line 557, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.cell-center {
  text-align: center; }

/* line 558, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.gray {
  background-color: #e7e7e7;
  color: #777; }

/* line 559, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.red {
  background-color: #ff4d4d;
  color: #fff; }

/* line 561, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.custom-csv-link-location a {
  margin-top: 20px; }

/* line 565, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.ui-grid-cell-contents-collapse-2 {
  overflow: visible !important; }

/* line 569, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.ui-grid-collapse-2 {
  text-align: center;
  font-size: 11px; }

/* line 575, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.case-content {
  width: 100px; }

/* line 579, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.pd-badge-cell {
  text-align: center;
  font-size: 11px; }

/* line 584, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.grid-report {
  min-width: 743px; }

/* line 588, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.daterangepicker {
  z-index: 9999 !important; }

/* line 592, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.report-list-help li {
  margin-top: 10px; }

/* line 596, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.case-confirmation-box {
  transition: opacity 1s ease;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -moz-transition: all 1s ease; }
  /* line 602, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .case-confirmation-box.ng-hide-add, .case-confirmation-box .ng-hide-remove {
    opacity: 1;
    display: block !important; }
  /* line 607, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
  .case-confirmation-box.ng-hide {
    opacity: 0; }

/* line 612, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.btn-text {
  margin: 0;
  color: #777;
  font-weight: normal; }

/* line 617, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/report */
.view-textbox {
  height: 38px;
  padding: 9px 10px;
  border: 1px solid #ddd;
  background-color: #fff; }

/* line 14, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.pd-section-left {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9997;
  background: #333;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1); }

/* line 27, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.pd-nav-list {
  padding: 0;
  list-style: none; }

/* line 32, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.logo {
  display: block;
  width: 30px;
  height: 24px;
  margin: 14px auto 14px;
  background: url("../images/logo-small.png"); }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .logo {
      /* on retina, use image that's scaled by 2 */
      background-image: url('../images/logo-small@2x.png');
      background-size: 30px 23px; } }

/* line 42, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.pd-nav-item {
  position: relative;
  color: #fff;
  text-align: center;
  /* Hide Text */ }
  /* line 47, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .pd-nav-item:hover {
    background-color: #eee;
    color: #404040; }
    /* line 51, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .pd-nav-item:hover .pd-nav-text {
      left: 42px;
      opacity: 1; }
    /* line 56, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .pd-nav-item:hover i {
      color: #404040; }
  /* line 60, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .pd-nav-item .pd-nav-text {
    box-shadow: 0px 0px 5px #505050;
    -ms-box-shadow: 0px 0px 5px #505050;
    -webkit-box-shadow: 0px 0px 5px #505050;
    -moz-box-shadow: 0px 0px 5px #505050;
    position: absolute;
    top: 0;
    left: -999em;
    height: 42px;
    width: 120px;
    padding: 10px;
    line-height: 24px;
    z-index: -1;
    background: #eee;
    border-radius: 0 5px 5px 0;
    opacity: 0;
    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease; }
  /* line 80, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .pd-nav-item.active {
    background-color: #0074d9;
    /* Make text active style */ }
    /* line 83, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .pd-nav-item.active i {
      color: #fff; }
    /* line 86, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .pd-nav-item.active .pd-nav-text {
      color: #fff;
      background-color: #0074d9; }

/* line 94, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.pd-nav-title {
  padding: 5px 0;
  display: block;
  font: 22px/20px ThaiSansNeueRegular;
  line-height: 20px;
  /* Clear defuaft hover style */ }
  /* line 101, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .pd-nav-title:hover {
    background-color: transparent;
    color: #fff; }

/* line 108, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.pd-nav-icon {
  height: 42px;
  padding: 12px 12px 8px 12px;
  display: block;
  position: relative;
  color: #fff;
  font: 20px/20px ThaiSansNeueRegular; }
  /* line 117, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .pd-nav-icon:hover {
    cursor: pointer;
    color: #404040; }

/* line 135, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.pd-nav-item:hover .notification-block, .pd-nav-item:hover .pd-nav-submenu {
  display: block; }

/* line 139, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.notification-block, .pd-nav-submenu {
  box-shadow: 0px 0px 5px #505050;
  -ms-box-shadow: 0px 0px 5px #505050;
  -webkit-box-shadow: 0px 0px 5px #505050;
  -moz-box-shadow: 0px 0px 5px #505050;
  position: absolute;
  display: none;
  top: 0;
  left: 50px;
  width: 300px;
  z-index: -1;
  text-align: left;
  border-radius: 0 5px 5px 0;
  overflow: hidden; }
  /* line 151, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .notification-block ul, .pd-nav-submenu ul {
    list-style: none;
    padding: 0; }
  /* line 155, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .notification-block li, .pd-nav-submenu li {
    border-bottom: 1px solid #dadada;
    background-color: #eee; }
    /* line 159, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .notification-block li.read, .pd-nav-submenu li.read {
      background-color: #ececec; }
    /* line 163, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .notification-block li:hover, .pd-nav-submenu li:hover {
      background-color: #fff; }
    /* line 167, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .notification-block li .fa-comment, .pd-nav-submenu li .fa-comment {
      margin-right: 5px; }
  /* line 172, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .notification-block a, .pd-nav-submenu a {
    display: block;
    padding: 7px 12px;
    color: #404040;
    font-size: 13px; }
    /* line 178, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
    .notification-block a:hover, .pd-nav-submenu a:hover {
      text-decoration: none; }

/* line 183, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.notifications-empty {
  color: #666; }
  /* line 186, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
  .notifications-empty li {
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 11px 20px 11px;
    background-color: #eee; }

/* line 197, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.pd-nav-submenu li a {
  padding: 10px 20px;
  font: 20px/22px ThaiSansNeueRegular; }

/*--- ALERT ICON ---*/
/* line 205, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.icon-bell {
  position: relative; }

/* line 208, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/nav */
.alert-dotted {
  position: absolute;
  display: block;
  top: 9px;
  right: 6px;
  width: 12px;
  height: 12px;
  text-indent: -999em;
  background-color: red;
  border-radius: 10px; }

@font-face {
  font-family: 'THSarabunNewRegular';
  src: url('THSarabunNew/thsarabunnew.eot');
  src: url('THSarabunNew/thsarabunnew.eot') format('embedded-opentype'), url('THSarabunNew/thsarabunnew.woff') format('woff'), url('THSarabunNew/thsarabunnew.ttf') format('truetype'), url('THSarabunNew/thsarabunnew.svg#THSarabunNewRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'THSarabunNewBold';
  src: url('THSarabunNew/thsarabunnewbold.eot');
  src: url('THSarabunNew/thsarabunnewbold.eot') format('embedded-opentype'), url('THSarabunNew/thsarabunnewbold.woff') format('woff'), url('THSarabunNew/thsarabunnewbold.ttf') format('truetype'), url('THSarabunNew/thsarabunnewbold.svg#THSarabunNewBold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ThaiSansNeueRegular';
  src: url('ThaiSansNeue/thaisansneue-regular.eot');
  src: url('ThaiSansNeue/thaisansneue-regular.eot') format('embedded-opentype'), url('ThaiSansNeue/thaisansneue-regular.woff') format('woff'), url('ThaiSansNeue/thaisansneue-regular.ttf') format('truetype'), url('ThaiSansNeue/thaisansneue-regular.svg#ThaiSansNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ThaiSansNeueBold';
  src: url('ThaiSansNeue/thaisansneue-bold.eot');
  src: url('ThaiSansNeue/thaisansneue-bold.eot') format('embedded-opentype'), url('ThaiSansNeue/thaisansneue-bold.woff') format('woff'), url('ThaiSansNeue/thaisansneue-bold.ttf') format('truetype'), url('ThaiSansNeue/thaisansneue-bold.svg#ThaiSansNeueBold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RSURegular';
  src: url('RSU/rsu_regular.eot');
  src: url('RSU/rsu_regular.eot') format('embedded-opentype'), url('RSU/rsu_regular.woff') format('woff'), url('RSU/rsu_regular.ttf') format('truetype'), url('RSU/rsu_regular.svg#RSURegular') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 1, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
.filter-result {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-size: 15px;
  display: block;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: #888; }
  /* line 14, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-result .filter-result-item {
    overflow: hidden; }
  /* line 18, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-result .filter-title {
    font-size: 1em;
    margin: 10px 0 8px; }
  /* line 22, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-result .filter-result-list-button {
    font-size: 14px; }

/* line 27, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
.filter-result-reports {
  overflow: hidden; }
  /* line 30, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-result-reports .pd-table-area {
    width: 144px; }
  /* line 34, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-result-reports .report-negative {
    cursor: pointer; }
    /* line 37, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
    .filter-result-reports .report-negative .ui-grid-disable-selection {
      cursor: pointer; }
  /* line 42, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-result-reports .filter-result-list-button {
    margin-top: -28px; }

/* line 47, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
.filter-help {
  position: absolute;
  overflow: auto;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-size: 15px;
  display: block;
  margin-top: 10px;
  width: 699px;
  padding: 10px 20px;
  z-index: 99;
  /* above filter result */ }
  /* line 62, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-help .fa-info-circle {
    margin-right: 10px; }
  /* line 65, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-help h4 {
    font-size: 16px; }
  /* line 69, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-help [filter-this] {
    cursor: pointer;
    color: #31708F;
    background-color: #D9EDF7; }

/* line 78, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
.btn-info-search {
  height: 38px;
  border: 1px solid #DDD;
  background-color: #ececec;
  z-index: 99;
  margin-right: 0; }
  /* line 85, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .btn-info-search:hover {
    background-color: #d5d5d5;
    border-color: #cfcfcf;
    z-index: 99 !important; }

/* line 92, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
.filter-list-help {
  font-size: 14px; }
  /* line 95, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
  .filter-list-help > li {
    margin-bottom: 10px; }

/* line 100, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/filter */
.filter-wrapper {
  margin: 20px 0 0; }

/* line 1, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
.comments-wrapper {
  border-top: 4px solid #DBDBDB;
  padding-top: 20px;
  position: relative; }

/* line 6, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
.comment-item {
  padding: 15px 5px;
  border-bottom: 1px solid #e5e5e5; }

/* line 10, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
.comment-post {
  color: #666;
  word-break: break-all; }
  /* line 14, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  .comment-post .label {
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px 0 0;
    background-color: #F5BA84; }

/* line 21, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
.comment-meta {
  font-size: 0.75em;
  color: #A5A5A5; }

/*--- FORM ---*/
/* line 27, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
.comment-form {
  margin-bottom: 1em; }
  /* line 30, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  .comment-form textarea {
    height: 70px; }

/* line 34, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
.btn-post {
  margin-top: 1em;
  width: 100%;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  background-color: #509622 !important; }
  /* line 42, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  .btn-post:hover {
    background-color: #438616 !important;
    color: #fff; }

/* line 53, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
mentio-menu {
  z-index: 9999 !important; }
  /* line 56, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .menu-highlighted {
    background-color: yellow; }
  /* line 60, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .list-group-item.active {
    background-color: #f5f5f5; }
  /* line 64, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .user-search:hover {
    cursor: pointer; }
  /* line 69, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .user-search .list-group-item-heading, mentio-menu .user-search .list-group-item-text {
    margin-left: 10px; }
  /* line 73, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .user-search .list-group-item.active {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca; }
  /* line 79, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .user-search .list-group-item.active .text-muted {
    color: #ccc; }
  /* line 83, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .user-search .list-group-item.active .text-primary {
    color: #fff; }
  /* line 87, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/comment */
  mentio-menu .user-search .list-group-item {
    padding: 5px; }

/* line 5, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.loader-container {
  position: relative;
  height: 100%; }

/* line 9, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  margin: auto !important; }

/* line 19, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.spinner {
  margin: 20px auto 0;
  width: 70px;
  text-align: center; }

/* line 25, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 39, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

/* line 44, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

/* line 50, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.loader.spinner [class^="bounce"] {
  background-color: #777; }

@-webkit-keyframes bouncedelay {
  /* line 56, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  0%, 80%, 100% {
    -webkit-transform: scale(0); }

  /* line 57, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  40% {
    -webkit-transform: scale(1); } }

@keyframes bouncedelay {
  /* line 61, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }

  /* line 64, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes heartbeat {
  /* line 74, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  0% {
    transform: scale3d(1, 1, 1); }

  /* line 78, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  50% {
    transform: scale3d(1.4, 1.4, 1.4); }

  /* line 82, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  100% {
    transform: scale3d(1, 1, 1); } }

/* line 87, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
.splash {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 999999; }
  /* line 89, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  .splash[ng-cloak] {
    display: block; }
  /* line 101, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
  .splash .splash-content {
    display: block;
    position: absolute;
    width: 50%;
    height: 0;
    top: -100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center; }
    /* line 113, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
    .splash .splash-content p {
      margin: 0 0 10px;
      font-size: 1em; }
    /* line 119, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/loading */
    .splash .splash-content .icon-heart {
      margin-left: 20px;
      transition: transform 0.7s;
      animation-name: heartbeat;
      animation-duration: 0.7s;
      animation-iteration-count: infinite; }

/* line 1, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.selectize-control {
  /* Align Selectize with input-group-btn */
  top: 2px; }

/* line 5, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.selectize-control > .selectize-dropdown {
  top: 34px; }

/* Reset right rounded corners, see Bootstrap input-groups.less */
/* line 9, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.input-group > .selectize-control > .selectize-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

/* line 15, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.pd-section-left {
  display: none; }

/* line 18, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.fix-chart-row {
  min-height: 450px; }

/* line 23, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-container {
  width: 100% !important;
  padding: 0 !important;
  background-color: #fff; }

/* line 28, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-section-one, .info-section-two {
  padding: 0 40px; }

/* line 32, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info {
  font-family: 'ThaiSansNeueRegular'; }
  /* line 35, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info .info-number {
    font-size: 200px;
    font-family: ThaiSansNeueBold;
    line-height: 120px;
    color: #59226D;
    margin-bottom: 20px; }
  /* line 42, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info .info-number-sm {
    font-size: 100px;
    line-height: 60px; }
  /* line 46, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info .text {
    font-size: 50px;
    font-family: ThaiSansNeueBold;
    line-height: 40px;
    color: #59226D; }
  /* line 52, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info .text-sm {
    font-size: 35px;
    line-height: 25px; }
  /* line 56, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info .text-gray {
    color: #333; }

/* line 60, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-heading {
  font-size: 90px;
  font-family: ThaiSansNeueBold;
  color: #000;
  margin: 30px 0 50px; }

/* line 67, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-title {
  font-size: 56px;
  font-family: ThaiSansNeueBold;
  color: #333;
  margin: 0 0 30px; }

/* line 74, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-section-two {
  background-color: #412954;
  color: #fff; }

/* line 80, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-table {
  table-layout: fixed;
  background-color: #412954 !important; }
  /* line 84, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info-table th {
    color: #fff;
    border: none !important; }
  /* line 88, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info-table td {
    border: none !important;
    font-size: 32px; }
  /* line 92, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
  .info-table tbody tr:nth-child(odd) {
    background-color: #4e3466 !important; }

/* line 101, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-icon {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle; }

/* line 106, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.info-report-icon {
  width: 63px;
  height: 77px;
  background: url('/images/ic-report.png'); }

/* line 114, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.graph1-legend {
  position: relative;
  top: -60px; }

/* line 118, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.legend-negative {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0; }

/* line 124, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.legend-positive {
  width: 270px;
  position: absolute;
  right: 0;
  top: 0; }

/* line 131, /Users/Chatchai/Documents/OD-Git/podd-dashboard/app/styles/visualize */
.bbbbb {
  background: red; }

/*# sourceMappingURL=app.css.map */