@font-face {
    font-family: 'THSarabunNewRegular';
    src: url('fonts/THSarabunNew/thsarabunnew.eot');
    src: url('fonts/THSarabunNew/thsarabunnew.eot') format('embedded-opentype'),
         url('fonts/THSarabunNew/thsarabunnew.woff') format('woff'),
         url('fonts/THSarabunNew/thsarabunnew.ttf') format('truetype'),
         url('fonts/THSarabunNew/thsarabunnew.svg#THSarabunNewRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'THSarabunNewBold';
    src: url('fonts/THSarabunNew/thsarabunnewbold.eot');
    src: url('fonts/THSarabunNew/thsarabunnewbold.eot') format('embedded-opentype'),
         url('fonts/THSarabunNew/thsarabunnewbold.woff') format('woff'),
         url('fonts/THSarabunNew/thsarabunnewbold.ttf') format('truetype'),
         url('fonts/THSarabunNew/thsarabunnewbold.svg#THSarabunNewBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ThaiSansNeueRegular';
    src: url('fonts/ThaiSansNeue/thaisansneue-regular.eot');
    src: url('fonts/ThaiSansNeue/thaisansneue-regular.eot') format('embedded-opentype'),
         url('fonts/ThaiSansNeue/thaisansneue-regular.woff') format('woff'),
         url('fonts/ThaiSansNeue/thaisansneue-regular.ttf') format('truetype'),
         url('fonts/ThaiSansNeue/thaisansneue-regular.svg#ThaiSansNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ThaiSansNeueBold';
    src: url('fonts/ThaiSansNeue/thaisansneue-bold.eot');
    src: url('fonts/ThaiSansNeue/thaisansneue-bold.eot') format('embedded-opentype'),
         url('fonts/ThaiSansNeue/thaisansneue-bold.woff') format('woff'),
         url('fonts/ThaiSansNeue/thaisansneue-bold.ttf') format('truetype'),
         url('fonts/ThaiSansNeue/thaisansneue-bold.svg#ThaiSansNeueBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RSURegular';
    src: url('fonts/RSU/rsu_regular.eot');
    src: url('fonts/RSU/rsu_regular.eot') format('embedded-opentype'),
         url('fonts/RSU/rsu_regular.woff') format('woff'),
         url('fonts/RSU/rsu_regular.ttf') format('truetype'),
         url('fonts/RSU/rsu_regular.svg#RSURegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

