.case-definitions-list {
  .ta-view {
    .ta-view-col {
      overflow: visible;
      text-overflow: initial;
      white-space: initial;
    }
  }

  .label-code {
    font-size: 86%;
    background-color: #ffefef;
    border: 1px solid #999;
    color: #666;
  }
}
