.comments-wrapper{
    border-top: 4px solid #DBDBDB;
    padding-top: 20px;
    position: relative;
}
.comment-item{
    padding: 15px 5px;
    border-bottom: 1px solid #e5e5e5 ;
}
.comment-post{
    color: #666;
    word-break: break-all;

    .label{
        display: inline-block;
        font-size: 14px;
        margin: 5px 5px 0 0;
        background-color: #F5BA84;
    }
    .label-telephone {
        background-color: #73D6B5 !important;
    }
    .label-email {
        background-color: #F186D8 !important;
    }
    .label-tag {
        background-color: #7FE6FF !important;
    }
    .label-report {
        background-color: #9966cb;
    }
}
.comment-meta{
    font-size: .75em;
    color: #A5A5A5;
}

/*--- FORM ---*/
.comment-form{
    margin-bottom: 1em;

    textarea{
        height: 70px;
    }
}
.btn-post{
    margin-top: 1em;
    width: 100%;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    background-color: rgb(80, 150, 34) !important;

    &:hover{
        background-color: rgb(67, 134, 22) !important;
        color: #fff;
    }
}


//***************************
// MENTION
//***************************

mentio-menu {
    z-index: 9999 !important;

    .menu-highlighted {
        background-color: yellow;
    }

    .list-group-item.active {
        background-color: #f5f5f5;
    }

    .user-search:hover {
        cursor: pointer;
    }

    .user-search {
        .list-group-item-heading, .list-group-item-text {
            margin-left: 10px;
        }

        .list-group-item.active {
            color: #fff;
            background-color: #428bca;
            border-color: #428bca;
        }

        .list-group-item.active .text-muted {
            color: #ccc;
        }

        .list-group-item.active .text-primary {
            color: #fff;
        }

        .list-group-item {
            padding: 5px;
        }
    }

}
