.filter-result {
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 15px;
    display: block;
    margin-top: 10px;

    padding: 10px;
    text-align: center;
    color: #888;

    .filter-result-item {
        overflow: hidden;
    }

    .filter-title{
        font-size: 1em;
        margin: 10px 0 8px;
    }
    .filter-result-list-button{
        font-size: 14px;
    }
}

.filter-result-reports {
    overflow: hidden;

    .pd-table-area {
        width: 144px;
    }

    .clickable {
        cursor: pointer;

        .ui-grid-disable-selection {
            cursor: pointer;
        }
    }

    .filter-result-list-button {
        margin-top: -28px;
    }
}

.filter-help {
    position: absolute;
    overflow: auto;

    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-size: 15px;
    display: block;
    margin-top: 10px;

    width: 699px;
    padding: 10px 20px;

    .fa-info-circle{
        margin-right: 10px;
    }
    h4{
        font-size: 16px;
    }

    [filter-this] {
        cursor: pointer;
        color: #31708F;
        background-color: #D9EDF7;
    }

    z-index: 99; /* above filter result */
}

.btn-info-search{
    height: 38px;
    border: 1px solid #DDD;
    background-color: #ececec;
    z-index: 99;
    margin-right: 0;

    &:hover{
        background-color: #d5d5d5;
        border-color: #cfcfcf;
        z-index: 99 !important;
    }
}

.filter-list-help{
    font-size: 14px;

    > li{
        margin-bottom: 10px;
    }
}

.filter-wrapper{
    margin: 20px 0 0;
}

.export-dropdown {
    position: absolute;
    margin-top: -28px;
    z-index: 95;
}

.contact-detail {
    min-height: 150px;
}

.contact-info {
    margin-top: 10px;
    word-break: break-word;

    b{
        margin-right: 10px;
    }

    a{
        margin-right: 10px;
        cursor: pointer;
    }
}