.flipper-container {
  perspective: 1000px;
  height: 9999px;

  .flipper {
    transition: .4s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;

    &.flipped {
      transform: rotateY(180deg);
    }

    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .front {
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(180deg);
    }

    .modal-body {
      position: absolute;
      top: 70px;
      left: 0px;
      width: 100%;
      bottom: 0;
      overflow: auto;
    }
  }
}

.plan-report-created-at {
  border-bottom: 1px dashed #999;
  cursor: help;
}

.plans-list {

  .label {
    width: 80px;
    display: inline-block;
    font-size: 100%;
  }

  td.label-code {
    width: 100px;
  }
  
  .well h3 {
    margin-top: 0px;
  }
  
  .list-item-meta {
    font-size: 1.2em;
    
    .row {
      margin-bottom: 8px;
    }
  }
  
  .list-item-meta-label {
    text-align: right;
    font-weight: bolder;
  }
  
  .list-item-meta-view-button {
    text-align: center;
    .view-button {
      width: 60%;
      margin-top: 60px;
      font-size: 1.4em;
    }
  }

}
