.flipper-container {
  perspective: 1000px;
  height: 9999px;

  .flipper {
    transition: .4s;
    transform-style: preserve-3d;
    position: relative;
    height: 100%;

    &.flipped {
      transform: rotateY(180deg);
    }

    .front, .back {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .front {
      transform: rotateY(0deg);
    }

    .back {
      transform: rotateY(180deg);
    }

    .modal-body {
      position: absolute;
      top: 70px;
      left: 0px;
      width: 100%;
      bottom: 0;
      overflow: auto;
    }
  }
}

.plan-report-created-at {
  border-bottom: 1px dashed #999;
  cursor: help;
}

.plans-list {

  .label {
    width: 80px;
    display: inline-block;
    font-size: 100%;
  }

  td.label-code {
    width: 100px;
  }

  .well h3 {
    margin-top: 0px;
  }

  .list-item-meta {
    // font-size: 1.2em;

    .row {
      // margin-bottom: 8px;
    }

    .subheading{
      margin-top: 15px;
    }
  }

  .list-item-meta-label {
    // text-align: right;
    // font-weight: bolder;
    // font-size: .9em;
  }
  .list-item-meta-value{
    // font-size: .9em;
  }

  .list-item-meta-view-button {
    text-align: center;
    .view-button {
      width: 60%;
      margin-top: 30px;
      // font-size: 1.4em;
    }
  }

}

.red-zone{
  background-color: #d9534f !important;
  color: #fff !important;

  small{
    color: #fff !important;
  }
}
.yellow-zone{
  background-color: #f0ad4e !important;
  color: #fff !important;

  small{
    color: #fff !important;
  }
}
.green-zone{
  background-color: #5cb85c !important;
  color: #fff !important;

  small{
    color: #fff !important;
  }
}
.zone-item-row{
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.plan-item{
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border: 1px solid #ccc;
}

.plan-list-item-left{
  min-height: 250px;
  padding: 15px;
  border-right: 1px solid #ccc;
  background-color: #f5f5f5;
}
.plan-list-item-right{
  padding: 15px;
}

.area-highlight {
  display: inline-block;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}
.text-normal {
    font-weight: normal;
}
