.profile-wrapper {

  img.profile-edit-img {
    max-width: 100px;
    cursor: pointer;
  }

  fieldset {
    margin-top: 30px;
  }
}

.crop-area {
  margin: 0 auto;
  background: #E4E4E4;
  overflow: hidden;
  width: 350px;
  height: 350px;
}
