/************************
// REPORT LIST
************************/

.reports-list{
    &.ng-hide-add{
        #reports-empty {
            display: none;
        }
    }
}

.report-followup-parent {
  padding: 20px;

  .report-followup-title { // Link <a>
    color: #f44336;
  }
  .report-followup-list{
    padding-left: 20px;
    margin-bottom: 0;
  }
  .report-followup-date{

  }
}

.report-followup-title {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}

.reports-to-follow {
    li {
        cursor: pointer;
    }

    .selected-case {
        td{
            background-color: #dff0d8 !important;
        }
    }
    tr:hover{
        cursor: pointer;
    }
    .subheading{
        margin: 0;
    }
}


/* ignore */
.flag-priority-1 {
  color: #9e9e9e;
}
/* ok */
.flag-priority-2 {
  color: #4caf50;
}
/* contact */
.flag-priority-3 {
  color: #9c27b0;
}
/* follow */
.flag-priority-4 {
  color: #2196f3;
}
/* critical */
.flag-priority-5 {
  color: #f44336;
}

.flag-state-code--3, .flag-state-code--case {
  color: #9c27b0;
}
.flag-state-code--5, .flag-state-code--outbreak {
  color: #f44336;
}
.flag-state-code--false-report {
  color: #9e9e9e;
}
.flag-state-code--suspect-outbreak {
  color: #ff80ab;
}
.flag-state-code--no-outbreak-identified {
  color: #4caf50;
}
.flag-follow-up-report {
  color: #2196f3;
}

/* tab badge */
.mark-has-follow-up {
  background-color: #f44336;
}


/************************
// REPORT TABLE
************************/

$table-thead-row-bg: #ddd;
$table-th-row-color: #666;
$table-font-color: #666;
$table-row-odd-bg: #353535;
$table-row-hover-bg: #f2f2f2;
$table-title-color: #666;
$table-title-bg: #ccc;

$badge-good-color: #5cb85c;
$badge-bad: #FF6D69;

.pd-table-title{
    width: 100%;
    margin: 0;
    padding: 10px;
    font-size: 1.8em;
    line-height: 1em;
    font-family: ThaiSansNeueRegular;
    background: $table-title-bg;
    color: $table-title-color;
    text-align: center;
}

// Width of column
.pd-table-flag{ width: 22px; }
.pd-table-date{ width: 110px; text-align: center; }
.pd-table-report-date{ width: 100px; }
.pd-table-type{ width: 100px; text-align: center; }
.pd-table-status{ width: 50px; text-align: center; }
.pd-table-reporter{ width: 110px; text-align: center; }
.pd-table-notification{ width: 25px; text-align: center; }

.badge-zero{ background-color: #c1c1c1; }
.badge-good{ background-color: $badge-good-color; }
.badge-bad{ background-color: $badge-bad; }

.badge-new{
    background-color: $badge-bad;
    font-weight: normal;
    font-size: 10px;
}

.pd-table{
    > thead > tr{
        background-color: $table-thead-row-bg;

        > th{
            border-bottom: none;
            color: $table-th-row-color;
            font-weight: normal;
        }
    }
    > tbody > tr > td{
        border: none;
        padding: 5px;
        color: $table-font-color;
    }
    > tbody > tr:nth-child(odd) > td{
//        background-color: $table-row-odd-bg;
    }
    tr > td:first-child, tr > th:first-child{
        width: 22px;
        padding-left: 7px;
        text-align: center;
    }
    > tbody > tr.clickable:hover {
//        color: lighten(#909090, 30%);
        cursor: pointer;
    }
    > tbody > tr:hover {
        cursor: default;
    }
    tr:hover{
        td{
            background-color: $table-row-hover-bg !important;
        }
    }
    .pd-table-notification{
        td{
            text-align: center;
        }
    }
}

/*--- White Table ---*/
.pd-white-table{
    border: 1px solid #eee;
    margin: 0;

    > thead > tr{
        background-color: #fff;

        > th{
            border-bottom: none;
            color: #666;
        }
    }

    > tbody > tr > td{
        background-color: #fff;
        border-color: #eee;
        border-top-style: dotted;
        padding: 10px;
    }
}

/************************
// TABS INFOMATION
************************/

.pd-tabs{
    margin-bottom: 2em;

    .tab-pane:nth-child(1), .tab-pane:nth-child(3) {
        padding: 15px 10px 10px;
        background-color: #fff;
    }

    .tab-pane{
        border: 1px solid #eee;
    }

    .nav-tabs.nav-justified > .active > a{
        border: 1px solid #eee;
        border-top: 2px solid #8D58C2;
    }

    .nav-tabs.nav-justified > li:first-child a{
        margin-right: 10px;
    }
}

.nav-tabs{
    border-bottom: 1px solid #eee;

    > li{
        a{
            background-color: #EFEFEF;
            color: #999;
            margin-right: 5px;

            &:hover{
                color: #666;
                cursor: pointer;
                background-color: #ededed;
            }
        }

        &.active > a{
            border: 1px solid #eee;

            &:hover{
                background-color: #fff;
                color: #666;
                border: 1px solid #eee;
            }
        }
    }
}

/************************
// ERROR
************************/

#reports-error{
    margin: 20px;
}

/************************
// REPORT GALLERY
************************/

.report-image{
    margin: 0 0 1.5em;

    .list-inline{
        margin-top: 1em;
        margin-bottom: 0;

        li{
            margin-bottom: 10px;
            width: 24%;
            padding: 0 0 0 1.3333%;
        }
    }
}
.report-view {
    position: relative;
    background-color: #ECECEC;
    min-height: 200px;

    img {
        max-width: 100%;
    }
}
[report-view] {
  [report-state-form] {
    display: inline-block;
    min-width: 140px;
    .ui-select-match {
      display: block !important;
    }
    .ui-select-choices {
      left: auto;
      right: 0;
      width: auto;
    }
  }
}
.report-thumbnails {
    margin-bottom: 30px;
    margin-left: 0;
    clear: both;

    img {
        width: 100%;

        &:hover{
            opacity: 1;
            cursor: pointer;
        }
    }

    li.active{
        img{
            opacity: 1;
        }
    }
}

/*--- Loading ---*/
.image-mask-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    display: block;
    height: 30px;
}
.report-new-icon {
    color: #e91e63;
}


/************************
// REPORT INFO
************************/
.pd-report-info{
    background-color: #fff;
    border: 1px solid #eee;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0 0 2em;

    li{
        border-bottom: 1px dotted #eee;
        padding: 10px;
        float: left;
        clear: both;
        width: 100%;

        &:last-child{
            border-bottom: none;
        }
    }
}


//***************************
// FILE UPLOAD
//***************************
.file-upload {
    width: 100%;
    margin-top: 1em;
    position: relative;
    overflow: hidden;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

// Wrapper
.pd-file-upload{
    position: relative;
    height: 40px;
    background-color: #E0E0E0;
    border-radius: 5px;

    .upload{
        width: 88%;
        left: 30px;
    }
}
.pd-file-upload-icon{
    padding: 15px 10px;
    border-right: 1px solid #ccc;
    background-color: #CACACA;

    &:hover{
        background-color: #ddd;
    }
}
.pd-file-upload-name{
    padding: 10px;
    overflow: hidden;
    width: 240px;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pd-file-upload-clear{
    padding: 10px;
    color: #fff;
    background-color: rgb(247, 75, 75);
    position: absolute;
    top: 0;
    right: 0;

    &:hover{
        color: #fff;
    }
}
.pd-file-upload-attach{
    padding: 10px;
}



/************************
// ETC
************************/

.report-fields{
    .nav-tabs > {
        border-bottom: 1px solid #888888;

        li{
            > a{
                margin-right: 5px;
                color: #fff;

                &:hover{
                    color: #2A2A2A;
                    background-color: #FFFFFF;
                    cursor: pointer;
                }
            }

            &.active > a{
                color: #2A2A2A;
                background-color: #FFFFFF;
                border: none;
            }
        }
    }
}
.priority-report{
    margin: 5px 10px 0 0;
}

//Modal
//.modal-content{
//    background-color: #444 !important;
//}
.lightbox-nav{
    text-align: left;
}
.lightbox-image-container-map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;

    &.show-image-map {
        visibility: visible;
    }
}
#image-position-map {
    height: 100%;
    width: 100%;
}
.lightbox-modal {
    .modal-dialog {
        height: 100%;
        min-width: 400px;
    }

    .modal-content {
        position: absolute;
        top: 0;
        bottom: 60px;
        width: 100%;
    }

    .leaflet-top.leaflet-left {
        top: 0;
    }

    .lightbox-image-container {
        img {
            max-width: 100%;
            height: auto !important;
        }
    }
}
.show-map-button-wrapper {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;

    button {
        margin: 0 auto;
    }
}

.info-list{
    padding: 20px 30px;
    background: #fff;
    margin: 20px 50px;
    border: 1px solid #eee;
}
.loading-block{
    padding: 20px 30px;
    background: #fff;
    margin: 20px 0px;
    border: 1px solid #eee;
}
.search-block{
    margin: 20px 50px;

    .form-control{
        height: 38px;
    }
    .fa-calendar{
        margin: 0 0px 0 5px;
    }

    &.-center {
        margin-bottom: 40px;
    }
    &.-wide {
        margin: 0 0 30px;
    }
}
.search-block-mini{
    margin: 10px 30px 0px;
}
.weekpicker{
    top: 41px !important;
    left: 100px !important;
}

.cell-center { text-align: center; }
.gray { background-color: #e7e7e7; color: #777;}
.red { background-color: rgb(255, 77, 77); color: #fff;}

.custom-csv-link-location a{
    margin-top: 20px;
}

.ui-grid-cell-contents-collapse-2 {
    overflow: visible !important;
}

.ui-grid-collapse-2{
//    width: 100px;
    text-align: center;
    font-size: 11px;
}

.case-content{
    width: 100px;
}

.pd-badge-cell{
    text-align: center;
    font-size: 11px;
}

.grid-summary{
    width: 100%;
    height: 500px;
}

.daterangepicker{
    z-index: 9999 !important;
}

.report-list-help li{
    margin-top: 10px;
}

.case-confirmation-box {
    transition: opacity 1s ease;
    -webkit-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -moz-transition: all 1s ease;

    &.ng-hide-add, .ng-hide-remove {
        opacity: 1;
        display: block !important;
    }

    &.ng-hide {
        opacity: 0;
    }
}

.btn-text{
    margin: 0;
    color: #777;
    font-weight: normal;
}
.view-textbox{
    height: 38px;
    padding: 9px 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.export-buttons {
    margin-top: 10px;
    clear: both;
}

.summary-view {
    .l-detail-section {
        overflow: hidden;
    }
    .content {
        height: auto;
        padding: 0;
    }
    .summary-list {
        width: 100%;
    }
    .summary-wrapper {
        padding: 20px 35px;
    }
}

.inline-table {
    display: inline-table;
}

.summary-search {
    border: 1px solid #A7A7A7;
    background-color: #eee;
    border-radius: 5px;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.summary-filter-table {
    display: inline-table;
    width: 160px;
}

.comment-rendered-form-data {
    display: block;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    clear: both;
    font-style: italic;
    border: 1px solid #e8e8e8;
    background: #f3f3f3;
}

.report-followup-empty{
  padding: 15px;
}

.response-map {
  width: 100%;
  height: 600px;
}

.mark-as-test-wrapper {
  // margin-top: 1em;
  a {
    cursor: pointer;
  }
}

.plan-report-link {
  cursor: pointer;
}

.test-watermark {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;

  .test-watermark-text {
    position: absolute;
    top: 50%;
    left: 60px;
    width: 100%;
    text-align: center;
    font-size: 6em;

    opacity: 0.3;
    transform-origin: center;
    transform: rotate(-25deg) translateY(-50%);
  }
}


/*********/
/*Report*/
/*********/

.report-title{
  font-size: 1.1em;
  line-height: 1.5em;
  color: #000;
  margin: 10px 0 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid #8a5ebe;

  p{
    margin: 0;
  }
}

.report-section{
  background: #fff;
  padding: 20px;
  border: 1px solid #eaeaea;
  color: #666;
  margin-bottom: 20px;

  .subheading{
    color: #333;
  }

  .report-image{

  }
  .report-thumbnails{
    margin-bottom: 20px;

    li{
      width: 120px;
      margin-bottom: 10px;
      padding: 0;
      margin: 0 10px 10px 0;

      &:first-child{
        margin-left: 0;
      }
    }
  }
  .report-detail{
    margin-bottom: 25px;

    strong{
      color: #666;
    }
  }
  .report-infomation{
    .empty-text{
      padding: 10px;
    }
    .pd-white-table{
      border: none;
    }
  }
}

.mark-as-test-wrapper{
  overflow: hidden;

  @include respond-to(desktop){
    margin-top: 15px;
  }
}

.priority-report{
  .priority-report-state{
    min-width: auto;
    width: 100%;

    .btn-block{
      padding-right: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 10px;
    }
  }
  .btn-default{
    width: 100%;

  }
  .btn-changed{
    background-color: #509622;
    color: #fff;
    border: none;


    &:hover{
      background-color: #438616;
    }
  }
  .ui-select-match-text{

  }

}

// Summary report month
.filter-select {
    display: block;
    width: 70%;
    margin: 0 0 5px;
}
.filter-dropdown .selectize-input {
    margin: 0;
    border: 1px solid #ccc;
    width: 100%;
}
.ico-front {
    margin-right: 5px;
}

// Chart on dasdboard
.summary-graph-reports {
    height: 310px;

    .x.axis .tick text{
        transform: rotate(0) !important;
        transform: translate(15px,10px) !important;
    }
}
