.layers-control {
  width: 300px;
  height: 200px;
  background-color: white;
}

#scenario-map {
  .leaflet-top {
    top: 0;
    right: auto;
  }
  .leaflet-right {
    right: 0;
  }
}

svg {
  font: 10px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}


menu {
  margin: 2em auto;
  text-align: center;
  position: relative;
}


