/************************
// Sidebar Block
************************/
.sidebar-block{
  margin-bottom: 1.5em;
  background-color: #fff;
  border: 1px solid #eaeaea;

  .sidebar-heading{
    padding: 13px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;

    /*--- Theme Color ---*/
    &.sidebar-heading-bg-purple{
      background-color: #2e3352;
    }
    &.sidebar-heading-bg-purplegray{
      background-color: #666b95;
    }
  }
  .sidebar-heading-text{
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
    font-size: 1.2em;
    color: #000;

    i{
      margin-right: 5px;
    }
  }

  /*--- Conntent Section ---*/
  .sidebar-content{
    padding: 10px 20px;
  }
  .sidebar-title{
    margin: 15px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 1em;
    color: #333;
    font-weight: bold;
  }
}

/*--- Unorder List ---*/
.list{
  padding: 0 0 0 15px;

  li{
    margin-bottom: 5px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.history-log{
  padding: 0 0 0 15px;
  color: #666;

  li{
    margin-bottom: 7px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #ccc;
  }
  .history-log-name{
    margin-top: 4px;
    font-size: .85em;
  }
  strong{
    color: #000;
  }
}
.sidebar-action{
  padding-top: 5px;
  margin-top: 10px;
}
.label-state{
  font-size: 1em;
  font-weight: normal;
}
