/************************
// Sidebar Block
************************/
.sidebar-block{
  margin-bottom: 1.5em;
  background-color: #fff;
  border: 1px solid #eaeaea;

  .sidebar-heading{
    padding: 13px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;

    /*--- Theme Color ---*/
    &.sidebar-heading-bg-purple{
      background-color: #2e3352;
    }
    &.sidebar-heading-bg-purplegray{
      background-color: #666b95;
    }
  }
  .sidebar-heading-text{
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
    font-size: 1.2em;
    color: #000;

    i{
      margin-right: 5px;
    }
  }

  /*--- Conntent Section ---*/
  .sidebar-content{
    padding: 10px 20px;
  }
  .sidebar-title{
    margin: 15px 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 1em;
    color: #333;
    font-weight: bold;
  }
}

/*--- Unorder List ---*/
.list{
  padding: 0 0 0 15px;

  li{
    margin-bottom: 5px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.history-log{
  padding: 0 0 0 15px;
  color: #666;

  li{
    margin-bottom: 7px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #ccc;
  }
  .history-log-name{
    margin-top: 4px;
    font-size: .85em;
  }
  strong{
    color: #000;
  }
}
.sidebar-action{
  padding-top: 5px;
  margin-top: 10px;
}
.label-state{
  font-size: 1em;
  font-weight: normal;
}

/*********/
/*Button*/
/*********/

.btn-green{
  background-color: #b58e00;
  color: #fff;
  border-radius: 30px;
  padding: 5px 20px;
  font-size: 1em;
  border: none;

  &:hover{
    background-color: #8C710D;
    color: #fff;
  }
}
.btn-flag-test{
  display: block;
  padding-top: 20px;
  color: #c42c00;
  text-decoration: underline;
  clear: both;
}

/*********/
/*Report*/
/*********/

.report-title{
  font-size: 1.1em;
  line-height: 1.5em;
  color: #000;
  margin: 10px 0 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid #8a5ebe;

  p{
    margin: 0;
  }
}

.report-section{
  background: #fff;
  padding: 20px;
  border: 1px solid #eaeaea;
  color: #666;
  margin-bottom: 20px;

  .subheading{
    color: #333;
  }

  .report-image{

  }
  .report-thumbnails{
    margin-bottom: 20px;

    li{
      width: 120px;
      margin-bottom: 10px;
      padding: 0;
      margin: 0 10px 10px 0;

      &:first-child{
        margin-left: 0;
      }
    }
  }
  .report-detail{
    margin-bottom: 25px;

    strong{
      color: #666;
    }
  }
  .report-infomation{
    .empty-text{
      padding: 10px;
    }
    .pd-white-table{
      border: none;
    }

  }

  .pd-file-upload{

  }
}

.mark-as-test-wrapper{
  overflow: hidden;

  @include respond-to(desktop){
    margin-top: 15px;
  }
}

.priority-report{
  .priority-report-state{
    min-width: auto;
    width: 100%;

    .btn-block{
      padding-right: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-bottom: 10px;
    }
  }
  .btn-default{
    width: 100%;

  }
  .btn-changed{
    background-color: #509622;
    color: #fff;
    border: none;


    &:hover{
      background-color: #438616;
    }
  }
  .ui-select-match-text{

  }

}
