.panel-phonebook{
  .subheading{
    margin-bottom: 0;
  }
  .panel-phonebook-contact{
    margin: 0;
    padding-left: 20px;
  }
}

.text-wrap{
  position: relative;
}
.sms-contact{
  text-indent: 56px;
}
.example-text{
  position: absolute;
  top: 3px;
  left: 5px;
}

// pd-table
.col-checkbox {
    width: 50px;
    text-align: center;
}
