.pd-table-phonebook{
  thead{
    background-color: #eee;
  }
  .pd-table-phonebook-group{
    width: 250px;
  }
  .pd-table-phonebook-area{
    width: 120px;
  }
  .pd-table-phonebook-contact{

  }
}