.selectize-control {
  /* Align Selectize with input-group-btn */
  top: 2px;
}
.selectize-control > .selectize-dropdown {
  top: 34px;
}
/* Reset right rounded corners, see Bootstrap input-groups.less */
.input-group > .selectize-control > .selectize-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}


.pd-section-left{
  //display: none;
}
.fix-chart-row{
  min-height: 450px;

  .col-xs-6:nth-child(2){
    margin-left: -40px;
  }
}


.info-container{
  width: 100% !important;
  padding: 0 !important;
  background-color: #fff;
}
.info-section-one, .info-section-two{
    padding: 0 40px;
}
.info-section-two{
  padding: 60px 0;
  min-height: 1360px;

  .table-header{
    .info-title{
      margin: 0;
    }
  }
}
.info-repoter{
  margin-top: 50px;
}

.info{
    font-family: 'ThaiSansNeueRegular';

    .info-number{
      font-size: 200px;
      font-family: ThaiSansNeueBold;
      line-height: 120px;
      color: #59226D;
      margin-bottom: 20px;
    }
    .number-of-reports{
      margin-top: 90px;
    }
    .info-number-sm{
      font-size: 100px;
      line-height: 60px;
    }
    .text{
        font-size: 50px;
        font-family: ThaiSansNeueBold;
        line-height: 40px;
        color: #59226D;
    }
    .text-sm{
      font-size: 35px;
      line-height: 25px;
    }
    .text-gray{
      color: #333;
    }
    .text-white{
      color: #fff;
    }
    .text-light{
      font-family: ThaiSansNeueRegular;
    }

    &.ng-hide-remove {
        -webkit-animation: fadeIn .5s .2s alternate forwards;
        opacity: 0;
    }

    &.ng-hide-add{
        -webkit-animation: fadeOut .5s .2s alternate forwards;
    }
    .foo-delay{
      -webkit-animation-delay: 1s;
    }
}
.info-heading{
  font-size: 90px;
  font-family: ThaiSansNeueBold;
  color: #000;
  margin: 0 0 50px;
}

.info-title{
    font-size: 56px;
    font-family: ThaiSansNeueBold;
    color: #333;
    margin: 0 0 30px;
}

.info-section-one{
  padding-top: 80px;
  padding-bottom: 40px;
  background: url('../images/bg.png') right bottom no-repeat;
}
.info-section-two{
    background-color: #412954;
    color: #fff;
    padding: 60px 40px;
}

//Table
.info-table{
    table-layout: fixed;
    background-color: #412954 !important;

    th{
        color: #fff;
        border: none !important;
    }
    td{
        border: none !important;
        font-size: 32px;
    }
    tbody tr:nth-child(odd){
        background-color: #4e3466 !important;
    }
}
.table-header{
  .text{
    color: #fff;
    line-height: 0.9em;
    font-family: ThaiSansNeueRegular;
  }

  .info-title{
    color: #fff;
    font-size: 50px;
  }
}
.table-content{
  font-size: 46px;

  .text{
    color: #fff;
  }

  > div {
    padding: 10px 0;
  }

  .avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }
}
.table-row:nth-child(odd){
  background-color: #4e3466 !important;
}

.animal-number{
  font-size: 65px;
  font-family: ThaiSansNeueBold;
  color: #dd3136;
  text-align: center;
}

//ICON
.info-icon{
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}
.info-report-icon{
  width: 63px;
  height: 77px;
  background: url('../images/ic-report.png');
}
.info-icon-grade{
  width: 69px;
  height: 83px;
  background: url('../images/ic-rating.png');
}
.info-icon-time{
  width: 67px;
  height: 67px;
  background: url('../images/ic-time.png');
}

.animal-icon{
  vertical-align: middle;
  display: inline-block;
  width: 96px;
  height: 96px;
  overflow: hidden;
  margin: 0 30px 0 0;
  text-indent: -999em;
}

.animal-type-cow{
  background: url('../images/animal-cow.png');
}
.animal-type-buffalo{
  background: url('../images/animal-buffalo.png');
}
.animal-type-pig{
  background: url('../images/animal-pig.png');
}
.animal-type-dog{
  background: url('../images/animal-dog.png');
}
.animal-type-chicken{
  background: url('../images/animal-chicken.png');
}
.animal-name{
  display: inline-block;
  color: #a47aaf;
}


//Chart
.graph1-legend{
  position: relative;
  top: -60px;
}
.legend-negative{
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
}
.legend-positive{
  width: 270px;
  position: absolute;
  right: 0;
  top: 0;
}

/*hide svg*/
.c3-legend-item{
  display: none;
}

.graph6-legend{
  margin-top: 30px;

  li{
    list-style: none;
    display: inline-block;
    font-size: 36px;
    margin: 0 20px 0 0;
  }
  .color-box{
    width: 20px;
    height: 20px;
    margin-top: 0 20px 0 0;
    display: inline-block;
  }
  .color-name{

  }
}


//Grade
.info-grade{
  width: 164px;
  height: 246px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -999em;
}
.grade-a{
  background: url('../images/gold.png');
}
.grade-b{
  background: url('../images/silver.png');
}
.grade-c{
  background: url('../images/copper.png');
}
.info-grade-wrap{
  position: relative;
}



@-webkit-keyframes shine {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  50% {
    transform: scale(2);
  }
  70%{
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes shine-sm {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  70%{
    opacity: 0.2;
  }
  100% {
    transform: scale(0.3);
    opacity: 1;
  }
}
@-webkit-keyframes shine-md {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  30%{
    opacity: 0.6;
  }
  50% {
    transform: scale(0.4);
  }
  70%{
    opacity: 0.4;
  }
  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

.wink{
  width: 49px;
  height: 49px;
  overflow: hidden;
  background: url('../images/wink.png');
}
.wink-1{
  position: absolute;
  top: 6px;
  left: 210px;
  -webkit-animation: shine-md 2s 2s infinite alternate backwards;
}
.wink-2{
  position: absolute;
  top: 15px;
  right: 180px;
  -webkit-animation: shine-sm 2s 3s infinite alternate backwards;
}
.wink-3{
  position: absolute;
  top: -35px;
  left: 300px;
  -webkit-animation: shine 3s 1.5s infinite alternate backwards;
}
.wink-4{
  position: absolute;
  top: 100px;
  left: 300px;
  -webkit-animation: shine-sm 2s 1.5s infinite alternate backwards;
}

/*Time*/
.period-img-morning{
  width: 290px;
  height: 217px;
  margin: 45px auto;
  overflow: hidden;
  text-indent: -999em;
  background: url('../images/morning.png');
}
.period-img-afternoon{
  width: 290px;
  height: 217px;
  margin: 45px auto;
  overflow: hidden;
  background: url('../images/afternoon.png');
}
.period-img-evening{
  width: 275px;
  height: 217px;
  margin: 45px auto;
  overflow: hidden;
  background: url('../images/evening.png');
}
.period-img-midnight{
  width: 275px;
  height: 217px;
  margin: 45px auto;
  overflow: hidden;
  background: url('../images/midnight.png');
}

.info-notfound{
  margin-top: 40px;
  color: #333;
  font-size: 30px;
}

.info-error{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 50px;
  text-align: center;
  margin: auto;
}
.select-location{
  position: absolute;
  top: 0;
  right: 10px;
  width: 400px;
  background: #F5C1D0;
  height: 55px;
  padding: 7px 10px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.select-option{
  margin-top: 7px;
}
.c3-chart-arc text {
  font-size: 26px;
  fill: #000;
}

.selectize-input{
  width: 235px;
  margin: 0 0 0 10px;
  border: none;
}

.graph2-no-reports{
  font-size: 26px;
  margin: 120px 0 100px;
}

.summary-widget {
  border: 1px solid #cccccc;
  padding: 12px;

  .-title {
    text-align: center;
    font-size: 18pt;
    color: #292727;
  }

  ._left {
    text-align: left;
  }

  ._number-large {
    font-size: 3em;
  }

  .summary-widget-icon {
    font-size: 5.8em;
  }

  .btn-top-right {
    position: absolute;
    top: 12px;
    right: 28px;
  }

  ._color_purple { color: #800080 }
  ._color_green { color: #20ae50 }
  ._color_red { color: #b82700 }
}
.summary-widget-group {
  margin-top: 16px;
  margin-bottom: 16px;
}

.summary-graph-reports {
  width: 100%;
  height: 340px;
}

.summary-graph-reports-legend {
  padding: 8px;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 340px;
  overflow-y: auto;

  .legend-item {
    font-size: 1.4em;
    cursor: pointer;
    padding: 4px;
    padding-left: 16px;
    border-radius: 4px;

    &:hover {
      background-color: #ccc;
    }
  }
}
