//***************************
// Old Layout
//***************************

.pd-container{
    position: relative;
}

.pd-section-left{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;

    &.ng-hide-remove {}
    &.ng-hide-add {}
}

.pd-sidebar-right{
    @include box-shadow(1px 1px 7px #444);
    position: absolute;
    top: 0;
    right: 0;
    width: 530px;
    height: 100%;
    z-index: 999;
    color: #909090;
    background-color: #3c3c3c;
    overflow-y: scroll;

    &.ng-hide-remove {
        -webkit-animation: fadeInRight .5s .2s alternate forwards;
        opacity: 0;
    }

    &.ng-hide-add{
        -webkit-animation: fadeOutRight .5s .2s alternate forwards;
    }
}


//***************************
// Layout
//***************************

$report-section-bg: #fff;
$report-title-bg: #9966cb;
$report-title-color: #fff;

$detail-title-color: #8D58C2;
$detail-section-bg: rgb(245, 245, 245);
$comment-section-bg: #333;

.ng-cloak {
    display: inherit !important;
    background-color: #eee;
}

.l-section{
    position: absolute;
    top: 0;
    height: 100%;

    .title{
        height: 52px;;
        padding: 10px 20px;
        font-size: 20px;
        background-color: rgba(190, 190, 190, 0.2);

        font-size: 1.7em;
        font-family: ThaiSansNeueRegular;
        color: $report-title-color;
        background-color: $report-title-bg;

        h2{
            margin: 0 .5em 0 0;
            line-height: 1em;

            i{ line-height: inherit; margin-right: 15px; }
        }
        i{
            line-height: 32px;
        }
    }
    .content-wrapper {
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        bottom: 0;
        overflow: auto;
    }
    .content {
        padding: 20px 10px;
        // height: 100%;
    }
}
.l-report-section{
    @include box-shadow(1px 0px 5px rgba(0, 0, 0, 0.1));
    left: 50px;
    right: 47%;
    background-color: $report-section-bg;
    z-index: 9996;
    transform: none;
    // transition: transform .4s linear .3s, opacity .7s linear;
    transition: transform .7s, opacity .7s;

    &.ng-hide-animate {
        pointer-events: none;
    }

    &.ng-hide {
        pointer-events: none;
        display: block !important;
        transform: translateX(-30%);
        opacity: 0;
    }
    &.ng-hide:not(.ng-hide-animate) {
        visibility: hidden;
    }

    &.report-list-peek {
        transition: transform .4s;
        transform: translateX(-90%);
        transform: translateX(calc(-100% + 50px));

        .content-wrapper {
            pointer-events: none;
        }
    }
    &.report-list-peek-remove.ng-hide-animate {
        transform: translateX(-100%);
    }

    @include respond-to(tablet-portrait) {
        right: calc(100% - 50px);
    }
    @include respond-to(phone) {
        right: 0;
        left: 0;

        &.report-list-peek {
            transform: none;
        }
    }
}
.home {
    .filter-form {
        overflow: auto;
        .form-group {
          overflow: hidden;
        }
    }
    .filter-result-message {
        margin-top: 1em;
    }
    .l-info-section {
        &.ng-hide-animate {
            pointer-events: none;
        }
    }
}
.l-info-section { /* Wrapping detail & comment section */
    top: 0;
    right: 0;
    left: 50px;
    z-index: 9990;
    transform: none;
    opacity: 1;

    &.ng-hide {
        pointer-events: none;
        display: block !important;
        transform: translateX(-50px);
        opacity: 0;
    }
    &.ng-hide:not(.ng-hide-animate) {
        visibility: hidden;
    }

    &.l-full-width {
        transition: transform .3s linear .2s, opacity .4s linear;
        left: 0;
        right: 0;

        .content {
            // max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
        }
    }

    @include respond-to(tablet-portrait) { // Full Width
        right: 0;
        left: 0;
        z-index: 9996;
    }

    @include respond-to(phone) {
        right: 0;
        left: 0;
        transform: none;
    }
}
.l-detail-section{
    top: 0;
    left: 0;
    width: 100%;
    border-left: 50px solid transparent;

    color: #666;
    background-color: $detail-section-bg;

    .title{
        background-color: $detail-title-color;
    }

    .content{
        padding: 20px 35px;
    }

    @include respond-to(tablet-landscape-desktop){
        .content{
            padding-left: 14px;
            padding-right: 14px;
        }
    }
    @include respond-to(tablet-portrait){
        .content{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @include respond-to(phone){
        border-left: none;
    }
}
.l-comment-section{
    right: 0%;
    width: 30%;
    background-color: $comment-section-bg;
}

.l-info-section.l-theme-gray{
    .content{
        background-color: #f2f2f2;
    }
}


//***************************
// Map
//***************************
.l-map{
    &.ng-hide-remove {
        -webkit-animation: fadeIn .5s .2s alternate forwards;
        -moz-animation: fadeIn .5s .2s alternate forwards;
        opacity: 0;
    }

    &.ng-hide-add{
        -webkit-animation: fadeOut 1s .2s alternate forwards;
        -moz-animation: fadeOut 1s .2s alternate forwards;
    }
}

.content-wrapper-padding{
    padding: 30px 50px 0;
}

// Close Button
.title {
    .fa-times:hover{
        cursor: pointer;
    }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
