/* ------------------------ */
#map {
  // width: 100%;
  left: 50px;
  right: 0;
  height: 100%;
  position: absolute;
  // transition: left .5s linear;

  @include respond-to(phone){
    left: 0;
  }

  .awesome-marker i {
    font-size: 22px;
    margin-top: 6px;
  }

  &.half-map {
    // left: 50%;
  }
}

.leaflet-container {
  .tooltip {
    width: 200px;
  }
}

.radar-wink-wrapper {
  pointer-events: none;
  cursor: inherit;
}

.radar-wink {

  width: 160px;
  height: 160px;

  background-color:  #e91e63;
  border-radius: 160px;
  opacity: .5;

  animation-duration: 1.8s;
  animation-name: wink;
  animation-iteration-count: infinite;
}

.radar-hide {
  display: none;
}

.radar-focus {
  display: block;

  .radar-wink {
    opacity: .68;
    animation: none;
    background-color: #9966CB;
  }
}

@keyframes wink {
  from {
    opacity: .5;
    transform: scale(0.1);
  }

  to {
    opacity: .1;
    transform: scale(1);
  }
}


//Controller
.leaflet-top.leaflet-top{
    position: absolute;
    top: 7px;
    right: 15px;
    left: auto;
    z-index: 9990;

//    animation: fadeInLeft 1s 1s alternate backwards;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    text-indent: -9999em;
}

.map-mask {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
