@import "../utils/mixin";

//***************************
// Nav
//***************************

.pd-small-nav{
    display: none;
    color: #fff;
    padding: 10px 15px;

    .logo{
        display: inline;
    }
    span{
        margin-left: 12px;
        font: 24px/20px ThaiSansNeueRegular;
    }
    i{
        color: #5DB54F;
    }
}

.pd-section-nav{
    .pd-small-nav{
        @include respond-to(phone){
            display: block;
        }
    }

    .pd-container{
        @include respond-to(desktop){
            display: block;
        }
    }

    .pd-nav-item{
        @include respond-to(phone){
            text-align: left;
        }

        .pd-nav-text{
            @include respond-to(phone){
                @include box-shadow(none);
                @include border-radius(none);
                position: static;
                height: auto;
                width: auto;
                padding: 0;
                line-height: auto;
                background: transparent;
                opacity: 1;
            }
        }
        &.-divide {
            border-bottom: 1px solid #505050;
        }
    }
    .pd-section-left{
        @include respond-to(phone){
            position: static;
            width: auto;
        }
    }
    .pd-nav-text{
        @include respond-to(phone){
            position: static;
            width: auto;
        }
    }
    .pd-nav-icon{ //without adding margin-right
        .pd-nav-text{
            @include respond-to(phone){
                margin-left: 5px;
            }
        }
        &.-logo {
            padding: 10px;
            margin: 5px 0 5px 0;
            width: 100%;

            @include respond-to(phone){
                display: none;
            }
        }
    }
}

.hide-phone{
    @include respond-to(phone){
        display: none !important;
    }
}

$section-nav-bg: #333;
$nav-item-color: #fff;
$nav-item-color-hover: #404040;
$nav-item-bg-hover: #eee;
$nav-item-bg-active: #0074d9;
$nav-font-family: ThaiSansNeueRegular;

.pd-section-left{
    position: fixed;
    width: 50px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9997;
    background: $section-nav-bg;
//    @include box-shadow(0px 0px 5px #505050);
    @include box-shadow(1px 0px 5px rgba(0, 0, 0, 0.1));
}

.logo{
    display: block;
    width: 30px;
    height: 24px;
    margin: 14px auto 14px;
    background: url("../images/logo-small.png");
    @include image-2x('../images/logo-small@2x.png', 30px, 23px);
}

// UL
.pd-nav-list{
    padding: 0;
    list-style: none;
    background-color: #333;
}

// LI
.pd-nav-item{
    position: relative;
    color: $nav-item-color;
    text-align: center;

    &:hover{
        .pd-nav-text{
            left: 50px;
            opacity: 1;
        }
    }
    // Not a good idea
    &:hover{
        cursor: pointer;
        color: $nav-item-color-hover;
        background-color: $nav-item-bg-hover;
        text-decoration: none;

        .pd-nav-icon {
            color: $nav-item-color-hover;
        }
    }

    /* Hide Text */
    .pd-nav-text{
        @include box-shadow(0px 0px 5px #505050);
        position: absolute;
        top: 0;
        left: -999em;
        height: 42px;
        width: 120px;
        padding: 10px;
        line-height: 24px;
        z-index: -1;
        background: #eee;
        border-radius: 0 5px 5px 0;
        opacity: 0;

        transition: opacity 0.6s ease;
        -webkit-transition: opacity 0.6s ease;
        -ms-transition: opacity 0.6s ease;
        -moz-transition: opacity 0.6s ease;
    }

    &.active{
        background-color: $nav-item-bg-active;

        i{ color: $nav-item-color; }

        /* Make text active style */
        .pd-nav-text{
            color: $nav-item-color;
            background-color: $nav-item-bg-active;
        }

        &:hover .pd-nav-icon{
            background-color: $nav-item-bg-active;
        }
    }
}

// For title text on list
.pd-nav-title{
    padding: 5px 0;
    display: block;
    font: 22px / 20px $nav-font-family;
    line-height: 20px;

    /* Clear defuaft hover style */
    &:hover{
        background-color: transparent;
        color: $nav-item-color;
    }
}

// Link <a>
.pd-nav-icon{
    height: 42px;
    padding: 12px 12px 8px 12px;
    display: block;
    position: relative;

    color: $nav-item-color;
    font: 20px / 20px $nav-font-family;

    i{
        @include respond-to(phone){
            margin: 0 5px;
            width: 20px;
        }
    }
}
span.pd-nav-icon{
    i{
        @include respond-to(phone){
            margin-right: 10px;
        }
    }
}



//***************************
// Notification
//***************************

$notifi-border-bottom-color: #dadada;
$notifi-item-bg: #eee;
$notifi-item-hover: #fff;
$notifi-item-read: #ececec;

.pd-nav-item:hover{
    .notification-block{
        display: block;
    }
}
.notification-block{
    @include box-shadow(0px 0px 5px #505050);
    position: absolute;
    display: none;
    top: 0;
    left: 50px;
    width: 300px;
    z-index: -1;
    text-align: left;
    border-radius: 0 5px 5px 0;
    overflow: hidden;

    transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;

    ul{
        list-style: none;
        padding: 0;
    }
    li{
        border-bottom: 1px solid $notifi-border-bottom-color;
        background-color: $notifi-item-bg;

        &.read{
            background-color: $notifi-item-read;
        }

        &:hover{
            background-color: $notifi-item-hover;
        }

        .fa-comment{
            margin-right: 5px;
        }
    }

    a{
        display: block;
        padding: 7px 12px;
        color: $nav-item-color-hover;
        font-size: 13px;

        &:hover{
            text-decoration: none;
        }
    }

    @include respond-to(phone){
        @include box-shadow(none);
        @include border-radius(0);
        position: static;
        width: auto;
        display: block;
    }
}
.notifications-empty{
    color: #666;

    li{
        border: none;
        border-radius: 0 5px 5px 0;
        padding: 11px 20px 11px;
        background-color: $notifi-item-bg;
    }
}

.pd-nav-submenu{
    @extend .notification-block;
    a{
        &:hover{
            text-decoration: none;
            background-color: $nav-item-bg-hover;
            color: $nav-item-color-hover;
            text-decoration: underline;
        }
    }
    li{
        @include respond-to(phone){
            background-color: #292929;
            border-bottom: 1px solid #292929;
        }

        a{
            padding: 10px 20px;
            font: 20px/22px ThaiSansNeueRegular;

            @include respond-to(phone){
                color: #fff;
            }
        }

        &:hover{
            background-color: $nav-item-bg-hover;
        }
    }
    &.-mini {
        width: 150px;

        @include respond-to(phone){
            width: 100%;
        }
    }
    &.-micro {
        width: 120px;

        @include respond-to(phone){
            width: 100%;
        }
    }
}

/*--- ALERT ICON ---*/
.icon-bell{
    position: relative;
}
.alert-dotted{
    position: absolute;
    display: block;
    top: 9px;
    right: 6px;
    width: 12px;
    height: 12px;
    text-indent: -999em;
    background-color: red;
    border-radius: 10px;
}
