<div class="l-info-section l-section l-full-width l-theme-gray l-full-screen authority-dashboard"
     ng-controller="AuthorityDashboardCtrl">
  <div class="l-detail-section l-detail-section-no-padding l-section">
    <div class="title clearfix">
        <img class="podd-logo pull-left" src="images/logo-onehealth.svg">
        <h2 class="pull-left">โครงการผ่อดีดี</h2>
    </div>

    <div class="content-wrapper">
      <div class="content">
          <div class="subheading-block">
              <h2 class="subheading">สรุปรายงาน{{ authority.authority.name }}</h2>
              <p>ระหว่างวันที่ {{ startDateText }} - {{ endDateText }}</p>
          </div>

        <!-- outbreak -->
        <div class="panel panel-default">
          <div class="panel-heading -red">
            <h3 class="panel-title">
              โรคระบาด {{ authority.outbreaks.count }} รายงาน
            </h3>
          </div>
          <div class="panel-body">
            <p>พื้นที่เกิดเหตุ</p>
            <ul class="list-aumphur">
              <li ng-repeat="report in authority.outbreaks.administrationAreas">
                <a ng-click="showList('โรคระบาด', report.address, report.reports)">{{ report.address }} [{{report.reports.length}}]</a></li>
              <li ng-if="authority.outbreaks.count === 0">ไม่พบรายงาน</li>
            </ul>
          </div>
        </div>

        <!-- suspect-outbreak -->
        <div class="panel panel-default">
          <div class="panel-heading -purple">
            <h3 class="panel-title">
              สงสัยเป็นโรคระบาด {{ authority.suspectOutbreaks.count }} รายงาน
            </h3>
          </div>
          <div class="panel-body">
            <p>พื้นที่เกิดเหตุ</p>
            <ul class="list-aumphur">
              <li ng-repeat="report in authority.suspectOutbreaks.administrationAreas">
                <a ng-click="showList('สงสัยเป็นโรคระบาด', report.address, report.reports)">{{ report.address }} [{{report.reports.length}}]</a></li>
              <li ng-if="authority.suspectOutbreaks.count === 0">ไม่พบรายงาน</li>
            </ul>
          </div>
        </div>

        <!-- case -->
        <div class="panel panel-default">
          <div class="panel-heading -blue">
            <h3 class="panel-title">
              รายงานผิดปกติ {{ authority.cases.count }} รายงาน
            </h3>
          </div>
          <div class="panel-body">
            <p>พื้นที่เกิดเหตุ</p>
            <ul class="list-aumphur">
              <li ng-repeat="report in authority.cases.administrationAreas"><a ng-click="showList('รายงานผิดปกติ', report.address, report.reports)">{{ report.address }} [{{report.reports.length}}]</a></li>
              <li ng-if="authority.cases.count === 0">ไม่พบรายงาน</li>
            </ul>
          </div>
        </div>

        <h2 class="subheading">แผนที่</h2>
        <div style="height: 300px">
          <div id="map" style="position: relative;"></div>
        </div>
      </div>
    </div>

    <div ng-include="'/views/authority-report-view.html'"></div>
</div><!-- /.filter-result-message -->
