<div class="l-info-section l-section l-full-width l-theme-gray">
  <div class="l-detail-section l-section">
    <div class="title clearfix">
      <h2 class="pull-left"><i class="fa fa-calendar pull-left fa-size-22"></i>ปฏิทินงาน</h2>
    </div>

    <div class="content-wrapper"><div class="content" 
        style="background-color: #ffffff;"
      >
      <h1>PODD Calendar</h1>
      <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;height=1000&amp;wkst=1&amp;hl=th&amp;bgcolor=%23ffffff&amp;src=bs3f924amvn3scrp0iq4caa8v8%40group.calendar.google.com&amp;color=%23B1365F&amp;src=o03qbe6c8vbpheeg6ok27ulvbo%40group.calendar.google.com&amp;color=%23B1440E&amp;src=j4u81okrfss5050essqok95nlo%40group.calendar.google.com&amp;color=%23528800&amp;src=tnh1auk626b8739lti0okmdtcc%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Asia%2FBangkok" style="border-width:0" width="1500" height="1000" frameborder="0" scrolling="no"></iframe>
    </div></div>

  </div>
</div>
