<div class="summary-view l-info-section l-section l-full-width case-definitions-list"
     ng-controller="CaseDefinitionsCtrl"
     ng-cloak>
  <div class="l-detail-section l-section">

    <div class="title clearfix">
      <h2 class="pull-left">
        <i class="fa fa-puzzle-piece pull-left fa-size-22"></i>
        รูปแบบแจ้งเตือน
      </h2>
    </div>
    <div class="content-wrapper content">
      <div class="summary-wrapper profile-wrapper">
        <div class="row">
          <div class="col-md-12">

            <button class="btn btn-sm btn-default pull-right" ng-click="control.refresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh</button>
            <h2 class="subheading">ตารางรูปแบบแจ้งเตือน</h2>

            <div class="filter-result-container">
              <div class="ta-view">
                <div class="ta-view-header row hidden-xs">
                  <div class="col-sm-3 text-left">หัวข้อ</div>
                  <div class="col-sm-4 text-left">คำอธิบาย</div>
                  <div class="col-sm-5 text-left">Definition Code</div>
                </div>
                <div ng-repeat="item in items" class="ta-view-row -no-hover row">

                  <div class="ta-view-col col-sm-3" data-th="หัวข้อ">
                      <div class="margin-b">
                          <p class="margin-b">ประเภทรายงาน : {{ item.reportType.name }}</p>
                          <p class="margin-b">รหัส : <span class="label label-default">{{ item.code }}</span></p>
                          <p class="margin-b">ID: {{ item.reportType.id }}</p>
                      </div>
                  </div>
                  <div class="ta-view-col col-sm-4" data-th="คำอธิบาย">
                      <div class="margin-b">
                          <p class="margin-b">กรณี : {{ item.fromState.name }} <span class="fa fa-long-arrow-right"></span> {{ item.toState.name }}</p>
                          เงื่อนไข :
                          <span ng-bind="::item.description" ></span>
                      </div>
                  </div>

                  <div class="ta-view-col col-sm-5" data-th="Code">
                    <div class="well well-sm" ng-bind="::item.epl"></div>
                  </div>

                </div>
              </div>
            </div>

            <div class="filter-result-message" ng-show="error">
              <div class="filter-error alert alert-danger" role="alert" ng-show="error">
                <strong>เกิดข้อผิดพลาด</strong>
              </div>
            </div>

            <div class="filter-empty alert alert-info" ng-show="!loading && users.authorities == 0">
              <strong>ไม่พบผลการค้นหา</strong>
            </div>

            <div class="loadmore" ng-cloak ng-show="loading">
              <button class="btn btn-default center-block" type="button" ng-disabled="true">{{ loading ? 'กรุณารอสักครู่...' : 'เพิ่มเติม...' }} </button>
            </div>

          </div >
        </div>
      </div>
    </div>

  </div>
</div>
