<div class="comments-wrapper" ng-controller="CommentsCtrl">
  <h3 class="comment-title subheading"><i class="fa fa-comments fa-size-18"></i> ความคิดเห็น</h3>
  <div class="comment-form clearfix">

    <form role="form" ng-submit="postComment();">

      <div clas="form-group">

        <textarea mention ng-model="message" class="form-control" rows="3"></textarea>

        <div class="pd-file-upload file-upload" ng-disabled="submitting">
            <span class="pd-file-upload-area pull-left">
              <i class="fa fa-paperclip pd-file-upload-icon"></i>
              <span ng-hide="file[0].name" class="pd-file-upload-attach"> ไฟล์แนบ</span>
            </span>
            <span class="pd-file-upload-name" ng-show="file[0].name">{{ file[0].name }}</span>
            <input class="btn btn-default upload"
              type="file"
              ng-file-select="onFileSelect($files)" />
              <a ng-click="clearFile()" ng-show="file[0].name && !submitting" class="pd-file-upload-clear">ลบ</a>
        </div>

      </div>

      <div loader-spinner ng-show="loading"></div>
      <button type="submit" class="btn btn-default btn-post"
                  ng-disabled="!message || submitting" ng-hide="loading">เพิ่มความคิดเห็น</button>


    </form>
  </div>

  <div id='atwho-container'></div>

  <div loader-spinner ng-if="loadingReportComments"></div>

  <div id="reports-error" class="alert alert-danger" role="alert"
       ng-show="loadingReportCommentsError">
    <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
    เกิดข้อผิดพลาด
  </div>


  <div class="comment-list">
    <ul class="list-unstyled">
      <li class="comment-item"
          blink="comment.isNew"
          ng-repeat="comment in comments | orderBy:'-createdAt' ">
            <img alt="avatar" class="pull-left avatar avatar-w4"
                 ng-if="comment.createdBy.avatarUrl"
                 ng-src="{{ comment.createdBy | avatarUrl:'thumbnail' }}">
            <img src="images/avatar.png" alt="avatar" class="pull-left avatar avatar-w4"
                 ng-if="!comment.createdBy.avatarUrl">
            <p class="comment-post" ng-bind-html="comment.message | htmlToPlainText | renderMention | renderTag | renderReportTag"></p>
            <div class="comment-meta">
            <a href="{{ comment.fileUrl }}" target="_blank" ng-show="comment.fileUrl"><i class="fa fa-paperclip"></i> ดูไฟล์แนบ</a>
            <span class="">เมื่อ <span am-time-ago="comment.createdAt"></span></span>
            <span class="">โดย {{ comment.createdBy | fullname:comment.createdBy.username }}</span>
            </div>
      </li>
    </ul>
  </div>

  <script type="text/ng-template" id="/user-mentions.tpl">
      <ul class="list-group user-search">
          <li mentio-menu-item="user" ng-repeat="user in items" class="list-group-item">
              <span class="text-primary" ng-bind-html="user.username | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
              <em class="text-muted" ng-bind="user.fullName"></em>
          </li>
      </ul>
  </script>

</div>
