<div class="comments-wrapper" ng-controller="CommentsCtrl">
  <h3 class="comment-title"><i class="fa fa-comments"></i> ความคิดเห็น</h3>

  <div class="comment-list">
    <ul class="list-unstyled">
      <li class="comment-item" ng-repeat="comment in comments | orderBy:'createdAt' ">
        <p class="comment-post">{{ comment.message | htmlToPlainText }}</p>

        <div class="comment-meta">
            <span class="">เมื่อ : {{ comment.createdAt | amDateFormat: 'dddd D MMMM YYYY เวลา HH:mm' }}</span>
            <span class="">โดย : {{ comment.createdBy }}</span>
      </li>
    </ul>
  </div>

  <div class="comment-form">
    <form role="form" ng-submit="comment();">

      <div clas="form-group">
        <mentio-menu
            mentio-for="'message'"
            mentio-trigger-char="'@'"
            mentio-items="users"
            mentio-template-url="/user-mentions.tpl"
            mentio-search="searchUser(term)"
            mentio-select="getUserText(item)"></mentio-menu>

        <textarea mentio
          mentio-trigger-char="'@'"
          mentio-items="users"
          mentio-template-url="/user-mentions.tpl"
          mentio-search="searchUser(term)"
          mentio-select="getUserTextRaw(item)"
          class="editor form-control"
          ng-trim="false"
          rows="6"
          mentio-id="'message'"
          ng-model="message" 
          required class="form-control"
          placeholder="Your comment here"></textarea>
      </div>

      <button type="submit" class="btn btn-default pull-right btn-post" ng-disabled="!message || submitting">Comment</button>
    </form>
  </div>
  
  <script type="text/ng-template" id="/user-mentions.tpl">
      <ul class="list-group user-search">
          <li mentio-menu-item="person" ng-repeat="user in items" class="list-group-item">
              <span class="text-primary" ng-bind-html="user.username | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
              <em class="text-muted" ng-bind="user.username"></em>
          </li>
      </ul>
  </script>

</div>
