<div class="comments-wrapper" ng-controller="CommentsCtrl">
  <h3 class="comment-title"><i class="fa fa-comments"></i> ความคิดเห็น</h3>

  <div class="comment-list">
    <ul class="list-unstyled">
      <li class="comment-item" ng-repeat="comment in comments | orderBy:'createdAt' ">
        <p class="comment-post">{{ comment.message | htmlToPlainText }}</p>
        
        <div class="comment-meta">
            <span class="">วันที่ : {{ comment.createdAt }}</span>
            <span class="">โดย : {{ comment.createdBy }}</span>
      </li>
    </ul>
  </div>

  <div class="comment-form">
    <form role="form" ng-submit="comment();">

      <div clas="form-group">
        <textarea ng-model="message" required class="form-control"
                  placeholder="Your comment here"></textarea>
      </div>

      <button type="submit" class="btn btn-default pull-right btn-post" ng-disabled="!message || submitting">Comment</button>
    </form>
  </div>
</div>
