<div class="l-info-section l-section l-full-width" ng-controller="ContactsCtrl">
  <div class="l-detail-section l-section">
    <div class="title clearfix">
      <h2 class="pull-left"><i class="fa fa-phone pull-left fa-size-22"></i>สมุดโทรศัพท์</h2>
    </div>

    <div class="content-wrapper content">
      <div class="">

        <form role="form" ng-submit="search()" class="search-block">
            <div class="input-group">

                <span class="input-group-btn" ng-class="{ 'open': help }">
                  <button class="btn btn-default btn-info-search" type="button" ng-click="toggleHelp()">
                      <i class="fa fa-info"></i>
                  </button>

                  <div class="filter-help" ng-show="help" set-max-height="30">
                      <a href=""><i class="fa fa-times pull-right" ng-click="closeHelp()"></i></a>

                      <h4 style="margin-bottom:20px;"><i class="fa fa-info-circle"></i> ช่วยเหลือ รูปแบบการค้นหา:</h3>
                      <p>

                          <ul class="list-unstyled filter-list-help">
                              <li>
                                  ค้นหาโดยใช้รูปแบบ ตัวอย่าง:
                                  <ul>
                                      <li><code filter-this>ต้นกุก</code>
                                      <span class="explain">คือ รายชื่อหมู่บ้านต้นกุก</span></li>
                                      <li><code filter-this>อำเภอฝาง</code>
                                      <span class="explain">รายชื่อหมู่บ้านของอำเภอเมือง</span></li>
                                      <li><code filter-this>เทศบาลตำบลสุเทพ</code>
                                      <span class="explain">คือ รายชื่อหมู่บ้านของเทศบาลตำบลสุเทพ</span></li>
                                      <li><code filter-this>องค์การบริหารส่วนตำบลสบเปิง</code>
                                      <span class="explain">คือ รายชื่อหมู่บ้านขององค์การบริหารส่วนตำบลสบเปิง</span></li>
                                  </ul>
                              </li>
                          </ul>
                      </p>
                  </div><!-- end .filter-help -->
              </span>

              <input ng-model="query" type="text" class="form-control"
               placeholder="ตัวอย่าง. เทศบาลตำบลยางเนิ้ง">

              <span class="input-group-btn">
                  <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
              </span>

            </div>

            <div class="well contact-info">
              <b>Name:</b>
              <a ng-repeat="alphabet in alphabets" ng-click="searchByAlphabet(alphabet)" ng-class="{badge: alphabet === _query.alphabet}" >{{ alphabet }}</a>
              <a  ng-click="clearAlphabet()">[ reset ]</a>
            </pre>

        </form>
      </div>


      <div ng-show="loading" loader-spinner></div>
      <div class="loading-block" ng-show="error">เกิดข้อผิดพลาด</div>
      <div class="loading-block" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>

      <div class="contact-list" ng-show="!loading && !willShowResult">

        <div class="row">
          <div class="col-md-6">
              <div class="panel panel-default panel-phonebook" ng-repeat="area in administrationAreas" ng-if="$index % 2 === 0">
                <div class="panel-heading">
                  <h3 class="subheading">หมู่บ้าน : {{ area.name }} <small>{{ area.address }}</small> <a class="btn btn-primary btn-xs pull-right" role="button" data-toggle="modal" data-target="#contactModal" ng-click="selectedArea(area)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> แก้ไข</a></h3>
                </div>
                <div class="panel-body contact-detail">
                  <ul class="panel-phonebook-contact" ng-show="area.contacts">
                    <li ng-repeat="contact in area.contacts.split(',') track by $index" ng-show="contact">{{ contact }}</li>
                  </ul>
                  <div class="" ng-show="!area.contacts">ไม่มีข้อมูล</div>

                </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="panel panel-default panel-phonebook" ng-repeat="area in administrationAreas" ng-if="$index % 2 !== 0">
                <div class="panel-heading">
                  <h3 class="subheading">หมู่บ้าน : {{ area.name }} <small>{{ area.address }}</small> <a class="btn btn-primary btn-xs pull-right" role="button" data-toggle="modal" data-target="#contactModal" ng-click="selectedArea(area)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> แก้ไข</a></h3>
                </div>
                <div class="panel-body contact-detail">
                  <ul class="panel-phonebook-contact" ng-show="area.contacts">
                    <li ng-repeat="contact in area.contacts.split(',')" ng-show="contact">{{ contact }}</li>
                  </ul>
                  <div class="" ng-show="!area.contacts">ไม่มีข้อมูล</div>

                </div>
              </div>
          </div>
        </div>

        <div class="loadmore" ng-show="canLoadMore">
          <button class="btn btn-default center-block" type="button" ng-click="loadMore()" ng-disabled="disabledLoadmoreBtn">{{ disabledLoadmoreBtn ? 'Loading...' : 'Load more...' }}</button>
        </div>

        <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">หมู่บ้าน : {{ selected.name }} <small>{{ selected.address }}</small></h4>
              </div>
              <div class="modal-body">
                <h3>ข้อมูลติดต่อ</h3>

                <pre><small><b>ตัวอย่าง:</b> นายกสมใจ อินทนนท์ 081-9414023, รองนายกสมชาย บุญมาก 089-9210033</small></pre>

                <textarea class="no-resize" style="width: 100%; height: 150px;" ng-model="newSelectedContact" ng-disabled="isSave">
                </textarea>

                <div ng-show="isSave">
                  <h5>ข้อความสำหรับใช้ในการทดลองส่ง: </h5>
                  <div class="text-wrap">
                    <textarea class="no-resize sms-contact" style="width: 100%; height: 150px;" ng-model="testMessage"></textarea>
                    <span class="example-text">[ทดสอบ]</span>
                  </div>

                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-disabled="disabledUpdateBtn">ปิด</button>
                <button type="button" class="btn btn-primary" ng-click="testSendSMS()" ng-disabled="disabledUpdateBtn" ng-show="isSave">ทดลองส่งข้อความ</button>
                <button type="button" class="btn btn-primary" ng-click="saveContact()" ng-disabled="disabledUpdateBtn" ng-show="!isSave">{{ disabledUpdateBtn ? 'กำลังอัพเดท...' : 'อัพเดท' }}</button>
              </div>
            </div>
          </div>
        </div>

      </div><!-- /contact-list -->
    </div>


  </div>
</div>
