
<div class="report-filter" ng-controller="FilterCtrl">

    <form role="form" ng-submit="search()">
      <div class="input-group">

        <span class="input-group-btn" ng-class="{ 'open': help }">
            <button class="btn btn-default btn-info-search" type="button" ng-click="toggleHelp()">
                <i class="fa fa-info"></i>
            </button>

            <div class="filter-help" ng-show="help" set-max-height="30">
                <a href=""><i class="fa fa-times pull-right" ng-click="closeHelp()"></i></a>

                <h3 style="margin-bottom:20px;"><i class="fa fa-info-circle"></i> ช่วยเหลือ รูปแบบการค้นหา:</h3>
                <p>

                    <ul class="list-unstyled filter-list-help">
                      <li>
                          ค้นหาไข้เลือดออกตัวอย่าง:
                          <ul>
                              <li><code filter-this>typeName:ไข้เลือดออก</code>
                              <span class="explain">คือ หาประเภทรายงานไข้เลือดออก</span></li>
                              <li><code filter-this>case_no:00001</code>
                              <span class="explain">คือ เลข E0</span></li>
                              <li><code filter-this>hospital:รพ.เชียงดาว</code>
                              <span class="explain">คือ โรงพยาบาล</span></li>
                          </ul>
                      </li>
                        <li>
                            ค้นหาโดยใช้รูปแบบ <em>field:value</em> ตัวอย่าง:
                            <ul>
                                <li><code filter-this>animalType:ไก่</code>
                                <span class="explain">คือ หาประเภทของสัตว์</span></li>
                                <li><code filter-this>sickCount:10</code>
                                <span class="explain">คือ หาจำนวนสัตว์ป่วย</span></li>
                                <li><code filter-this>createdByName:นายฉัตรชัย</code>
                                <span class="explain">คือ หาจากผู้รายงาน</span></li>
                                <li><code filter-this>area:อำเภอหางดง</code>
                                <span class="explain">คือ หาจากพื้นที่ที่รายงาน</span></li>
                                <li><code filter-this>negative:true</code>
                                <span class="explain">คือ หาจากรายงานผิดปกติ</span></li>
                            </ul>
                        </li>

                        <li>
                            ค้นหาโดยใช้การกำหนดช่วง ตัวอย่าง:
                            <ul>
                                <li>
                                    <code filter-this>sickCount:[1 TO 3]</code>
                                    <span class="explain">คือ หาจำนวนสัตว์ป่วย ตั้งแต่ 1 ถึง 3 ตัว</span>
                                </li>

                                <li>
                                    <code filter-this>sickCount:[1 TO *]</code>
                                    <span class="explain">คือ หาจำนวนสัตว์ป่วย ตั้งแต่ 1 ตัวเป็นต้นไป</span>
                                </li>
                            </ul>
                        </li>

                        <li>
                            ค้นหาโดยใช้วันที่ สำหรับ field นี้ใช้ได้เฉพาะการค้นหาแบบกำหนดช่วงเท่านั้น ตัวอย่าง:
                            <ul>
                                <li>
                                    <code filter-this>date:[{{startOfMonth}} TO {{endOfMonth}}]</code>
                                    <span class="explain">คือ หารายงานตั้งแต่ต้นเดือนถึงสิ้นเดือนนี้</span>
                                </li>
                                <li>
                                    <code filter-this>date:[{{startOfMonth}} TO *]</code>
                                    <span class="explain">คือ หารายงานตั้งแต่ต้นเดือนจนถึงวันที่ปัจจุบัน</span>
                                </li>
                                <li>
                                    <code filter-this>date:today</code>
                                    <span class="explain">คือ หารายงานภายในวันนี้</span>
                                </li>
                                <li>
                                    <code filter-this>date:yesterday</code>
                                    <span class="explain">คือ หารายงานของเมื่อวานนี้</span>
                                </li>
                                <li>
                                    <code filter-this>date:this week</code>
                                    <span class="explain">คือ หารายงานภายในอาทิตย์นี้</span>
                                </li>
                                <li>
                                    <code filter-this>date:last 10 days</code>
                                    <span class="explain">คือ หารายงานตั้งแต่ วันนี้ ย้อนหลังไป 10 วัน</span>
                                </li>
                            </ul>
                        </li>

                        <li>
                            ค้นหาโดยแบบขั้นสูง ตัวอย่าง:
                            <ul>
                                <li>
                                    <code filter-this>(animalType:แมว AND sickCount:10) OR sickCount:[3 TO *]</code><br>
                                    <span class="explain">คือ หาจำนวนแมวป่วยสิบตัว หรือ สัตว์อะไรก็ได้ที่ป่วย 3 ตัวขึ้นไป</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div><!-- end .filter-help -->
        </span>

        <input ng-model="query" type="text" class="form-control"
               placeholder="ตัวอย่าง. animalType:ไก่">

        <span class="input-group-btn">
            <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
        </span>
      </div>
    </form>

    <div class="filter-result" ng-show="willShowResult">
      <div class="filter-loading" ng-show="loading">
          กำลังค้นหา &hellip;
      </div>

      <div class="filter-error" ng-show="error">
          เกิดข้อผิดพลาด
      </div>

      <div class="filter-empty" ng-show="empty">
          ไม่พบผลการค้นหาที่กำหนด
      </div>

      <!-- <buttom class="btn btn-default" ng-click="closeResult()">ปิด</button> -->
    </div>


    <div class="filter-result filter-result-reports"
         ng-show="didSearch && !willShowResult"
         set-max-height="30" trigger-event="'forceResizeResultWrapper'">

        <h3 class="filter-title">
            พบผลลัพธ์จำนวน {{ (shared.filteredReports.length || 0) | number }} รายงาน
            <span ng-if="!empty">กระจายใน {{ shared.filterResults.length }} พื้นที่</span>
        </h3>

        <div class="dropdown export-dropdown" role="group">
          <button type="button" class="btn btn-default btn-xs dropdown-toggle" id="exportFilterResult"
                  aria-expended="false" data-toggle="dropdown" aria-haspopup="true">
              Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="exportFilterResult">
            <li><a href="#" ng-click="csvExport($event)">CSV</a></li>
            <li><a href="#" ng-click="xlsxExport($event)">Excel</a></li>
          </ul>
        </div>

        <button class="btn btn-xs pull-right filter-result-list-button" type="button"
            ng-click="toggleTable()"
            ng-show="shared.filteredReports.length"
            ng-class="{ 'active': showTable }">
            <span ng-hide="showTable"><i class="fa fa-table"></i></span>
            <span ng-show="showTable"><i class="fa fa-times"></i></span>
        </button>

        <div ng-show="showTable && shared.filteredReports"
             class="content-wrapper filter-wrapper"
             set-max-height="40" trigger-event="'forceResizeResultTable'">

            <div ui-grid="filterResultGridOptions"
                 ui-grid-selection
                 ui-grid-resize-columns
                 ui-grid-exporter
                 class="myGrid"></div>

            <!-- <div class="row pager-info">
                <div class="col-md-6 text-left pager-current-page">
                    หน้าที่ {{ gridApi.pagination.getPage() }} จากทั้งหมด {{ gridApi.pagination.getTotalPages() }} หน้า
                </div>

                <div class="col-md-6">
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="btn btn-default"
                                ng-click="gridApi.pagination.previousPage()">หน้าก่อน</button>
                        <button type="button" class="btn btn-default"
                                ng-click="gridApi.pagination.nextPage()">หน้าถัดไป</button>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

</div>
