
<div class="report-filter" ng-controller="FilterCtrl">

    <form role="form" ng-submit="search()">
      <div class="input-group">

        <span class="input-group-btn" ng-class="{ 'open': help }">
            <button class="btn btn-default btn-info-search" type="button" ng-click="toggleHelp()">
                <i class="fa fa-info"></i>
            </button>

            <div class="filter-help" ng-show="help">
                <a href=""><i class="fa fa-times pull-right" ng-click="closeHelp()"></i></a>

                <h4 style="margin-bottom:20px;"><i class="fa fa-info-circle"></i> ช่วยเหลือ รูปแบบการค้นหา:</h3>
                <p>

                    <ul class="list-unstyled filter-list-help">
                        <li>
                            ค้นหาโดยใช้รูปแบบ <em>field:value</em> ตัวอย่าง:
                            <ul>
                                <li><code>animalType:ไก่</code>
                                <span class="explain">คือ หาประเภทของสัตว์</span></li>
                                <li><code>sickCount:10</code>
                                <span class="explain">คือ หาจำนวนสัตว์ป่วย</span></li>
                            </ul>
                        </li>

                        <li>
                            ค้นหาโดยใช้การกำหนดช่วง ตัวอย่าง:
                            <ul>
                                <li>
                                    <code>sickCount:[1 TO 3]</code>
                                    <span class="explain">คือ หาจำนวนสัตว์ป่วย ตั้งแต่ 1 ถึง 3 ตัว</span>
                                </li>

                                <li>
                                    <code>sickCount:[1 TO *]</code>
                                    <span class="explain">คือ หาจำนวนสัตว์ป่วย ตั้งแต่ 1 ตัวเป็นต้นไป</span>
                                </li>
                            </ul>
                        </li>

                        <li>
                            ค้นหาโดยใช้วันที่ สำหรับ field นี้ใช้ได้เฉพาะการค้นหาแบบกำหนดช่วงเท่านั้น ตัวอย่าง:
                            <ul>
                                <li>
                                    <code>date:[2014-11-20 TO 2014-11-20]</code>
                                    <span class="explain">คือ หารายงานของวันที่ 20 พ.ย. 2014</span>
                                </li>
                                <li>
                                    <code>date:[2014-11-20 TO *]</code>
                                    <span class="explain">คือ หารายงานตั้งแต่ วันที่ 20 พ.ย. 2014</span>
                                </li>
                            </ul>
                        </li>

                        <li>
                            ค้นหาโดยแบบขั้นสูง ตัวอย่าง:
                            <ul>
                                <li>
                                    <code>(animalType:แมว AND sickCount:10) OR sickCount:[3 TO *]</code><br>
                                    <span class="explain">คือ หาจำนวนแมวป่วยสิบตัว หรือ สัตว์อะไรก็ได้ที่ป่วย 3 ตัวขึ้นไป</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div><!-- end .filter-help -->
        </span>

        <input ng-model="query" type="text" class="form-control"
               placeholder="ตัวอย่าง. animalType:ไก่">

        <span class="input-group-btn">
            <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
        </span>
      </div>
    </form>

    <div class="filter-result" ng-show="willShowResult">
      <div class="filter-loading" ng-show="loading">
          กำลังค้นหา &hellip;
      </div>

      <div class="filter-error" ng-show="error">
          เกิดข้อผิดพลาด
      </div>

      <div class="filter-empty" ng-show="empty">
          ไม่พบผลการค้นหาที่กำหนด
      </div>

      <ul class="list-unstyled filter-result-list" ng-hide="1">
        <li ng-repeat="item in results" ng-click="triggerVillageClick(item)"
            class="filter-result-item">

          <div class="filter-result-village">
            <div class="village-name">{{ item.name }}</div>

            <div class="village-location">
              <span class="latitude">{{ item.location.coordinates[1] }}</span> ,
              <span class="longitude">{{ item.location.coordinates[0] }}</span>
            </div>
          </div>

        </li>
      </ul>

      <!-- <buttom class="btn btn-default" ng-click="closeResult()">ปิด</button> -->
    </div>

</div>
