<div class="l-info-section l-section l-full-width">
  <div class="l-detail-section l-section">
    <div class="title clearfix">
      <h2 class="pull-left"><i class="fa fa-list-ol pull-left fa-size-22"></i>รายการรายงาน</h2>
    </div>

    <div class="content-wrapper"><div class="content">

    <div class="row">
      <div class="col-sm-4">
        <div class="filter-form">
          <form class="form-horizontal" ng-submit="submit($event)">
            <h3>Filter</h3>
            <div class="form-group">
              <h4 class="filter-heading">ประภทรายงาน</h4>
                <button class="btn btn-choice" ng-class="{ 'btn-choice-selected': reportType.checked }" type="button"
                        ng-repeat="reportType in reportTypes.all"
                        ng-click="toggleReportTypeCheck(reportType)">
                  <span class="badgex" ng-if="!reportType.checked">
                    <i class="fa fa-circle-o fa-size-14"></i>
                  </span>
                  <span class="badgex" ng-if="reportType.checked">
                    <i class="fa fa-check-circle-o fa-size-14"></i>
                  </span>
                  {{ reportType.name }}
                </button>
            </div><!-- /report type form -->

            <div class="form-group">
              <h4 class="filter-heading">สถานะรายงาน</h4>
                <div class="report-type-states-group" ng-repeat="reportType in reportTypes.all | filter:{checked:true}">
                  <div class="states-group-title"><string>{{ reportType.name }}</string></div>
                  <div class="states-group-options">
                    <button class="btn btn-choice" ng-class="{ 'btn-choice-selected': state.checked }" type="button"
                            ng-repeat="state in reportTypeStates.all[reportType.id]"
                            ng-click="toggleStateCheck(state)">
                      <span class="badgex" ng-if="!state.checked">
                        <i class="fa fa-circle-o fa-size-14"></i>
                      </span>
                      <span class="badgex" ng-if="state.checked">
                        <i class="fa fa-check-circle-o fa-size-14"></i>
                      </span>
                      {{ state.name }}
                    </button>
                  </div><!-- /states-group-options -->
                </div><!-- /.report-type-states-group -->
            </div><!-- /report type state form -->

            <div class="form-group filter-form-date">
              <h4 class="filter-heading">ช่วงเวลา</h4>
                <small class="states-group-title">ตั้วแต่วันที่</small><div sb-date-select ng-model="dateFrom"></div>
                <small class="states-group-title">ถึงวันที่</small><div sb-date-select ng-model="dateTo"></div>
            </div><!-- /date range form -->

            <div class="form-group">
              <h4 class="filter-heading">Authority</h4>
                <ui-select multiple
                  reset-search-input="true"
                  ng-model="authorities.selected"
                  class="ui-select-match-custom">
                  <ui-select-match>{{ $item.name }}</ui-select-match>
                  <ui-select-choices
                    group-by="'parentName'"
                    repeat="authority in authorities.all | filter:$select.search | orderBy:['_order', 'parentName', 'name']">
                    <span ng-bind-html="authority.name | highlight:$select.search"></span>
                  </ui-select-choices>
                </ui-select>
            </div><!-- /authority form -->

            <button class="btn btn-primary" type="submit" ng-disabled="loading">
              Submit
            </button>
          </form>
        </div><!-- /.filter-form -->
      </div> <!-- /.col-sm-4 -->

      <div class="col-sm-8">
        <div class="filter-result-container">
          <div ng-repeat="(key, groupReports) in reports | groupBy:'timestamp' | toArray:true | orderBy:'-$key'" class="">
            <h3 am-time-ago="groupReports[0].timePeriod" class="filter-heading"></h3>

            <div ng-repeat="report in groupReports" class="row filter-result-item" ng-click="viewReport(report.id)">
              <div class="col-md-2" ng-bind="report.date | amDateFormat:'D MMM YY'"></div>
              <div class="col-md-10">
                <div class="row text-left">
                  <div class="col-md-12">
                    <label class="label label-default label-state-{{report.stateCode}}"
                           ng-bind="report.stateName"></label>
                    <span ng-bind="::report.reportTypeName"></span>
                    <i class="fa fa-map-marker"></i>
                    <span ng-bind="::report.administrationAreaAddress"></span>
                  </div>
                </div>
                <div class="row text-left">
                  <div class="col-md-12" ng-bind-html="::report.renderedOriginalFormData"></div>
                </div>
              </div>
            </div><!-- /.filter-result-item -->
          </div><!-- /result group -->

          <div class="filter-result-message" ng-show="error || isEmpty()">
            <div class="filter-error" ng-show="error">
                เกิดข้อผิดพลาด
            </div>

            <div class="filter-empty" ng-show="isEmpty()">
                ไม่พบผลการค้นหาที่กำหนด
            </div>
          </div><!-- /.filter-result-message -->
        </div><!-- /.filter-result-container -->

      </div> <!-- /.col-sm-8 -->
    </div>

    <div class="loadmore" ng-cloak ng-show="!error && !isEmpty()">
      <button class="btn btn-default center-block" type="button" ng-show="!lastPage" ng-click="::loadMore()" ng-disabled="loading">{{ loading ? 'Loading...' : 'Load more...' }} (Page {{page}} / {{totalPage}})</button>
    </div><!-- /.loadmore -->

    </div></div>
  </div>
</div>

<div ng-include="'/views/report-view.html'" onload="initReportModal()"></div>
