<div class="l-info-section l-section l-full-width">
  <div class="l-detail-section l-section">
    <div class="title clearfix">
      <h2 class="pull-left"><i class="fa fa-list-ol pull-left fa-size-22"></i>รายการรายงาน</h2>
    </div>

    <div class="content-wrapper"><div class="content">

      <div class="filter-form">
        <form class="form-horizontal" ng-submit="submit($event)">
          <h3>Filter</h3>
          <div class="form-group">
            <label class="col-sm-2 control-label">Report Type</label>
            <div class="col-sm-10">
              <button class="btn" ng-class="{ 'btn-warning': reportType.checked }" type="button"
                      ng-repeat="reportType in reportTypes.all"
                      ng-click="toggleReportTypeCheck(reportType)">
                <span class="badgex" ng-if="!reportType.checked">
                  <i class="fa fa-circle-o fa-size-18"></i>
                </span>
                <span class="badgex" ng-if="reportType.checked">
                  <i class="fa fa-check-circle-o fa-size-18"></i>
                </span>
                {{ reportType.name }}
              </button>
            </div>
          </div><!-- /report type form -->

          <div class="form-group">
            <label class="col-sm-2 control-label">Report Type State</label>
            <div class="col-sm-10">
              <div class="report-type-states-group" ng-repeat="reportType in reportTypes.all | filter:{checked:true}">
                <div class="states-group-title"><string>{{ reportType.name }}</string></div>
                <div class="states-group-options">
                  <button class="btn" ng-class="{ 'btn-warning': state.checked }" type="button"
                          ng-repeat="state in reportTypeStates.all[reportType.id]"
                          ng-click="toggleStateCheck(state)">
                    <span class="badgex" ng-if="!state.checked">
                      <i class="fa fa-circle-o fa-size-18"></i>
                    </span>
                    <span class="badgex" ng-if="state.checked">
                      <i class="fa fa-check-circle-o fa-size-18"></i>
                    </span>
                    {{ state.name }}
                  </button>
                </div><!-- /states-group-options -->
              </div><!-- /.report-type-states-group -->
            </div>
          </div><!-- /report type state form -->

          <div class="form-group">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="From" ng-model="dateFrom">
              -
              <input type="text" class="form-control" placeholder="To" ng-model="dateTo">
            </div>
          </div><!-- /date range form -->

          <div class="form-group">
            <label class="col-sm-2 control-label">Authority</label>
            <div class="col-sm-10">
              <ui-select multiple
                reset-search-input="true"
                ng-model="authorities.selected">
                <ui-select-match>{{ $item.name }}</ui-select-match>
                <ui-select-choices
                  group-by="'parentName'"
                  repeat="authority in authorities.all | filter:$select.search | orderBy:['_order', 'parentName', 'name']">
                  <span ng-bind-html="authority.name | highlight:$select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>
          </div><!-- /authority form -->

          <button class="btn btn-primary" type="submit" ng-disabled="loading">
            Submit
          </button>
        </form>

      </div><!-- /.filter-form -->

      <div class="filter-result">
        <div ng-repeat="report in reports" class="row filter-result-item">
          <div class="col-md-1" am-time-ago="report.date"></div>
          <div class="col-md-2" ng-bind="::report.administrationAreaAddress"></div>
          <div class="col-md-4" ng-bind-html="::report.renderedOriginalFormData"></div>
          <div class="col-md-2" ng-bind="::report.reportTypeName"></div>
          <div class="col-md-2" ng-bind="report.stateName"></div>
        </div>
      </div><!-- /.filter-result -->

      <div class="loadmore" ng-cloak>
        <button class="btn btn-default center-block" type="button" ng-show="!lastPage" ng-click="::loadMore()" ng-disabled="loading">{{ loading ? 'Loading...' : 'Load more...' }} (Page {{page}} / {{totalPage}})</button>
      </div><!-- /.loadmore -->

    </div></div>
  </div>
</div>
