<div class="summary-view l-info-section l-section l-full-width"
     ng-controller="InvitationCodeCtrl"
     ng-cloak>
  <div class="l-detail-section l-section">

    <div class="title clearfix">
        <h2 class="pull-left">
          <i class="fa fa-users pull-left fa-size-22"></i>
          รหัสพื้นที่
        </h2>
    </div>
    <div class="content-wrapper content">
      <div class="summary-wrapper profile-wrapper">
          <div class="row">
            <div class="col-md-12">

              <h2 class="subheading">ตารางรายชื่อพื้นที่</h2>

              <div class="filter-action clearfix">
                  <button type="button" class="btn btn-default hide">ลบรายการ</button>
                  <button type="button" class="btn btn-primary pull-left hide" data-toggle="modal" data-target="#userModal" ng-click="selectedUser(null)" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> สร้างผู้ใช้</button>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="pull-left">

                  </div>
                  <div class="pull-right">

                  </div>
                </div>
              </div>

              <div class="filter-result-container">
                  <div class="ta-view">
                    <div class="ta-view-header row hidden-xs">
                      <div class="col-md-1 col-sm-1 col-checkbox">
                        <input type="checkbox"/>
                      </div>
                      <div class="col-md-5 col-sm-5">พื้นที่</div>
                      <div class="col-md-2 col-sm-2">รหัส</div>
                      <div class="col-md-2 col-sm-2">หมดอายุ</div>
                      <div class="col-md-2 col-sm-2 text-right">คำสั่ง</div>
                    </div>
                    <div ng-repeat="authority in authorities" class="ta-view-row row">

                        <div class="ta-view-col col-md-1 col-sm-1 col-checkbox" data-th="เลือก">
                          <input type="checkbox"/>
                        </div>

                        <div class="ta-view-col col-md-5 col-sm-5" data-th="ชื่อ">
                          <span ng-bind="::authority.name" ></span>
                        </div>

                        <div class="ta-view-col col-md-2 col-sm-2" data-th="รหัส">
                          <span>{{ authority.inviteCode }} </span>
                        </div>

                        <div class="ta-view-col col-md-2 col-sm-2" data-th="หมดอายุ">
                          <span>{{ authority.inviteExpiredAt }} </span>
                        </div>

                        <div class="ta-view-col ta-view-area col-md-2 col-sm-2 text-right" data-th="คำสั่ง">
                          <a ng-click="renewCode(authority)" class="">
                            ขอรหัสใหม่</a>
                        </div>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col-md-9">
              <div ng-show="loading" loader-spinner></div>
              <div class="loading-block" ng-show="!loading && error">เกิดข้อผิดพลาด</div>
              <div class="loading-block" ng-show="!loading && authorities.length == 0">ไม่พบผลการค้นหาที่กำหนด</div>
            </div>

          </div >
      </div>
    </div>
  </div>

</div>
