<div class="summary-view l-info-section l-section l-full-width"
     ng-controller="NotificationCtrl"
     ng-cloak>
  <div class="l-detail-section l-section">

    <div class="title clearfix">
      <h2 class="pull-left">
        <i class="fa fa-users pull-left fa-size-22"></i>
        ผู้มีส่วนเกี่ยวข้อง
      </h2>
    </div>
    <div class="content-wrapper content">
      <div class="summary-wrapper profile-wrapper">
        <div class="row">
          <div class="col-md-12">

            <h2 class="subheading">ตารางรายการผู้มีส่วนเกี่ยวข้อง</h2>

            <div class="filter-action clearfix">
              <button type="button" class="btn btn-default hide">ลบรายการ</button>
              <button type="button" class="btn btn-primary pull-left hide" data-toggle="modal" data-target="#userModal" ng-click="selectedUser(null)" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> สร้างผู้ใช้</button>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="pull-left">

                </div>
                <div class="pull-right">

                </div>
              </div>
            </div>

            <div class="filter-result-container">
              <div class="ta-view -wide">
                <div class="ta-view-header row hidden-xs">
                  <!--<div class="col-md-1 col-sm-1 col-checkbox">-->
                    <!--<input type="checkbox"/>-->
                  <!--</div>-->
                  <div class="col-md-1 col-sm-2">รหัส</div>
                  <div class="col-md-2 col-sm-4">ประเภทรายการ</div>
                  <div class="col-md-4 col-sm-4">รายการ</div>
                  <div class="col-md-3 col-sm-4">แจ้งเตือนไปยัง</div>
                  <div class="col-md-2 col-sm-2">คำสั่ง</div>
                </div>
                <div ng-repeat="template in notificationTemplates" class="ta-view-row row">

                  <!--<div class="ta-view-col col-md-1 col-sm-1 col-checkbox" data-th="เลือก">-->
                    <!--<input type="checkbox"/>-->
                  <!--</div>-->

                  <div class="ta-view-col col-md-1 col-sm-1" data-th="รหัส">
                    <span>#{{ template.id }} </span>
                  </div>
                
                <div class="ta-view-col col-md-2 col-sm-5" data-th="รายการ">
                    <span ng-bind="::template.typeName" ></span>
                  </div>

                  <div class="ta-view-col col-md-4 col-sm-5" data-th="รายการ">
                    <span ng-bind="::template.description" ></span>
                  </div>

                  <div class="ta-view-col col-md-3 col-sm-4" data-th="แจ้งเตือนไปยัง">
                    <span class="" ng-bind-html="template.contact.to | renderTemplate | renderContact"></span>
                  </div>

                  <div class="ta-view-col ta-view-area col-md-2 col-sm-2" data-th="คำสั่ง">
                    <a class="btn btn-primary btn-xs btn-edit ng-click-active" role="button" data-toggle="modal" data-target="#notificationContactModal" ng-click="selectedTemplate(template)">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> แก้ไข
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="filter-result-message" ng-show="error">
              <div class="filter-error alert alert-danger" role="alert" ng-show="error">
                <strong>เกิดข้อผิดพลาด</strong>
              </div>

            </div>

            <div class="filter-empty alert alert-info" ng-show="!loading && users.authorities == 0">
              <strong>ไม่พบผลการค้นหา</strong>
            </div>

            <div class="loadmore" ng-cloak ng-show="loading">
              <button class="btn btn-default center-block" type="button" ng-disabled="true">{{ loading ? 'กรุณารอสักครู่...' : 'เพิ่มเติม...' }} </button>
            </div>

          </div >
        </div>
      </div>
    </div>
    <div ng-include="'/views/notification-config-update.html'"></div>
  </div>
</div>
