<div class="notification-block" ng-controller="NotificationsCtrl">
    <ul ng-repeat="notification in notifications | orderBy:'-createdAt' ">
        <li class="read" ng-click="onClickNotifiction(notification)" ng-show="notification.isNotified">
           <a href="">
            {{ notification.mentioner }} mention to you on report# {{ notification.reportId }}
            <div class="time">
                <i class="fa fa-comment fa-size-14"></i>
                เมื่อ <span am-time-ago="notification.createdAt"></span>
            </div>
            </a>
        </li>
        <li ng-click="onClickNotifiction(notification)" ng-show="!notification.isNotified">
           <a href="">
               {{ notification.mentioner }} mention to you on report# {{ notification.reportId }}
            <div class="time">
                <i class="fa fa-comment fa-size-14"></i>
                เมื่อ <span am-time-ago="notification.createdAt"></span>
            </div></a>
        </li>
    </ul>
</div>