<div class="notification-block" ng-controller="NotificationsCtrl">
    <ul id="notifications-empty" ng-hide="notifications">
        <li class="read" >ยังไม่พบการแจ้งเตือน</li>
    </ul>
    <ul>
        <li ng-class="{'read': notification.isNotified}" ng-repeat="notification in notifications | orderBy:'-createdAt' " ng-click="onClickNotification(notification)">
            <a href="">
                @{{ notification.mentioner }} อ้างอิงถึงคุณบนรายงานที่ {{ notification.reportId }}
                <div class="time">
                    <i class="fa fa-comment fa-size-14"></i>
                    เมื่อ <span am-time-ago="notification.createdAt"></span>
                </div>
            </a>
        </li>
    </ul>
</div>