<div class="notification-block" ng-controller="NotificationsCtrl">
    <ul id="notifications-empty" ng-hide="notifications">
        <li class="read" >ยังไม่พบการแจ้งเตือน</li>
    </ul>
    <ul ng-repeat="notification in notifications | orderBy:'-createdAt' ">
        <li class="read" ng-click="onClickNotifiction(notification)" ng-show="notification.isNotified">
            {{ notification.mentioner }} mention to you on report# {{ notification.reportId }}</br>
            <span class="">
                <i class="fa fa-comment fa-size-14"></i>
                <span class="">เมื่อ <span am-time-ago="notification.createdAt"></span></span>
            </span>
        </li>
        <li ng-click="onClickNotifiction(notification)" ng-show="!notification.isNotified">
            {{ notification.mentioner }} mention to you on report# {{ notification.reportId }}</br>
            <span class="">
                <i class="fa fa-comment fa-size-14"></i>
                <span class="">เมื่อ <span am-time-ago="notification.createdAt"></span></span>
            </span>
        </li>
    </ul>
</div>