<div class="l-info-section l-section l-full-width" ng-controller="PlansCtrl">
  <div class="l-detail-section l-section">
    <div class="title clearfix">
      <h2 class="pull-left"><i class="fa fa-list-ol pull-left fa-size-22"></i>รายการแผนรับมือโรคระบาด</h2>
    </div>

    <div class="content-wrapper"><div class="content">
      <div class="plans-list-legend">
        <div class="panel panel-default">
          <div class="panel-heading">คำอธิบาย</div>
          <div class="panel-body">
            <div class="row">
                <div class="col-md-4"><span class="label label-danger">Red</span> โซนสีแดง คือหมู่บ้านที่เกิดเหตุ</div>
                <div class="col-md-4"><span class="label label-warning">Yellow</span> โซนสีเหลือง คือระยะจากจุดเกิดเหตุ 3 กม.</div>
                <div class="col-md-4"><span class="label label-success">Green</span> โซนสีเขียว คือระยะจากจุดเกิดเหตุ 10 กม.</div>
              </div>
              <div class="row">
                <div class="col-md-12">

                </div>
              </div>
          </div>
        </div>

      <div class="plans-list">
        <div class="row plan-list-item" ng-if="!loading && planReports.length === 0">
          <div class="well text-center">ยังไม่มีแผนรับมือ</div>
        </div>

        <h2 class="subheading">แผนรับมือ</h2>
        <div class="row plan-list-item" ng-repeat="planReport in planReports" ng-if="planReports.length > 0">
          <div class="col-md-12">
            <div class="plan-item">
              <div class="row">
                <div class="col-md-8 list-item-main-section">
                  <div class="plan-list-item-left">
                    <div class="list-item-header">
                      <h2 class="subheading">{{ planReport.log.plan.name }} ของรายงาน {{ planReport.reportTypeName }} หมายเลข #{{ planReport.report }}</h2>
                    </div>

                    <table class="table">
                    <thead>
                      <tr>
                        <th class="text-normal" colspan="2">หมายเหตุ : พื้นที่ที่ได้รับผลกระทบ, <span class="area-highlight text-right">พื้นที่ที่รับผิดชอบ</sapn></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="level in planReport.log.plan.levels">
                        <td class="label-code">
                          <span ng-if="level.code == 'red'" ng-bind="level.name" class="label label-danger"></span>
                          <span ng-if="level.code == 'yellow'" ng-bind="level.name" class="label label-warning"></span>
                          <span ng-if="level.code == 'green'" ng-bind="level.name" class="label label-success"></span>
                        </td>
                        <td>
                          <span ng-repeat="area in getLevelAreas(planReport, level.code)">
                            <span ng-class="{ 'area-highlight': area.isMine }">{{ area.address || area.name }}</span>
                            <span ng-if="!$last">, </span>
                            <span ng-if="$last && willShowExpandButton(planReport, level.code) && !isExpand(planReport, level.code)">, &hellip;</span>
                          </span>

                          <span ng-if="willShowExpandButton(planReport, level.code) && !isExpand(planReport, level.code)" ng-click="setExpand(planReport, level.code, true)" class="show-all">
                            <i class="fa fa-angle-double-down"></i>
                            แสดงทั้งหมด
                          </span>
                          <span ng-if="willShowExpandButton(planReport, level.code) && isExpand(planReport, level.code)" ng-click="setExpand(planReport, level.code, false)" class="show-all">
                            <i class="fa fa-angle-double-up"></i>
                            แสดงน้อยลง
                          </span>

                        </td>
                      </tr>
                    </tbody>
                    <!--<tbody ng-if="!planReport.myLevelAreasCount">-->
                      <!--<tr>-->
                        <!--<td colspan="2">ไม่มี</td>-->
                      <!--</tr>-->
                    <!--</tbody>-->
                  </table><!-- /end table -->
                  </div>



                </div><!-- /end first col -->
                <div class="col-md-4 list-item-meta">
                  <div class="plan-list-item-right">
                  <h2 class="subheading">รายละเอียดรายงาน</h2>
                  <!-- <div class="row"> -->
                    <!-- <div class=""> -->
                      <p><strong>เมื่อ : <span class="" am-time-ago="planReport.createdAt" tooltip="{{ planReport.createdAt | amCalendar }}"></span></strong></p>
                    <!-- </div> -->
                    <!-- <div class="list-item-meta-label col-md-5"></div>
                    <div class="list-item-meta-value col-md-7"></div> -->
                  <!-- </div>
                  <div class="row"> -->
                    <p><strong>สถานะปัจจุบัน : {{ planReport.reportStateName }}</strong></p>
                    <!-- <div class="list-item-meta-label col-md-5"></div>
                    <div class="list-item-meta-value col-md-7"></div> -->
                  <!-- </div>
                  <div class="row"> -->
                    <p><strong>จำนวนพื้นที่ที่ได้รับผลกระทบ : {{ planReport.affectedAreasCount }}</strong></p>
                    <!-- <div class="list-item-meta-label col-md-5"></div>
                    <div class="list-item-meta-value col-md-7"></div> -->
                  <!-- </div>
                  <div class="row"> -->
                    <div class="list-item-meta-view-button col-md-12">
                      <a ng-href="#/reports/{{ planReport.report }}" target="_blank" class="view-button btn btn-primary">ดูรายงาน</a>
                    </div>
                  <!-- </div> -->
                  </div>
                </div>
              </div><!-- /end row -->
            </div>
          </div>
        </div>
      </div><!-- /plan-list -->

      <div class="loadmore" ng-cloak>
        <button class="btn btn-default center-block" type="button" ng-show="!endPageList" ng-click="loadMore()" ng-disabled="loading">{{ loading ? 'Loading...' : 'Load more...' }}</button>
      </div>
    </div></div>
  </div>
</div>
