<div class="l-info-section l-section l-full-width" ng-controller="PlansCtrl">
  <div class="l-detail-section l-section">
    <div class="title clearfix">
      <h2 class="pull-left"><i class="fa fa-list-ol pull-left fa-size-22"></i>รายการแผนรับมือโรคระบาด</h2>
    </div>

    <div class="content-wrapper"><div class="content">
      <div class="plans-list-legend">
      <div class="plans-list">
        <div class="row plan-list-item" ng-if="!loading && planReports.length === 0">
          <div class="well text-center">ยังไม่มีแผนรับมือ</div>
        </div>

        <h2 class="subheading">แผนรับมือ</h2>
        <div class="row plan-list-item" ng-repeat="planReport in planReports" ng-if="planReports.length > 0">
          <div class="col-md-12">
            <div class="plan-item">
              <div class="row">
                <div class="col-md-5 list-item-main-section"></div>
                <div class="col-md-4 list-item-meta">
                  <div class="plan-list-item-left">
                    
                    <div class="list-item-header">
                      <h2 class="subheading">{{ planReport.log.plan.name }} ของรายงาน {{ planReport.reportTypeName }} หมายเลข #{{ planReport.report }}</h2>
                    </div>

                    <h2 class="subheading">รายละเอียดรายงาน</h2>
                    
                    <p><strong>พื้นที่เกิดเหตุ : {{ planReport.incidentArea }}</strong></p>

                    <p><strong>สถานะ : {{ planReport.reportStateName }}</strong></p>
                    
                    <p class="hidden"><strong>จำนวนพื้นที่ที่ได้รับผลกระทบ : {{ planReport.affectedAreasCount }}</strong></p>
                    
                    <p><strong>เกิดเหตุเมื่อ : <span class="" am-time-ago="planReport.createdAt" tooltip="{{ planReport.createdAt | amCalendar }}"></span></strong></p>
                  <!-- <div class="row"> -->
                    <div class="list-item-meta-view-button">
                      <a ng-href="#/reports/{{ planReport.report }}" target="_blank" class="view-button btn btn-primary">ดูรายงาน</a>
                    </div>

                  <!-- </div> -->
                  </div>
                </div>
                <div class="col-md-3 list-item-main-section">
                  <div class="">
                      <div class="row">
                        <div class="col-md-12 list-item-main-section">
                          <br/>
                          <p><strong>พื้นที่ของคุณได้รับผลกระทบ : <br/><span class="" am-time-ago="planReport.createdAt" tooltip="{{ planReport.createdAt | amCalendar }}"></span></strong></p>

                          <hr/>
                      
                          <div class="list-item-meta-view-button">
                            <a ng-href="#/reports/{{ planReport.report }}" target="_blank" class="view-button btn btn-primary">แจ้งเตือนผู้มีส่วนเกี่ยวข้อง</a>
                            <a data-toggle="modal" data-target="#areaModal" ng-click="viewAreas(planReport)" class="view-button btn btn-primary">พื้นที่ที่ได้รับผลกระทบ</a>
                          </div>
                        </div>
                      </div>

                  </div>
                </div><!-- /end first col -->
              </div><!-- /end row -->
            </div>
          </div>
        </div>
      </div><!-- /plan-list -->

      <div class="loadmore" ng-cloak>
        <button class="btn btn-default center-block" type="button" ng-show="!endPageList" ng-click="loadMore()" ng-disabled="loading">{{ loading ? 'Loading...' : 'Load more...' }}</button>
      </div>

      <div id="areaModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">พื้นที่ที่ได้รับผลกระทบ</h4>
            </div>
            <div class="modal-body">
              <p>หมายเหตุ : พื้นที่ที่ได้รับผลกระทบ, <span class="area-highlight text-right">พื้นที่ที่รับผิดชอบ</span></p>
              <div ng-repeat="level in currentPlanReport.log.plan.levels">
                <br/>
                <div class="label-code">
                  <p ng-if="level.code == 'red'"><span ng-bind="level.name" class="label label-danger"></span> โซนสีแดง คือหมู่บ้านที่เกิดเหตุ</p>
                  <p ng-if="level.code == 'yellow'" ><span ng-bind="level.name" class="label label-warning"></span> โซนสีเหลือง คือระยะจากจุดเกิดเหตุ 3 กม.</p>
                  <p ng-if="level.code == 'green'" ><span ng-bind="level.name" class="label label-success"></span>โซนสีเขียว คือระยะจากจุดเกิดเหตุ 10 กม.</p>
                </div>
                <div>
                  <div class="filter-result-container">
                    <div class="ta-view -wide">
                      <div class="ta-view-row row">
                          <div ng-repeat="area in getLevelAreas(currentPlanReport, level.code)" class="ta-view-col col-md-6 col-sm-3" data-th="ชื่อ">
                            <span ng-class="{ 'area-highlight': area.isMine }"> {{ area.address || area.name }}</span>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
            </div>
        </div>
      </div></div>

    </div></div>
  </div>
</div>
