<div class="l-info-section l-section animated" report-view
     ng-class="{ 'l-full-width': !shared.showReportList }"
     ng-controller="ReportViewCtrl" ng-show="willShowReportView" ng-cloak>

  <div class="test-watermark" ng-show="report.testFlag">
    <div class="test-watermark-text">รายงานทดสอบ</div>
  </div>

  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-file-text-o pull-left fa-size-22"></i>รายละเอียด</h2>
        <i class="fa fa-times fa-size-18 pull-right" ng-click="closeReportView();gotoMainPage();"></i>
    </div>

    <div loader-spinner ng-if="loadingReportView"></div>

    <div id="reports-error" class="alert alert-danger" role="alert"
         ng-show="loadingReportViewError">
      <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
      เกิดข้อผิดพลาด ไม่สามารถดึงข้อมูลรายงานได้
    </div>

    <div class="content-wrapper content-wrapper-padding">
      <div class="row">
        <div class="col-sm-8" ng-show="report">
          <div class="report-section">
            <span class="label label-default label-state label-follow-up" ng-show="report.parent && report.parentType!='DODD'">รายงานติดตาม</span>
            <span class="label label-default label-dodd-report" ng-show="report.parent && report.parentType=='DODD'">&nbsp;</span>
            <span class="label label-default label-state label-state-report" ng-hide="report.parent">สถานะ : {{ reportStateName(report.stateName) }}</span>

            <span>ประเภท : {{ $parent.report.reportTypeName }}</span>

            <h1 class="report-title" ng-bind-html="report.renderedOriginalFormData"></h1>

            <div class="report-detail">
              <table class="table table-bordered table-striped" summary="Monthly savings for the Flintstones family">
                <tr>
                  <td><strong>พื้นที่</strong></td>
                  <td>{{ report.administrationAreaAddress }}</td>
                </tr>
                <tr>
                  <td><strong>วันที่รายงาน</strong> </td>
                  <td>{{ report.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</td>
                </tr>
                <tr>
                  <td><strong>วันที่เกิดเหตุ</strong></td>
                  <td>{{ report.incidentDate | amDateFormat:'dddd D MMMM YYYY' }}</td>
                </tr>
                <tr>
                  <td><strong>ประเภทรายงาน</strong></td>
                  <td>{{ report.reportTypeName }}</td>
                </tr>
                <tr>
                  <td><strong>ผู้รายงาน</strong></td>
                  <td>{{ report.createdBy }}</td>
                </tr>
                <tr>
                  <td><strong>ติดต่อ</strong></td>
                  <td>{{ report.createdByContact | default:'ไม่มี' }}</td>
                </tr>
                <tr>
                  <td><strong>เบอร์โทรส่วนตัว</strong></td>
                  <td><a ng-if="report.createdByTelephone" href="tel:">{{ report.createdByTelephone }}</a>
                  <span ng-if="!report.createdByTelephone">ไม่มี</span></td>
                </tr>
                <tr>
                  <td><strong>เบอร์โทรของโครงการ</strong></td>
                  <td><a ng-if="report.createdByProjectMobileNumber" href="tel:">{{ report.createdByProjectMobileNumber }}</a>
                  <span ng-if="!report.createdByProjectMobileNumber">ไม่มี</span></td>
                </tr>
              </table>

              <!-- <p><strong>พื้นที่</strong> : {{ report.administrationAreaAddress }}</p>
              <p><strong>วันที่รายงาน</strong> : {{ report.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</p>
              <p><strong>วันที่เกิดเหตุ</strong> : {{ report.incidentDate | amDateFormat:'dddd D MMMM YYYY' }}</p>
              <p><strong>ประเภทรายงาน</strong> : {{ report.reportTypeName }}</p>
              <p><strong>ผู้รายงาน</strong> : {{ report.createdBy }}</p>
              <p><strong>ติดต่อ</strong> : {{ report.createdByContact | default:'ไม่มี' }}</p>
              <p><strong>เบอร์โทรส่วนตัว</strong> :
                <a ng-if="report.createdByTelephone" href="tel:">{{ report.createdByTelephone }}</a>
                <span ng-if="!report.createdByTelephone">ไม่มี</span>
              </p>
              <p><strong>เบอร์โทรของโครงการ</strong> :
                <a ng-if="report.createdByProjectMobileNumber" href="tel:">{{ report.createdByProjectMobileNumber }}</a>
                <span ng-if="!report.createdByProjectMobileNumber">ไม่มี</span>
              </p> -->
            </div> <!-- report-detail -->

            <div class="report-image">
               <ul class="list-unstyled list-inline report-thumbnails">
                  <li ng-repeat="image in report.images"
                      ng-click="clickThumbnail(image)"
                      ng-class="{ 'active active-image':isActiveImage(image) }">
                      <img ng-src="{{ image.thumbnailUrl }}"/>
                  </li>
              </ul>
            </div> <!-- report-image -->

            <div class="report-infomation">
              <tabset ng-if="report" class="pd-tabs" justified="true" >
                <tab heading="ข้อมูลแบบสอบถาม">
                  {{ $parent.report }}
                  <table class="table pd-white-table">
                    <thead>
                      <tr>
                        <th>คำถาม</th><th>คำตอบ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="field in getViewableFormData()">
                        <td ng-bind="field.name"></td>
                        <td ng-bind="field.value"></td>
                      </tr>
                    </tbody>
                  </table>
                </tab>

                <tab>
                  <tab-heading>
                    รายงานที่เกี่ยวข้อง
                    <span class="badge mark-has-follow-up" ng-if="report.parent || report.$hasFollowUp" ng-bind="report.followUpReportsCount"></span>
                  </tab-heading>
                  <div report-follow-up report="report"></div>
                </tab>
              </tabset>
            </div> <!-- report-infomation -->

            <div class="report-comments" style="margin-bottom: 10px;">
              <div ng-include="'/views/comments.html'"></div>
            </div> <!-- report-comments -->

          </div> <!-- report-section -->
        </div> <!-- col-sm-8 -->

        <div class="col-sm-4" ng-show="report">

          <div class="sidebar-block" ng-show="report.parent && report.parentType!='DODD'">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text"><i class="fa fa-book fa-size-18"></i> ประวัติ</h2>
            </div> <!-- sidebar-heading -->
            <div class="sidebar-content">
              <a class="btn btn-primary btn-green center-block" ng-click="showReport(report.parent)">กดเพื่อดู Case ที่ follow</a>
              <div class="mark-as-test-wrapper text-muted clear-both">
                <small>
                  <strong>ตั้งค่า:</strong>
                  <u>
                    <a ng-click="markAsTest($parent.report)" ng-if="!$parent.report.testFlag">ปรับเป็นรายงานทดสอบ</a>
                    <a ng-click="markAsNotTest($parent.report)" ng-if="$parent.report.testFlag">ให้รายงานนี้ไม่ใช่รายงานทดสอบ</a>
                  </u>
                </small>
              </div>
            </div> <!-- sidebar-content -->
          </div>

          <div class="sidebar-block" ng-if="currentPlan">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text"><i class="fa fa-bookmark fa-size-18"></i> แผนรับมือโรคระบาด</h2>
            </div> <!-- sidebar-heading -->
            <div class="sidebar-content">
              <a class="plan-report-link" ng-click="viewPlanReport(currentPlan.id)">{{ currentPlan.log.plan.name }}</a> <p><small>เมื่อ {{ currentPlan.createdAt | amDateFormat:'D MMMM YYYY เวลา HH:mm' }}</small></p>
            </div>
          </div>

          <div class="sidebar-block" ng-hide="report.parent">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text"><i class="fa fa-stethoscope fa-size-18"></i> ประวัติสถานะ</h2>
            </div> <!-- sidebar-heading -->

            <div class="sidebar-content">
              <ul class="history-log" ng-if="reportStatesLogs.length > 0">
                <li ng-repeat="log in reportStatesLogs | orderBy:'-createdAt' ">
                  Changed : {{ reportStateName(log.state.name) }}
                  <div class="history-log-name">
                    โดย {{ log.createdBy | fullname:log.username }} |
                    วันที่ {{ log.createdAt | amDateFormat:'D MMMM YYYY เวลา HH:mm' }}
                  </div>
                </li>
              </ul>
              <div ng-if="reportStatesLogs.length == 0">
                ยังไม่มีประวัติการเปลี่ยนสถานะ
              </div>
              <div class="sidebar-action">
                <div class="priority-report" ng-if="!report.parent">
                    <div class="row">
                        <div ng-if="report.canEdit">
                            <div class="col-lg-7 col-md-6">
                                <div report-state-form report="report" defer-change="1" submit="submitState" on-select="onStateSelect($state)" class="priority-report-state"></div>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <button class="btn btn-default btn-changed" ng-disabled="!isStateChange()" ng-click="submitState(submitStateSuccess)">เปลี่ยนสถานะ</button>
                            </div>
                        </div>

                    </div>
                </div>

                <div ng-if="report.canEdit" class="mark-as-test-wrapper text-muted clear-both">
                  <small>
                    <strong>ตั้งค่า:</strong>
                    <u>
                      <a ng-click="markAsTest($parent.report)" ng-if="!$parent.report.testFlag">ปรับเป็นรายงานทดสอบ</a>
                      <a ng-click="markAsNotTest($parent.report)" ng-if="$parent.report.testFlag">ให้รายงานนี้ไม่ใช่รายงานทดสอบ</a>
                    </u>
                  </small>
                </div>
              </div>
            </div> <!-- sidebar-content -->
          </div> <!-- sidebar-block -->

          <div class="sidebar-block">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text"><i class="fa fa-tags fa-size-18"></i> ป้ายคำ</h2>
            </div> <!-- sidebar-heading -->
            <div class="sidebar-content">
              <form role="form" ng-submit="postTags();">
                  <div clas="form-group">
                    <tags-input
                      ng-model="tags"
                      on-tag-added="updateTags()"
                      on-tag-removed="updateTags()">
                      <auto-complete source="loadTags($query)"></auto-complete>
                        </tags-input>
                    <button class="btn btn-default" type="button"
                    ng-show="tagsChanged" ng-click="saveTags()">
                       บันทึก</button>
                  </div>
                </form>
            </div>
          </div>

          <div class="sidebar-block">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text">บันทึกข้อความผลสำเร็จ</h2>
            </div>
            <div class="sidebar-content" ng-show="modes.accomplishmentEdit || !accomplishment.id">
              <form role="form">
                <div class="form-group">
                  <label for="accomplishment-title-form">หัวข้อ</label>
                  <input type="text" id="accomplishment-title-form" ng-model="accomplishment.title" class="form-control">
                </div>
                <div class="form-group">
                  <label for="accomplishment-description-form">คำบรรยาย</label>
                  <textarea ng-model="accomplishment.description" id="accomplishment-description-form" rows="5" class="form-control"></textarea>
                </div>
                <button class="btn btn-default" type="button" ng-disabled="!accomplishment.title && !accomplishment.description" ng-click="saveAccomplishment()">บันทึก</button>
              </form>
            </div>
            <div class="sidebar-content" ng-show="!modes.accomplishmentEdit && accomplishment.id">
              <strong>{{ accomplishment.title }}</strong>
              <p>
                {{ accomplishment.description }}
              </p>
              <button class="btn btn-default" type="button" ng-click="modes.accomplishmentEdit=true">แก้ไข</button>
            </div>
          </div>

          <div class="sidebar-block" ng-if="isStaff && report.parentType!='DODD'">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text"><i class="fa fa-ellipsis-v fa-size-18"></i> อื่นๆ</h2>
            </div> <!-- sidebar-heading -->
            <div class="sidebar-content">
              <ul class="list">
                <li ng-if="report.boundary">
                  <a ng-href="#/scenario?bottom={{ report.boundary.bottom }}&left={{ report.boundary.left }}&top={{ report.boundary.top }}&right={{ report.boundary.right }}">ดูเหตุการณ์ที่เกิดขึ้นบริเวณนี้</a>
                </li>
                <li>
                  <a class="hoverable" ng-click="publish(report)" ng-if="!report.isCurated">
                    เพิ่มรายงานนี้ไปแสดงในแอป ดูดีดี
                  </a>
                  <a class="hoverable" ng-click="unpublish(report)" ng-if="report.isCurated">
                    ไม่แสดงรายงานนี้ในแอป ดูดีดี
                  </a>
                </li>
              </ul>
            </div> <!-- sidebar-content -->
          </div> <!-- sidebar-block -->


          <div class="sidebar-block -map">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text"><i class="fa fa-map-marker fa-size-18"></i> แผนที่</h2>
              <a class="pull-right hoverable" ng-click="showMapPopup()"><span class="fa fa-search"></span> ขยาย</a>
            </div> <!-- sidebar-heading -->
            <div class="sidebar-content">
              <div id="report-marker-map" class="report-view-map"></div>
            </div> <!-- sidebar-content -->
          </div> <!-- sidebar-block -->


          <div class="sidebar-block" ng-if="report.parentType=='DODD'">
            <div class="sidebar-heading">
              <h2 class="sidebar-heading-text"><i class="fa fa-comments fa-size-18"></i> ความคิดเห็นในดูดีดี</h2>
            </div>
            <div class="sidebar-content">
              <div dodd-report-comments report-id="report.parent"></div>
            </div>
          </div>

          <div style="margin-bottom: 20px;">
            <button type="submit" class="btn btn-default"
                    ng-click="printDiv()"><i class="fa fa-print fa-size-18"></i> พิมพ์</button>
          </div>

        </div>
      </div>
    </div>

    <div class="report-print hide">

      <h3>รายงาน #{{ report.id }}</h3>

      <div class="report-image clearfix" ng-if="$parent.report.images.length">
        <h4><i class="fa fa-picture-o fa-size-18"></i> รูปประกอบ</h4>

        <div>
            <div style="padding-right: 5px; padding-bottom: 5px; display: inline-block;" ng-repeat="image in $parent.report.images">
                <img style="width: 300px; " src="{{ image.thumbnailUrl }}"/>
            </div>
        </div>
      </div>

      <h4><i class="fa fa-newspaper-o fa-size-18"></i> ข้อมูลรายงาน</h4>
        <table class="table pd-white-table report-info"
              style="border: 0; margin-bottom: 20px; font-size: 14px;">
          <tbody>
            <tr>
              <td width="200">สถานะรายงาน</td>
              <td>{{ flag.current.color }}</td>
            </tr>
            <tr>
              <td width="200">วันที่รายงาน</td>
              <td>{{ $parent.report.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</td>
            </tr>
            <tr>
              <td width="200">วันที่เกิดเหตุ</td>
              <td>{{ $parent.report.incidentDate | amDateFormat:'dddd D MMMM YYYY' }}</td>
            </tr>
            <tr>
              <td width="200">ประเภทรายงาน</td>
              <td>{{ $parent.report.reportTypeName }}</td>
            </tr>
            <tr>
              <td width="200">รายละเอียด</td>
              <td>
                <div ng-bind-html="$parent.report.renderedOriginalFormData"></div>
              </td>
            </tr>
            <tr>
              <td width="200">พื้นที่เกิดเหต</td>
              <td>{{ $parent.report.village.address }}</td>
            </tr>
            <tr>
              <td width="200">โดย</td>
              <td>{{ $parent.report.createdBy }}</td>
            </tr>
            <tr ng-show="$parent.report.createdByContact">
              <td width="200">ติดต่อ</td>
              <td>{{ $parent.report.createdByContact }}</td>
            </tr>
            <tr ng-show="$parent.report.createdByTelephone">
              <td width="200">เบอร์โทร</td>
              <td>{{ $parent.report.createdByTelephone }}</td>
            </tr>
            <tr ng-show="$parent.report.createdByProjectMobileNumber">
              <td width="200">เบอร์โทรของโครงการ</td>
              <td>{{ $parent.report.createdByProjectMobileNumber }}</td>
            </tr>
          </tbody>
        </table>
    </div>

</div>

<div class="report-map-popup hidden">
  <div class="-overlay popup-overlay" ng-click="closeMapPopup()"></div>

  <div class="-inner popup-inner">
    <div class="header popup-header clearfix">
      <div class="-title popup-title"><i class="fa fa-map-marker fa-size-18"></i> แผนที่</div>
      <button class="close pull-right" aria-hidden="true" ng-click="closeMapPopup()">×</button>
    </div>

    <div class="-map-wrapper popup-map-wrapper"><div class="-map popup-map" id="report-popup-map"></div></div>
  </div>
</div>

<script type="text/ng-template" id="reports-to-follow.html">
<div class="reports-to-follow">
  <div class="modal-header">
    <h3 class="modal-title subheading">เลือกรายงานที่ต้องการติดตาม</h3>
  </div>

  <div class="modal-body">

    <table class="table table-striped table-bordered">
          <thead>
            <tr>
                <th style="width:40px;"></th>
                <th >หมายเลขรายงาน</th>
                <th >วันที่รายงาน</th>
                <th >ประเภท</th>
            </tr>
          </thead>

          <tbody>
          <tr ng-repeat="item in casesToFollow.results" ng-class="{ 'selected-case': selected.item == item }" ng-click="selected.item = item">
              <td><span ng-if="selected.item == item"><i class="fa fa-check"></i></span>
              </td>
              <td>#{{ item.id }}</td>
              <td>{{ item.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</td>
              <td><span report-type-form-data report="item"></span></td>
            </tr><!-- end ngRepeat: report in olderReports | orderBy:'-date' -->
          </tbody>
        </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="!selected.item">ตกลง</button>
    <button class="btn btn-default" ng-click="cancel()">ยกเลิก</button>
  </div>
</div>
</script>
