<div class="l-info-section l-section" report-view
     ng-class="{ 'l-full-width': !shared.showReportList }"
     ng-controller="ReportViewCtrl" ng-show="willShowReportView" ng-cloak>

  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-file-text-o pull-left fa-size-22"></i>รายละเอียด</h2>
        <i class="fa fa-times fa-size-18 pull-right" ng-click="closeReportView()"></i>
    </div>

    <div loader-spinner ng-if="loadingReportView"></div>

    <div id="reports-error" class="alert alert-danger" role="alert"
         ng-show="loadingReportViewError">
      <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
      เกิดข้อผิดพลาด ไม่สามารถดึงข้อมูลรายงานได้
    </div>

    <div class="scroller scroller-x scroller-y content-wrapper"
         perfect-scrollbar
         wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20"
         refresh-on-change="report"
         ng-show="!loadingReportView && !loadingReportViewError"><div class="content">


        <div class="report-details">
              <div class="report-image clearfix" ng-if="$parent.report.images.length">
                <h3 class="subheading"><i class="fa fa-picture-o fa-size-18"></i> รูปประกอบ</h3>
                <ul class="list-unstyled list-inline report-thumbnails">
                  <li ng-repeat="image in $parent.report.images"
                      ng-click="clickThumbnail(image)"
                      ng-class="{ 'active active-image':isActiveImage(image) }">
                  <img ng-src="{{ image.thumbnailUrl }}"/>
                </li>
              </ul>
            </div> <!-- end of .report-images -->

        <h2 class="subheading"><i class="fa fa-newspaper-o fa-size-18"></i> ข้อมูลรายงาน</h2>
         <ul class="pd-report-info">
             <li>วันที่รายงาน - {{ $parent.report.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</li>
             <li>วันที่เกิดเหตุ - {{ $parent.report.incidentDate | amDateFormat:'dddd D MMMM YYYY' }}</li>
             <li>ประเภทรายงาน - {{ $parent.report.reportTypeName }}</li>
             <li>พื้นที่เกิดเหตุ - {{ $parent.report.village.address }}</li>
             <li>โดย - {{ $parent.report.createdBy }}</li>
             <li ng-show="$parent.report.createdByContact">ติดต่อ - {{ $parent.report.createdByContact }}</li>
         </ul>


            <tabset ng-if="$parent.report" class="pd-tabs" >
              <tab heading="ข้อมูลแบบสอบถาม">
                <table class="table pd-white-table">
                  <thead>
                    <tr>
                      <th>คำถาม</th>
                      <th>คำตอบ</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="field in $parent.report.formData">
                      <td ng-bind="field.name"></td>
                      <td ng-bind="field.value"></td>
                    </tr>
                  </tbody>
                </table>
              </tab>
              <tab heading="คำอธิบายรายงาน" class="foo" >
                <div report-type-form-data report="$parent.report"></div>
              </tab>
            </tabset>

<!--          </div></div> end .report-fields -->

        </div><!-- end .report-details -->

        <div class="report-comments">
            <div ng-include="'/views/comments.html'"></div>
        </div>

    </div>
  </div></div> <!-- end .content-wrapper .content -->

<!--
  <div class="l-comment-section l-section">
    <div class="title">
      <i class="fa fa-times fa-size-22 pull-left" ng-click="closeReportView()"></i>
      <i class="fa fa-comments pull-left fa-size-22"></i>ความคิดเห็น <div class="b-noti">2</div>
    </div>

    <div class="content">

      <div class="report-comments">

        <div ng-include="'/views/comments.html'"></div>

      </div> end .report-comments

    </div>
  </div>
-->

</div>
