<div class="reports-list l-report-section l-section animated" ng-show="shared.showReportList"
     ng-class="{'report-list-peek':shared.showReportView}">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-stethoscope pull-left fa-size-22"></i>รายงาน</h2>
        <i class="fa fa-times pull-right fa-size-18" ng-click="closeReportList();gotoMainPage();"></i>
    </div>

    <div loader-spinner ng-show="loadingReportList" class="loader-container"></div>

    <div id="reports-error" class="alert alert-danger" role="alert"
         ng-show="loadingReportListError"><span class="fa fa-exclamation-circle" aria-hidden="true"></span>เกิดข้อผิดพลาด ไม่สามารถดึงข้อมูลรายการรายงานได้
    </div>

    <div class="content-wrapper"
         ng-if="!loadingReportList && !loadingReportListError"><div class="content">

        <h3 class="subheading">ตำแหน่ง : {{ currentVillage.address }}</h3>

        <div id="reports-empty" ng-hide="reports" class="reports-empty"><i class="fa fa-exclamation-triangle"></i>  ไม่พบการรายงานภายในพื้นที่</div>

        <div id="recent-reports" ng-show="recentReports">

        <h3 class="pd-table-title">รายงานล่าสุด (ภายใน 2 อาทิตย์)</h3>
            <table class="table table-striped pd-table">
                <thead>
                    <tr>
                        <th class="pd-table-flag"></th>
                        <th class="pd-table-date">วันที่รายงาน</th>
<!--                        <th class="pd-table-report-date">วันที่เกิดเหตุ</th>-->
                        <th class="pd-table-type">ประเภท</th>
                        <th class="pd-table-status">สถานะ</th>
                        <th class="pd-table-reporter">ผู้รายงาน</th>
                        <th class="pd-table-notification"></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="report in recentReports | orderBy:'-date' " id="report-{{ report.id }}"
                        ng-click="onClickReport(report)"
                        ng-class="{ 'report-positive': !report.negative, 'clickable': isClickable(report) }">
                        <td>
                          <i class="fa fa-flag flag-state-code--{{ report.stateCode }}" ng-if="!report.parent && report.stateCode" ></i>
                          <i class="fa fa-flag flag-follow-up-report" ng-if="report.parent" ></i>
                        </td>
                        <td ng-bind="report.date | amDateFormat:'D MMM YYYY HH:mm'"></td>
<!--
                        <td>
                        <span ng-if="report.negative">
                          {{  report.incidentDate | amDateFormat:'D MMM YYYY' }}
                        </span>
                        <div class="text-center" ng-if="!report.negative">-</div>
                        </td>
-->
                        <td class="pd-table-type" ng-bind="report.reportTypeName"></td>
                        <td class="pd-table-status">
                         <span ng-show="report.negative" class="badge badge-bad">Bad</span>
                         <span ng-hide="report.negative" class="badge badge-good">Good</span>
                        </td>
                        <td ng-bind="report.createdByName"></td>
                        <td>
<!--                            <i class="fa fa-certificate report-new-icon" ></i>-->
                            <span class="badge badge-new" ng-show="report.isNew">ใหม่</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="loadmore" ng-show="olderReports.length == 0 && loadmoreParams" ng-cloak>
              <button class="btn btn-default center-block" type="button" ng-click="loadmoreVillageReports(currentVillage, loadmoreParams)" ng-disabled="disabledLoadmoreBtn">{{ disabledLoadmoreBtn ? 'Loading...' : 'Load more...' }}</button>
            </div>
        </div>

        <div id="older-reports" ng-show="olderReports">
            <h3 class="pd-table-title">รายงานย้อนหลัง</h3>
            <table class="table table-striped pd-table">
              <thead>
                <tr>
                    <th class="pd-table-flag"></th>
                    <th class="pd-table-date">วันที่รายงาน</th>
<!--                    <th class="pd-table-report-date">วันที่เกิดเหตุ</th>-->
                    <th class="pd-table-type">ประเภท</th>
                    <th class="pd-table-status">สถานะ</th>
                    <th class="pd-table-reporter">ผู้รายงาน</th>
                    <th class="pd-table-notification"></th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="report in olderReports | orderBy:'-date' " id="report-{{ report.id }}"
                    ng-click="onClickReport(report)"
                    ng-class="{ 'report-positive': !report.negative, 'clickable': isClickable(report) }">
                  <td>
                      <i class="fa fa-flag flag-state-code--{{ report.stateCode }}" ng-if="!report.parent && report.stateCode" ></i>
                      <i class="fa fa-flag flag-follow-up-report" ng-if="report.parent" ></i>
                  </td>
                  <td ng-bind="report.date | amDateFormat:'D MMM YYYY HH:mm'"></td>
<!--
                  <td>
                    <span ng-if="report.negative">
                      {{  report.incidentDate | amDateFormat:'D MMM YYYY' }}
                    </span>
                    <div class="text-center" ng-if="!report.negative">-</div>
                  </td>
-->
                  <td class="pd-table-type" ng-bind="report.reportTypeName"></td>
                  <td class="pd-table-status">
                     <span ng-show="report.negative" class="badge badge-bad">Bad</span>
                     <span ng-hide="report.negative" class="badge badge-good">Good</span>
                  </td>
                  <td ng-bind="report.createdByName"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <div class="loadmore" ng-show="olderReports.length > 0 && loadmoreParams" ng-cloak>
              <button class="btn btn-default center-block" type="button" ng-click="loadmoreVillageReports(currentVillage, loadmoreParams)" ng-disabled="disabledLoadmoreBtn">{{ disabledLoadmoreBtn ? 'Loading...' : 'Load more...' }}</button>
            </div>
        </div>
    </div></div><!-- end .content-wrapper .contetn -->

</div>
