<div class="l-info-section l-section" report-view
     ng-class="{ 'l-full-width': !shared.showReportList }"
     ng-controller="ReportViewCtrl" ng-show="willShowReportView" ng-cloak>

  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-file-text-o pull-left fa-size-22"></i>รายละเอียด</h2>
        <i class="fa fa-times fa-size-18 pull-right" ng-click="closeReportView();gotoMainPage();"></i>
    </div>

    <div loader-spinner ng-if="loadingReportView"></div>

    <div id="reports-error" class="alert alert-danger" role="alert"
         ng-show="loadingReportViewError">
      <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
      เกิดข้อผิดพลาด ไม่สามารถดึงข้อมูลรายงานได้
    </div>

    <div class="scroller scroller-x scroller-y content-wrapper"
         perfect-scrollbar
         wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20"
         refresh-on-change="report"
         ng-if="!loadingReportView && !loadingReportViewError"><div class="content">

      <div class="report-details">
        <div class="priority-report pull-right">เปลี่ยนสถานะรายงาน :
          <div report-state-form report="$parent.report"></div>
        </div>

        <div class="report-image clearfix" ng-if="$parent.report.images.length">
          <h3 class="subheading pull-left"><i class="fa fa-picture-o fa-size-18"></i> รูปประกอบ</h3>

          <ul class="list-unstyled list-inline report-thumbnails">
              <li ng-repeat="image in $parent.report.images"
                  ng-click="clickThumbnail(image)"
                  ng-class="{ 'active active-image':isActiveImage(image) }">
                  <img ng-src="{{ image.thumbnailUrl }}"/>
              </li>
          </ul>
        </div> <!-- end of .report-images -->

        <h2 class="subheading"><i class="fa fa-newspaper-o fa-size-18"></i> ข้อมูลรายงาน</h2>
         <ul class="pd-report-info">
             <li>วันที่รายงาน - {{ $parent.report.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</li>
             <li>วันที่เกิดเหตุ - {{ $parent.report.incidentDate | amDateFormat:'dddd D MMMM YYYY' }}</li>
             <li>ประเภทรายงาน - {{ $parent.report.reportTypeName }}</li>
             <li>พื้นที่เกิดเหตุ - <span jump-to-filter name=" 'area' " value="$parent.report.village.address" wrap-with-quote="true"></span></li>
             <li>โดย - <span jump-to-filter name=" 'createdByName' " value="$parent.report.createdBy"></span></li>
             <li ng-show="$parent.report.createdByContact">ติดต่อ - {{ $parent.report.createdByContact }}</li>
             <li ng-show="$parent.report.createdByTelephone">เบอร์โทร - <a href="tel:">{{ $parent.report.createdByTelephone }}</a></li>
             <li ng-show="$parent.report.createdByProjectMobileNumber">เบอร์โทรของโครงการ - <a href="tel:">{{ $parent.report.createdByProjectMobileNumber }}</a></li>
         </ul>


            <tabset ng-if="$parent.report" class="pd-tabs" >
              <tab heading="ข้อมูลแบบสอบถาม">
                <table class="table pd-white-table">
                  <thead>
                    <tr>
                      <th>คำถาม</th>
                      <th>คำตอบ</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="field in $parent.report.formData">
                      <td ng-bind="field.name"></td>
                      <td jump-to-filter name="field.name" value="field.value"></td>
                    </tr>
                  </tbody>
                </table>
              </tab>

              <tab heading="คำอธิบายรายงาน">
                <div ng-if="!$parent.report.formDataExplanation">
                  <div report-type-form-data report="$parent.report"></div>
                </div>
                <div ng-if="$parent.report.formDataExplanation">
                  <div ng-bind-html="$parent.report.formDataExplanation"></div>
                </div>
              </tab>

              <tab heading="รายงานที่เกี่ยวข้อง">
                <div report-follow-up report="$parent.report"></div>
              </tab>
            </tabset>

<!--          </div></div> end .report-fields -->

        </div><!-- end .report-details -->

        <div class="report-print hide">

          <h3>รายงาน #{{ report.id }}</h3>

          <div class="report-image clearfix" ng-if="$parent.report.images.length">
            <h4><i class="fa fa-picture-o fa-size-18"></i> รูปประกอบ</h4>

            <div>
                <div style="padding-right: 5px; padding-bottom: 5px; display: inline-block;" ng-repeat="image in $parent.report.images">
                    <img style="width: 300px; " src="{{ image.thumbnailUrl }}"/>
                </div>
            </div>
          </div>

          <h4><i class="fa fa-newspaper-o fa-size-18"></i> ข้อมูลรายงาน</h4>
            <table class="table pd-white-table report-info"
                  style="border: 0; margin-bottom: 20px; font-size: 14px;">
              <tbody>
                <tr>
                  <td width="200">สถานะรายงาน</td>
                  <td>{{ flag.current.color }}</td>
                </tr>
                <tr>
                  <td width="200">วันที่รายงาน</td>
                  <td>{{ $parent.report.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</td>
                </tr>
                <tr>
                  <td width="200">วันที่เกิดเหตุ</td>
                  <td>{{ $parent.report.incidentDate | amDateFormat:'dddd D MMMM YYYY' }}</td>
                </tr>
                <tr>
                  <td width="200">ประเภทรายงาน</td>
                  <td>{{ $parent.report.reportTypeName }}</td>
                </tr>
                <tr>
                  <td width="200">รายละเอียด</td>
                  <td>
                    <div report-type-form-data report="$parent.report"></div>
                    <div ng-bind-html="$parent.report.formDataExplanation"></div>
                  </td>
                </tr>
                <tr>
                  <td width="200">พื้นที่เกิดเหต</td>
                  <td>{{ $parent.report.village.address }}</td>
                </tr>
                <tr>
                  <td width="200">โดย</td>
                  <td>{{ $parent.report.createdBy }}</td>
                </tr>
                <tr ng-show="$parent.report.createdByContact">
                  <td width="200">ติดต่อ</td>
                  <td>{{ $parent.report.createdByContact }}</td>
                </tr>
                <tr ng-show="$parent.report.createdByTelephone">
                  <td width="200">เบอร์โทร</td>
                  <td>{{ $parent.report.createdByTelephone }}</td>
                </tr>
                <tr ng-show="$parent.report.createdByProjectMobileNumber">
                  <td width="200">เบอร์โทรของโครงการ</td>
                  <td>{{ $parent.report.createdByProjectMobileNumber }}</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div style="margin-bottom: 20px;">
          <button type="submit" class="btn btn-default"
                  ng-click="printDiv()"><i class="fa fa-print fa-size-18"></i> ปริ้นรายละเอียดรายงาน</button>
        </div>
        <div class="report-comments">
            <div ng-include="'/views/comments.html'"></div>
        </div>

    </div>
  </div></div> <!-- end .content-wrapper .content -->

</div>

<script type="text/ng-template" id="reports-to-follow.html">
<div class="reports-to-follow">
  <div class="modal-header">
    <h3 class="modal-title subheading">เลือกรายงานที่ต้องการติดตาม</h3>
  </div>

  <div class="modal-body">

    <table class="table table-striped table-bordered">
          <thead>
            <tr>
                <th style="width:40px;"></th>
                <th >หมายเลขรายงาน</th>
                <th >วันที่รายงาน</th>
                <th >ประเภท</th>
            </tr>
          </thead>

          <tbody>
          <tr ng-repeat="item in casesToFollow.results" ng-class="{ 'selected-case': selected.item == item }" ng-click="selected.item = item">
              <td><span ng-if="selected.item == item"><i class="fa fa-check"></i></span>
              </td>
              <td>#{{ item.id }}</td>
              <td>{{ item.date | amDateFormat:'dddd D MMMM YYYY HH:mm' }}</td>
              <td><span report-type-form-data report="item"></span></td>
            </tr><!-- end ngRepeat: report in olderReports | orderBy:'-date' -->
          </tbody>
        </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" ng-click="ok()" ng-disabled="!selected.item">ตกลง</button>
    <button class="btn btn-default" ng-click="cancel()">ยกเลิก</button>
  </div>
</div>
</script>
