<div class="reports-list pd-sidebar-right" ng-show="showReportList">
    <div class="pd-sidebar-title clearfix">
        <h2 class="pull-left">
          <i class="fa fa-map-marker pull-left"></i>{{ currentVillage.address }}
        </h2>
        <i class="fa fa-times pull-right" ng-click="closeReportList()"></i>
    </div>

  <div id="reports-empty" ng-hide="reports">
    ยังไม่พบการรายงาน
  </div>

  <div id="recent-reports" ng-show="recentReports">
    <h3 class="pd-table-title">รายงานล่าสุด (ภายใน 2 อาทิตย์)</h3>
    <table class="table table-striped pd-table">
      <thead>
        <tr>
         <th>ID</th>
          <th>Date</th>
          <th>Status</th>
          <th>Reporter</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="report in recentReports track by report.id" id="report-{{ report.id }}" ng-click="viewReport(report.id)">
          <td ng-bind="report.id"></td>
          <td ng-bind="report.incidentDate"></td>
          <td>
             <span ng-show="report.negative" class="badge badge-bad">Bad</span>
             <span ng-hide="report.negative" class="badge badge-good">Good</span>
          </td>
          <td ng-bind="report.createdByName"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="older-reports" ng-show="olderReports">
    <h3 class="pd-table-title">รายงานย้อนหลัง</h3>
    <table class="table table-striped pd-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Status</th>
          <th>Reporter</th>
          <th>Details</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="report in olderReports track by report.id" id="report-{{ report.id }}">
          <td ng-bind="report.id"></td>
          <td ng-bind="report.incidentDate"></td>
          <td>
            <span ng-show="report.negative" class="badge badge-bad">Bad</span>
            <span ng-hide="report.negative" class="badge badge-good">Good</span>
          </td>
          <td ng-bind="report.createdByName"></td>
          <td>
            <a class="btn-detail" ng-click="viewReport(report.id)"><i class="fa fa-file-text-o" /></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
