<div class="l-info-section l-section l-full-width" ng-controller="SummaryPersonCtrl" ng-show="shared.summaryPersonMode" ng-cloak>
  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-stethoscope pull-left fa-size-22"></i>สรุปจำนวนอาสาที่รายงานต่ำกว่าเกณฑ์</h2>
        <i class="fa fa-times pull-right fa-size-18" ng-click="closeSummaryPerson();gotoMainPage();"></i>
    </div>

<!--
     <div class="scroller scroller-x scroller-y content-wrapper" perfect-scrollbar wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" refresh-on-change="report" ng-if="!loadingReportView && !loadingReportViewError">
      <div class="content">
-->
 
        <form role="form" ng-submit="search()" class="search-block">
            <div class="input-group">
                <span class="input-group-btn" >
                    <button class="btn btn-default btn-info-search" type="button" >
                        <label for="week_range_person">เลือกวันที่ <i class="fa fa-calendar"></i> </label>
                    </button>
                </span>

                <input date-range-picker type="text" id="week_range_person" class="form-control" ng-model="date" options="dateOptions" />

               <!--  <input type="text" id="month_range_person" class="form-control" ng-model="query_person" ng-show="type === 'month'"/> -->

                <span class="input-group-btn">
                    <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
                </span>
            </div>
        </form>

        <div ng-show="loading" loader-spinner></div>
        <div class="loading-block" ng-show="error">เกิดข้อผิดพลาด</div>
        <div class="loading-block" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>
        
        <div class="summary-list" ng-show="results">
            <h3 class="subheading" style="margin-bottom:20px;">สรุปการรายงานตั้งแต่วันที่ {{ weekSearch }} </h3>
            <h4 class="subheading">จำนวนการรายงานทั้งสิ้น {{ totalPerson }} คน</h4><hr/>
            <div id="gridPerson" class="summary-grid-person" ui-grid="gridOptionsPerson" ui-grid-exporter></div>
            <div class="custom-csv-link-location-person custom-csv-link-location">
                <div ng-show="loadingLink" loader-spinner></div>
                <span class="ui-grid-exporter-csv-link">&nbsp</span>
            </div>
        </div>
        
       <!-- </div> --> <!-- End content -->
    <!-- </div> --> <!-- End scroller -->

  </div>
</div>
