<div class="l-info-section l-section l-full-width" ng-controller="SummaryReportCtrl" ng-show="shared.summaryReportMode" ng-cloak>
  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-stethoscope pull-left fa-size-22"></i>สรุปจำนวนรายงาน</h2>
        <i class="fa fa-times pull-right fa-size-18" ng-click="closeSummaryReport();gotoMainPage();"></i>
    </div>

    <div class="scroller scroller-x scroller-y content-wrapper" perfect-scrollbar wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" refresh-on-change="report" ng-if="!loadingReportView && !loadingReportViewError"  ng-transclude="true">
        <div class="">

            <form role="form" ng-submit="search($parent.date)" class="search-block">
                <div class="input-group"> 
                    <div class="input-group-btn" date-range-picker type="text" id="week_range_report" ng-model="$parent.$parent.date" options="$parent.$parent.dateOptions">
                        <button class="btn btn-default btn-info-search" type="button">
                            <span for="week_range_report" class="btn-text">เลือกวันที่ <i class="fa fa-calendar"></i></span>
                        </button>
                    </div>
                    <div class="view-textbox">
                        <span ng-hide="$parent.date.startDate.format()">
                            {{ $parent.date.startDate| date:'dd/MM/yyyy' }}
                        </span>
                        {{ $parent.date.startDate.format()| date:'dd/MM/yyyy'}} - 
                        <span ng-hide="$parent.date.endDate.format()">
                            {{ $parent.date.endDate| date:'dd/MM/yyyy' }}
                        </span>
                        {{ $parent.date.endDate.format()| date:'dd/MM/yyyy'}}  
                    </div>
                    <div class="input-group-btn">
                    <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
                    </div>
                </div>
            </form>

            <div ng-show="loading" loader-spinner></div>
            <div class="loading-block" ng-show="error">เกิดข้อผิดพลาด</div>
            <div class="loading-block" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>
            
            <div class="summary-list" ng-show="results">
                <h3 class="subheading">สรุปการรายงานตั้งแต่วันที่ {{ weekSearch }}</h3>
                <p>จำนวนการรายงานทั้งสิ้น <span class="badge badge-bad">{{ totalReport }}</span> รายงาน แบ่งเป็น รายงานไม่พบเหตุผิดปกติจำนวน <span class="badge badge-good">{{ positiveReport }}</span> ครั้ง, รายงานพบเหตุผิดปกติจำนวน <span class="badge badge-bad">{{ negativeReport }}</span> ครั้ง</p>
                <hr/>
                <ul class="list-unstyled report-list-help">
                    <li>
                        รูปแบบของข้อมูลในตารางระบุค่าของ<code>[จำนวนรายงานไม่พบเหตุผิดปกติ, จำนวนรายงานพบเหตุผิดปกติ]</code> ตัวอย่างข้อมูล:
                        <ul>
                            <li>
                                <p><span class="badge badge-zero">0</span> สีเทา คือ จำนวนรายงานเท่ากับศูนย์</p>
                            </li>
                            <li>
                                <p><span class="badge badge-good">4</span> สีเขียว คือ จำนวนรายงานไม่พบเหตุผิดปกติมากกว่าศูนย์</p>
                            </li>
                            <li>
                                <p><span class="badge badge-bad">2</span> สีแดง คือ จำนวนรายงานพบเหตุผิดปกติมากกว่าศูนย์</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr/>
                <h3 class="subheading">ตารางสรุปการรายงานในแต่ละอปท. </h3>
                <div id="gridReportShow" class="summary-grid-show-report grid-report" ui-grid="gridOptionsReportShow" ui-grid-pinning></div>

                <div id="gridReport" class="summary-grid-report grid-report hide" ui-grid="gridOptionsReport" ui-grid-exporter></div>

                <div class="custom-csv-link-location-report custom-csv-link-location">
                    <div ng-show="loadingLink" loader-spinner></div>
                    <span class="ui-grid-exporter-csv-link">&nbsp</span>
                </div>
            </div>

      </div>
    </div>

  </div>
</div>
