<div class="summary-view l-info-section l-section l-full-width" ng-controller="SummaryVisualizationCtrl" ng-cloak>
  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-stethoscope pull-left fa-size-22"></i>สรุปรายงาน</h2>
        <i class="fa fa-times pull-right fa-size-18" ng-click="closeSummaryReport();gotoMainPage();"></i>
    </div>

    <div class="content-wrapper content">
        <div class="summary-wrapper">
          <div class="summary-widget-group">
            <div class="row">
              <div class="col-md-4">
                <div class="summary-widget -user">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="-title _left"> อาสา</div>
                      <span class="_number-large">{{ dashboard.users }}</span> คน
                    </div>
                  </div>
                  <span class="glyphicon glyphicon-user summary-widget-icon" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="summary-widget -ok">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="-title _left"> ไม่พบเหตุผิดปกติ</div>
                      <span class="_number-large">{{ dashboard.positiveReports }}</span> รายงาน
                    </div>
                  </div>
                  <span class="glyphicon glyphicon-ok-circle summary-widget-icon" aria-hidden="true"></span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="summary-widget -abnormal">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="-title _left"> พบเหตุผิดปกติ</div>
                      <span class="_number-large">{{ dashboard.negativeReports }}</span> รายงาน
                    </div>
                  </div>
                  <span class="glyphicon glyphicon-remove-circle summary-widget-icon" aria-hidden="true"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="summary-widget-group">
            <div class="summary-widget">
              <div class="row">
                <div class="col-md-9">
                  <!--
                  <div class="btn-group btn-top-right">
                    <!-- select
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                      <span ng-show="selected == 'month'">รายเดือน</span>
                      <span ng-show="selected == 'week'">รายสัปดาห์</span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a ng-click="selected = 'month'" >รายเดือน</a></li>
                      <li>
                        <a ng-click="selected = 'week'" >
                          รายสัปดาห์</a>
                      </li>
                    </ul>
                  </div>
                  -->

                  <h4 class="chart -title">สถิติรายงานรายเดือน</h4>
                  <div ng-include="'/views/summary-visualization-graph.html'"></div>
                </div>

                <div class="col-md-3" >
                    <h4 class="choose -title">เลือกประเภทรายงาน</h4>
                    <div class="summary-graph-reports-legend">
                      <ul class="list-unstyled">
                        <li ng-repeat="data in initialDataset" ng-click="selectDataset(data)" class="legend-item">
                            <i class="fa fa-circle-o" ng-hide="data.selected" style="color: {{ data.colorCode }}"></i>
                            <i class="fa fa-check-circle" style="color: {{ data.colorCode }}" ng-show="data.selected"></i>
                          {{ data.name }}
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="loading" loader-spinner></div>
          <div class="loading-block" ng-show="error">เกิดข้อผิดพลาด</div>
          <div class="loading-block" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>

      </div>
    </div>

  </div>
</div>
