<div class="l-info-section l-section l-full-width l-theme-gray" ng-controller="SummaryPerformancePersonCtrl" ng-cloak>
  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-bar-chart fa-size-22"></i>สรุปประสิทธิภาพการรายงานแต่ละอาสา</h2>
       <!--  <i class="fa fa-times pull-right fa-size-18" ng-click="closeSummaryPerformancePerson();gotoMainPage();"></i> -->
    </div>

    <div class="content-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <h4 class="filter-heading"><i class="fa fa-calendar"></i> ช่วงเวลา</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <small class="states-group-title">เดือน</small>
                                <select class="filter-select"
                                    ng-model="months.selectedMonth"
                                    ng-options="month for month in months.months"></select>
                            </div>
                            <div class="col-md-6">
                                <small class="states-group-title">ปี</small>
                                <select class="filter-select"
                                    ng-model="months.selectedYear"
                                    ng-options="year for year in months.years"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="filter-heading"><i class="fa fa-map-marker"></i> พื้นที่</h4>
                        <ui-select
                            class="filter-dropdown"
                            ng-model="areas.selectedArea"
                            theme="selectize"
                            title="Choose an area"
                            ng-disabled="areas.randomize">
                            <ui-select-match placeholder="Select areas">{{ areas.selectedArea.name }}</ui-select-match>
                            <ui-select-choices
                              group-by="'parentName'"
                              repeat="area in areas.all | filter:$select.search | orderBy:['parentName', 'name']">
                              <span ng-bind-html="area.name | highlight:$select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-md-9">
                    <div ng-show="loading" loader-spinner></div>
                    <div class="loading-block" ng-show="error">เกิดข้อผิดพลาด</div>
                    <div class="loading-block" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>

                    <div ng-show="results.length && !loading">
                        <h3 class="subheading pull-left clear inline-table">ผลลัพธ์การค้นหา {{ months.selectedMonth }}/{{ months.selectedYear }} ของ{{ areas.selectedArea.name }} {{ areas.selectedArea.parentName }}</h3>
                        
                        <br/>
                        <h4 class="subheading pull-left clear hidden">สรุปประจำเดือน </h4>

                        <div id="gridPerformancePerson" class="summary-grid-person grid-summary clear inline-table" ui-grid="gridOptionsPerson" ui-grid-exporter></div>
                        <div class="export-buttons">
                          <button class="btn btn-primary btn-sm" type="button" ng-click="csvExport();"><i class="fa fa-file-code-o fa-size-16 ico-front" aria-hidden="true"></i> ข้อมูลไฟล์ CSV</button>
                          <button class="btn btn-primary btn-sm" type="button" ng-click="xlsxExport();"><i class="fa fa-file-excel-o fa-size-16 ico-front" aria-hidden="true"></i> ข้อมูลไฟล์ Excel</button>
                        </div>

                        <!-- <hr/>

                        <h4>สรุปประจำวัน</h4>

                        <div id="gridPerformancePerson" class="summary-grid-person grid-summary clear inline-table" ui-grid="gridOptionsPerson" ui-grid-exporter></div>
                        <div class="export-buttons">
                          <button class="btn btn-primary btn-sm" type="button" ng-click="csvExport();"><i class="fa fa-file-code-o fa-size-16 ico-front" aria-hidden="true"></i> ข้อมูลไฟล์ CSV</button>
                          <button class="btn btn-primary btn-sm" type="button" ng-click="xlsxExport();"><i class="fa fa-file-excel-o fa-size-16 ico-front" aria-hidden="true"></i> ข้อมูลไฟล์ Excel</button>
                        </div>
 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
