<div class="l-info-section l-section l-full-width"
     ng-controller="SummaryPersonCtrl" ng-cloak>

  <div class="l-detail-section l-section">

    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-stethoscope pull-left fa-size-22"></i>สรุปจำนวนผู้ที่รายงานน้อย</h2>
        <i class="fa fa-times pull-right fa-size-18" ng-click="closeSummaryPerson();gotoMainPage();"></i>
    </div>

<!--
     <div class="scroller scroller-x scroller-y content-wrapper" perfect-scrollbar wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" refresh-on-change="report" ng-if="!loadingReportView && !loadingReportViewError">
      <div class="content">
-->
 
        <form role="form" ng-submit="search()">
            <div class="input-group">
                <span class="input-group-btn" >
                    <button class="btn btn-default btn-info-search" data-weekpicker="weekpicker" data-target="#week_range" type="button" >
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
                <input type="text" id="week_range" class="form-control" ng-model="query" data-weekpicker="weekpicker"data-week_start="1" data-months="1" placeholder="ตัวอย่าง. 12/01/2015-18/01/2015"/>
                <span class="input-group-btn">
                    <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
                </span>
            </div>
        </form>
        
        <div class="summary-list" ng-show="results">
            <h3 style="margin-bottom:20px;"><i class="fa fa-info-circle"></i> สรุปการรายงานตั้งแต่วันที่ {{ weekSearch }} </h3>
            <h4>จำนวนการรายงานทั้งสิ้น {{ totalPerson }} คน</h4>
        </div>
        <div class="summary-grid" ui-grid="gridOptions"></div>

        <div class="" ng-show="willShowResult">
            <div class="filter-loading" ng-show="loading">กำลังค้นหา &hellip;</div>
            <div class="filter-error" ng-show="error">เกิดข้อผิดพลาด</div>
            <div class="filter-empty" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>
        </div> <!-- End filter-result -->
        
       <!-- </div> --> <!-- End content -->
    <!-- </div> --> <!-- End scroller -->

  </div>
</div>
