<div class="l-info-section l-section l-full-width" ng-controller="SummaryReportCtrl" ng-show="shared.summaryReportMode" ng-cloak>
  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-stethoscope pull-left fa-size-22"></i>สรุปจำนวนรายงาน</h2>
        <i class="fa fa-times pull-right fa-size-18" ng-click="closeSummaryReport();gotoMainPage();"></i>
    </div>

     <div class="scroller scroller-x scroller-y content-wrapper" perfect-scrollbar wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20" >
        <div class="">

            <form role="form" ng-submit="search()" class="search-block">
                <div class="input-group">
                    <span class="input-group-btn" >
                        <button class="btn btn-default btn-info-search" type="button" >
                            <label for="week_range_report">เลือกวันที่ <i class="fa fa-calendar"></i> </label>
                        </button>
                    </span>
                    <input date-range-picker type="text" id="week_range_report" class="form-control" ng-model="date" options="dateOptions" />

                    <span class="input-group-btn">
                        <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
                    </span>
                </div>
            </form>

            <div ng-show="loading" loader-spinner></div>
            <div class="loading-block" ng-show="error">เกิดข้อผิดพลาด</div>
            <div class="loading-block" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>
            
            <div class="summary-list" ng-show="results">
                <h3 class="subheading">สรุปการรายงานตั้งแต่วันที่ {{ weekSearch }}</h3>
                <p>จำนวนการรายงานทั้งสิ้น <span class="badge badge-bad">{{ totalReport }}</span> รายงาน แบ่งเป็น รายงานไม่พบเหตุผิดปกติจำนวน <span class="badge badge-good">{{ positiveReport }}</span> ครั้ง, รายงานพบเหตุผิดปกติจำนวน <span class="badge badge-bad">{{ negativeReport }}</span> ครั้ง</p>
                <hr/>
                <h3 class="subheading">ตารางสรุปการรายงานในแต่ละอปท. </h3>

                <ul class="list-unstyled report-list-help">
                    <li>
                        รูปแบบของข้อมูลในตารางระบุค่าของ<code>จำนวนของรายงานไม่พบเหตุผิดปกติ, จำนวนของรายงานพบเหตุผิดปกติ</code> ตัวอย่างของข้อมูล:
                        <ul>
                            <li>
                                <p>
                                    <span class="badge">0</span> , 
                                    <span class="badge">0</span>
                                    <span class="explain">คือ จำนวนของรายงานไม่พบเหตุผิดปกติเท่ากับ 0 และ จำนวนของรายงานพบเหตุผิดปกติเท่ากับ 0
                                </p>
                                <p>
                                    <span class="explain">
                                        โดยที่วงกลมสีเทาจะแสดงบนจำนวนรายงานไม่พบเหตุผิดปกติเมื่อจำนวนรายงานเท่ากับ 0 และวงกลมสีเทาจะแสดงบนจำนวนรายงานพบเหตุผิดปกติเมื่อจำนวนรายงานเท่ากับ 0
                                    </span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="badge badge-good">1</span> , 
                                    <span class="badge badge-bad">2</span>
                                    <span class="explain">คือ จำนวนของรายงานไม่พบเหตุผิดปกติเท่ากับ 1 และ จำนวนของรายงานพบเหตุผิดปกติเท่ากับ 2
                                </p>
                                <p>
                                    <span class="explain">
                                        โดยที่วงกลมสีเขียวจะแสดงบนจำนวนรายงานไม่พบเหตุผิดปกติเมื่อจำนวนรายงานมากกว่า 0 และวงกลมสีแดงจะแสดงบนจำนวนรายงานพบเหตุผิดปกติเมื่อจำนวนรายงานมากกว่า 0
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div id="gridReportShow" class="summary-grid-show-report grid-report" ui-grid="gridOptionsReportShow" ui-grid-pinning></div>

                <div id="gridReport" class="summary-grid-report grid-report hide" ui-grid="gridOptionsReport" ui-grid-exporter></div>

                <div class="custom-csv-link-location-report custom-csv-link-location">
                    <div ng-show="loadingLink" loader-spinner></div>
                    <span class="ui-grid-exporter-csv-link">&nbsp</span>
                </div>
            </div>

      </div>
    </div>

  </div>
</div>
