<div class="summary-view l-info-section l-section l-full-width" ng-controller="SummaryPersonCtrl" ng-show="shared.summaryPersonMode" ng-cloak>
  <div class="l-detail-section l-section">
    <div class="title clearfix">
        <h2 class="pull-left"><i class="fa fa-stethoscope pull-left fa-size-22"></i>สรุปจำนวนอาสาที่รายงานต่ำกว่าเกณฑ์</h2>
        <i class="fa fa-times pull-right fa-size-18" ng-click="closeSummaryPerson();gotoMainPage();"></i>
    </div>

    <div class="content-wrapper content">
        <div class="summary-wrapper">

            <form role="form" ng-submit="search(date)" class="search-block">
                <div class="input-group">
                    <div class="input-group-btn" date-range-picker type="text" id="week_range_person" class="btn btn-default btn-info-search form-control" ng-model="$parent.date" options="$parent.dateOptions">
                        <button class="btn btn-default btn-info-search" type="button">
                            <span for="week_range_person" class="btn-text">เลือกวันที่ <i class="fa fa-calendar"></i></span>
                        </button>
                    </div>
                    <div class="view-textbox">
                        <span ng-hide="$parent.date.startDate.format()">
                            {{ $parent.date.startDate| date:'dd/MM/yyyy' }}
                        </span>
                        {{ $parent.date.startDate.format()| date:'dd/MM/yyyy'}} -
                        <span ng-hide="$parent.date.endDate.format()">
                            {{ $parent.date.endDate| date:'dd/MM/yyyy' }}
                        </span>
                        {{ $parent.date.endDate.format()| date:'dd/MM/yyyy'}}
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default pd-btn-search" type="submit"><i class="fa fa-search fa-size-18"></i></button>
                    </div>
                </div>
            </form>

            <div ng-show="loading" loader-spinner></div>
            <div class="loading-block" ng-show="error">เกิดข้อผิดพลาด</div>
            <div class="loading-block" ng-show="empty">ไม่พบผลการค้นหาที่กำหนด</div>

            <div class="summary-list" ng-show="results && !loading">
                <h3 class="subheading pull-left" style="margin-bottom:20px;">สรุปการรายงานตั้งแต่วันที่ {{ weekSearch }} </h3>
                <p class="pull-right">ตั้งค่าเกณฑ์การวัดผู้ที่รายงานต่ำกว่าเกณฑ์
                        <select ng-model="percent"
                          ng-options="i for i in percentRange()"
                          ng-change="updatePercent(percent)">
                        </select> %
<!--
                        <code>  %</code>
                        โดยดูจากผู้รายงานต่ำกว่าเกณฑ์มีจำนวนรายงานในช่วงวันที่ <code>{{ weekSearch }}</code> ต่ำกว่าหรือเท่ากับ <code>{{ minReport }} รายงาน</code></p>
-->
                <p class="clear">ตัวอย่างการคำนวนรายงานต่ำกว่าเกณฑ์:</p>

                <ul class="list-unstyled report-list-help">
                    <ul>
                       <li>สูตรการคำนวณ จำนวนรายงานที่ต่ำกว่าเกณฑ์ = คือ เปอร์เซ็นต์ / 100 * จำนวนวันที่ค้นหา </li>
                        <li>
                            <span class="explain">
                                กำหนดเปอร์เซนต์ของจำนวนรายงานที่ตำกว่าเกณฑ์เท่ากับ 10% และทำการค้นหาระหว่างวันที่ 01/01/2015 - 10/01/2015
                                คิดเป็นระยะเวลา 10 วัน เพราะฉะนั้นผู้รายงานที่ตำกว่าเกณฑ์จะรายงานต่ำกว่าหรือเท่ากับ <img src="http://latex.codecogs.com/svg.latex?\frac{10}{100}\times10=1" border="0" style="margin-top:2px;"/> ครั้งของช่วงเวลานั้น
                            </span>
                        </li>
                    </ul>
                </ul>

                <hr/>

                <h4 class="subheading">ตารางสรุปจำนวนผู้รายงานที่ต่ำกว่าเกณฑ์ทั้งสิ้น {{ totalPerson }} คน</h4>
                <div id="gridPerson" class="summary-grid-person grid-summary" ui-grid="gridOptionsPerson" ui-grid-exporter></div>

                <div class="export-buttons">
                  <button class="btn btn-primary btn-sm" type="button" ng-click="csvExport();">ดาวน์โหลดข้อมูลไฟล์ CSV</button>
                  <button class="btn btn-primary btn-sm" type="button" ng-click="xlsxExport();">ดาวน์โหลดข้อมูลไฟล์ Excel</button>
                </div>
            </div>

        </div>
    </div>

  </div>
</div>
