<div class="summary-view l-info-section l-section l-full-width"
     ng-controller="UsersCtrl"
     ng-cloak>
  <div class="l-detail-section l-section">

    <div class="title clearfix">
        <h2 class="pull-left">
          <i class="fa fa-user pull-left fa-size-22"></i>
          รายชื่อผู้ใช้
        </h2>
    </div>

    <div class="content-wrapper content">
      <div class="summary-wrapper profile-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="subheading pull-left">ตารางรายชื่อผู้ใช้</h2>

            <div class="row">
              <div class="col-lg-12">
                <div class="pull-left">
                  <!-- <button type="button" class="btn btn-default">ลบรายการ</button> -->
                </div>
                <div class="pull-right">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#userModal" ng-click="selectedUser(null)" >สร้างผู้ใช้</button>
                </div>
              </div>
            </div>

            <br/>
            <div class="filter-result-container">
              <div class="ta-view-header row hidden-xs">
                <div class="col-md-1 col-sm-2">
                  <input type="checkbox"/>
                </div>
                <div class="col-md-3 col-sm-2">ชื่อ</div>
                <div class="col-md-3 col-sm-2">นามสกุล</div>
                <div class="col-md-3 col-sm-2">ชื่อบัญชีผู้ใช้</div>
                <div class="col-md-1 col-sm-2"></div>
              </div>
              <div ng-repeat="user in users" class="ta-view-row row"
                   ng-class="{ 'active': user.id == activeUserId }">

                  <div class="ta-view-col ta-view-date col-md-1 col-sm-2" data-th="ลบ">
                    <input type="checkbox"/>
                  </div>

                  <div class="ta-view-col ta-view-info col-md-3 col-sm-2 hidden-xs">
                    <span ng-bind="::user.firstName" ></span>
                  </div>

                  <div class="ta-view-col ta-view-info col-md-3 col-sm-2 hidden-xs">
                    <span ng-bind="::user.lastName" ></span>
                  </div>

                  <div class="ta-view-col ta-view-info col-md-3 col-sm-2 hidden-xs">
                    <span ng-bind="::user.username" ></span>
                  </div>

                  <div class="ta-view-col ta-view-area col-md-1 col-sm-2" data-th="พื้นที่">
                    <a class="btn btn-default" ng-click="selectedUser(user)" data-toggle="modal" data-target="#userModal">แก้ไข</a>
                  </div>
              </div>
            </div>


            <div class="filter-result-message" ng-show="error">
              <div class="filter-error alert alert-danger" role="alert" ng-show="error">
                  <strong>เกิดข้อผิดพลาด</strong>
              </div>

            </div>

            <div class="filter-empty alert alert-info" ng-show="!loading && users.length == 0">
                <strong>ไม่พบผลการค้นหา</strong>
            </div>

            <div class="loadmore" ng-cloak ng-show="!error && !isEmpty()">
              <button class="btn btn-default center-block" type="button" ng-show="!lastPage" ng-click="::loadMore()" ng-disabled="loading">{{ loading ? 'กรุณารอสักครู่...' : 'เพิ่มเติม...' }} </button>
          </div><!-- /.loadmore -->


          </div> <!-- /.col-sm-8 -->
        </div>
      </div>

    </div>
  </div>

  <div id="userModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ผู้ใช้งาน</h4>
        </div>
        <div class="modal-body">

          <div class="row">
              <div class="col-md-3 col-sm-2"><label for="id_email">อีเมล</label></div>
              <div class="col-md-9 col-sm-2">
                <input id="id_email" type="text" name="email" ng-model="userSelected.email" />
              </div>
              <div class="col-md-3 col-sm-2"><label for="id_first_name">ชื่อ</label></div>
              <div class="col-md-9 col-sm-2">
                <input id="id_first_name" type="text" name="firstName" ng-model="userSelected.firstName"/>
              </div>
              <div class="col-md-3 col-sm-2"><label for="id_last_name">นามสกุล</label></div>
              <div class="col-md-9 col-sm-2">
                <input id="id_last_name" type="text" name="lastName" ng-model="userSelected.lastName"/>
              </div>
              <div class="col-md-3 col-sm-2"><label for="id_telephone">เบอร์โทร</label></div>
              <div class="col-md-9 col-sm-2">
                <input id="id_telephone" type="text" name="telephone" ng-model="userSelected.telephone"/>
              </div>
              <div class="col-md-3 col-sm-2"><label for="id_serial_number">เลขบัตรประชาชน</label></div>
              <div class="col-md-9 col-sm-2">
                <input id="id_serial_number" type="text" name="serialNumber" ng-model="userSelected.serialNumber"/>
              </div>
              <div class="col-md-3 col-sm-2"><label for="id_username">บัญชีผู้ใช้งาน</label></div>
              <div class="col-md-9 col-sm-2">
                <input id="id_username" type="text" name="username" ng-model="userSelected.username || userSelected.email" readonly/>
              </div>
              <div class="col-md-3 col-sm-2"><label for="id_password">รหัสแรกเข้า</label></div>
              <div class="col-md-9 col-sm-2">
                <input id="id_password" type="text" name="password" ng-model="userSelected.displayPassword" readonly/>
              </div>
              <div class="col-md-3 col-sm-2"><label for="id_authotiry">สังกัด</label></div>
              <div class="col-md-9 col-sm-2">
                  <select name="authotiry" 
                          id="id_authotiry"
                          ng-options="option.name for option in authorities track by option.id" 
                          ng-model="authority">
                  </select>
              </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submitUser()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetUser()">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
