<div class="summary-view l-info-section l-section l-full-width"
     ng-controller="UsersCtrl"
     ng-cloak>
  <div class="l-detail-section l-section">

    <div class="title clearfix">
        <h2 class="pull-left">
          <i class="fa fa-user pull-left fa-size-22"></i>
          ผู้ใช้
        </h2>
    </div>

    <div class="content-wrapper content">
      <div class="summary-wrapper profile-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="subheading">ตารางรายชื่อผู้ใช้</h2>

            <div class="filter-action clearfix">
                <button type="button" class="btn btn-default hide">ลบรายการ</button>
                <button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#userModal" ng-click="selectedUser(null)" ><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> สร้างผู้ใช้</button>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="pull-left">

                </div>
                <div class="pull-right">

                </div>
              </div>
            </div>

            <div class="filter-result-container">
                <div class="ta-view">
                  <div class="ta-view-header row hidden-xs">
                    <div class="col-md-1 col-sm-1">
                      <input type="checkbox"/>
                    </div>
                    <div class="col-md-2 col-sm-2">ชื่อ</div>
                    <div class="col-md-2 col-sm-2">นามสกุล</div>
                    <div class="col-md-3 col-sm-2">ชื่อบัญชีผู้ใช้</div>
                    <div class="col-md-4 col-sm-3">พื้นที่</div>
                    <div class="col-md-1 col-sm-2"></div>
                  </div>
                  <div ng-repeat="user in users" class="ta-view-row row">

                      <div class="ta-view-col col-md-1 col-sm-2" data-th="เลือก">
                        <input type="checkbox"/>
                      </div>

                      <div class="ta-view-col col-md-2 col-sm-2" data-th="ชื่อ">
                        <span> {{ user.firstName }}</span>
                      </div>

                      <div class="ta-view-col col-md-2 col-sm-2" data-th="นามสกุล">
                        <span> {{ user.lastName }}</span>
                      </div>

                      <div class="ta-view-col col-md-3 col-sm-2" data-th="ชื่อบัญชีผู้ใช้">
                        <span> {{ user.username }}</span>
                      </div>

                      <div class="col-md-3 col-sm-3" data-th="พื้นที่">
                        <span> {{ user.authority.name }}</span>
                      </div>

                      <div class="ta-view-col ta-view-area col-md-1 col-sm-2" data-th="คำสั่ง">
                        <a class="" ng-click="selectedUser(user)" data-toggle="modal" data-target="#userModal">แก้ไข</a>
                      </div>
                  </div>
                </div>
            </div>

            <div class="filter-result-message" ng-show="error">
              <div class="filter-error alert alert-danger" role="alert" ng-show="error">
                  <strong>เกิดข้อผิดพลาด</strong>
              </div>

            </div>

            <div class="filter-empty alert alert-info" ng-show="!loading && users.length == 0">
                <strong>ไม่พบผลการค้นหา</strong>
            </div>

            <div class="loadmore" ng-cloak ng-show="!error && !isEmpty()">
              <button class="btn btn-default center-block" type="button" ng-show="!lastPage" ng-click="::loadMore()" ng-disabled="loading">{{ loading ? 'กรุณารอสักครู่...' : 'เพิ่มเติม...' }} </button>
          </div><!-- /.loadmore -->


          </div> <!-- /.col-sm-8 -->
        </div>
      </div>

    </div>
  </div>

  <div id="userModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ผู้ใช้งาน</h4>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="id_email">อีเมล</label>
                <input id="id_email" type="email" class="form-control" name="email" ng-model="userSelected.email" />
              </div>
              <div class="form-group">
                <label for="id_first_name">ชื่อ</label>
                <input id="id_first_name" type="text" class="form-control" name="firstName" ng-model="userSelected.firstName"/>
              </div>
              <div class="form-group">
                <label for="id_last_name">นามสกุล</label>
                <input id="id_last_name" class="form-control" type="text" name="lastName" ng-model="userSelected.lastName"/>
              </div>
              <div class="form-group">
                <label for="id_telephone">เบอร์โทร</label>
                <input id="id_telephone" class="form-control" type="text" name="telephone" ng-model="userSelected.telephone"/>
              </div>
              <div class="form-group">
                <label for="id_serial_number">เลขบัตรประชาชน</label>
                <input id="id_serial_number" class="form-control" type="text" name="serialNumber" ng-model="userSelected.serialNumber"/>
              </div>
              <div class="form-group">
                <label for="id_username">บัญชีผู้ใช้งาน</label>
                <input id="id_username" class="form-control" type="text" name="username" ng-model="userSelected.username || userSelected.email" readonly/>
              </div>
              <div class="form-group">
                <label for="id_password">รหัสแรกเข้า</label>
                <input id="id_password" class="form-control" type="text" name="password" ng-model="userSelected.displayPassword" readonly/>
              </div>
              <div class="form-group">
                <label for="id_authotiry">สังกัด</label>
                <p ng-show="userSelected.id">{{ userSelected.authority.name }}</p>
                <select name="authotiry"
                        id="id_authotiry"
                        ng-options="option.name for option in authorities track by option.id"
                        ng-show="!userSelected.id"
                        ng-model="userSelected.authority"
                        class="form-control">
                </select>
              </div>
            </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="submitUser()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetUser()">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
