<div class="container visualization-view">
  <div class="row">
    <!-- address -->
    <div class="col-lg-8">
      <h1 ng-bind="areas.selected.address"></h1>
    </div>
    <!-- end address -->

    <!-- select -->
    <div class="col-lg-3">
      <ui-select ng-model="areas.selected" theme="selectize" title="Choose a person">
        <ui-select-match placeholder="Select areas">{{areas.selected.name}}</ui-select-match>
        <ui-select-choices repeat="area in areas.all | filter:$select.search">
          <span ng-bind-html="area.name | highlight:$select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <!-- end select -->
  </div>

  <!-- error message -->
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <p class="alert alert-warning" ng-show="data.error">
        เกิดข้อผิดพลาดในการดึงข้อมูล กรุณาลอง<a ng-click="refresh()">รีเฟรชใหม่</a>
      </p>

      <p class="alert alert-info" ng-show="!areas.selected">
        โปรดเลือกพื้นที่ที่ต้องการดูข้อมูล
      </p>
    </div>
  </div>
  <!-- end error message -->

  <!-- content  -->
  <div id="visualization-main-content" class="container" ng-show="data.raw">
    <!-- #1 row -->
    <div class="row">
      <!-- graph1 -->
      <div class="col-lg-6">
        <div class="row">
          <h3>จำนวนรายงานทั้งหมด</h3>
        </div>
        <div class="row">
          <span class="number-of-reports"
                count-up
                count-to="data.prepared.graph1.totalReports"
                duration="1400"></span>
        </div>
        <div class="row">รายงาน</div>
      </div>
      <!-- end graph1 -->

      <!-- graph2 -->
      <div class="col-lg-6">
        <angularchart
          class="graph2-valid-reports"
          ng-hide="data.prepared.graph2.noReports"
          dataset="data.prepared.graph2.data"
          schema="data.schemas.graph2"
          options="data.options.graph2">
        </angularchart>

        <div class="graph1-legend">
          <div class="legend-positive">
            <span count-up count-to="data.prepared.graph2.positiveReports"></span>
            <br>รายงานไม่พบเหตุผิดปกติ
          </div>
          <div class="legend-negative">
            <span count-up count-to="data.prepared.graph2.negativeReports"></span>
            <br>รายงานเหตุผิดปกติ
          </div>
        </div>

        <div class="graph2-no-reports" ng-show="data.prepared.graph2.noReports">
          ไม่มีข้อมูลการรายงาน
        </div>
      </div>
      <!-- end graph2 -->

      <!-- graph3 -->
      <div class="col-lg-6">
        <div class="row">
          <h3>ประสิทธิภาพการรายงาน</h3>
        </div>
        <div class="row">
          <span ng-class="{ 'grade-a': data.prepared.graph3.grade == 'A',
                            'grade-b': data.prepared.graph3.grade == 'B',
                            'grade-c': data.prepared.graph3.grade == 'C' }"
                ng-bind="data.prepared.graph3.grade"></span>
        </div>
      </div>
      <!-- end graph3 -->

      <!-- graph4 -->
      <div class="col-lg-6">
        <div class="row">
          <h3>ช่วงเวลาที่รายงานบ่อยที่สุด</h3>
        </div>
        <div class="row">
          <span ng-class="period-{{ data.prepared.graph4.periodName }}" ng-bind="data.prepared.graph4.periodRange"></span>
        </div>
      </div>
      <!-- end graph4 -->

      <!-- graph5 : volunteer list -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-8">
            <h3>รายชื่ออาสาในพื้นที่</h3>
          </div>

          <div class="col-lg-4">
            <h3>จำนวนครั้งที่รายงาน</h3>
          </div>
        </div>

        <!-- header row -->
        <div class="row">
        </div>
        <!-- end header row -->

        <!-- content row -->
        <div
          class="row"
          ng-repeat="reporter in data.prepared.graph5.reporters | orderBy:'-totalReport'">
          <!-- avatar -->
          <div class="col-lg-2">
            <img
              alt="avatar" class="pull-left avatar"
              ng-if="reporter.thumbnail_avatar_url"
              ng-src="{{ reporter.thumbnail_avatar_url }}" />
            <img
              src="images/avatar.png" alt="avatar" class="pull-left avatar"
              ng-if="!reporter.thumbnail_avatar_url" />
          </div>
          <!-- end avatar -->

          <!-- fullname -->
          <div class="col-lg-6">
            <span class="reporter-fullname" ng-bind="reporter.fullname"></span>
          </div>
          <!-- end fullname -->

          <!-- number of reports -->
          <div class="col-lg-4">
            <span class="reporter-reports" ng-bind="reporter.totalReport"></span>
          </div>
          <!-- end number of reports -->

        </div>
        <!-- end reporter row -->
      </div>
      <!-- end graph5 -->

      <!-- graph6 : sick/death -->
      <div class="col-lg-6">
        <angularchart
          class="graph6-valid-reports"
          ng-hide="data.prepared.graph6.noReports"
          dataset="data.prepared.graph6.data"
          schema="data.schemas.graph6"
          options="data.options.graph6">
        </angularchart>

        <div class="graph6-no-reports" ng-show="data.prepared.graph6.noReports">
          ไม่มีข้อมูลการรายงาน
        </div>
      </div>
      <!-- end graph6 -->

      <!-- graph7 : sick/death -->
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-2">จำนวนสัตว์ตาย (ตัว)</div>
          <div class="col-lg-2">จำนวนสัตว์ป่วย (ตัว)</div>
        </div>

        <div class="row" ng-repeat="item in data.prepared.graph7.data">
          <div class="col-lg-2">
            <span ng-class="item.className">icon here</span>
            <span ng-bind="item.name"></span>
          </div>
          <div class="col-lg-2">
            <span ng-bind="item.death"></span>
          </div>
          <div class="col-lg-2">
            <span ng-bind="item.sick"></span>
          </div>
        </div>

        <div class="row" ng-show="data.prepared.graph6.noReports">
          <div class="col-lg-12">
            ยังไม่มีการรายงาน
          </div>
        </div>
      </div>
      <!-- end graph7 -->

    </div>
    <!-- end #1 row -->
  </div>
  <!-- end content -->
</div>
