<div class="container visualization-view info-container">

    <div ng-init="negativeReportColor = '#dd3163'"></div>
    <div ng-init="positiveReportColor = '#a47aaf'"></div>

    <div ng-init="pieChartColor[0] = '#fff'"></div>
    <div ng-init="pieChartColor[1] = '#aaa'"></div>
    <div ng-init="pieChartColor[2] = '#333'"></div>
    <div ng-init="pieChartColor[3] = '#f4f4f4'"></div>
    <div ng-init="pieChartColor[4] = '#ddaaee'"></div>

    <!-- select -->
    <div class="select-location pull-right">
      <div class="select-option pull-left">
        <select
        ng-model="months.selectedMonth"
        ng-options="month for month in months.months"></select>
      <select
        ng-model="months.selectedYear"
        ng-options="year for year in months.years"></select>
      <button
        class="btn btn-default btn-xs"
        title="Randomize"
        ng-class="{ 'active': areas.randomize }"
        ng-click="toggleRandomize()">
        <i class="fa fa-random"></i>
      </button>
      </div>
      
      <ui-select
        class="pull-left"
        ng-model="areas.selected"
        theme="selectize"
        title="Choose a person"
        ng-disabled="areas.randomize">
        <ui-select-match placeholder="Select areas">{{areas.selected.name}}</ui-select-match>
        <ui-select-choices
          group-by="'parentName'"
          repeat="area in areas.all | filter:$select.search | orderBy:['parentName', 'name']">
          <span ng-bind-html="area.name | highlight:$select.search"></span>
        </ui-select-choices>
      </ui-select>
    </div>
    <!-- end select -->

    <div class="info" ng-show="data.raw">
    <div class="info-section-one">
      <h1 ng-bind="areas.selected.address" class="info-heading"></h1>

      <div class="fix-chart-row row">
        <div class="col-xs-6">
          <div class="info-box">
            <h2 class="info-title"><i class="info-report-icon info-icon"></i> จำนวนรายงานทั้งหมด</h2>
            <div class="animated zoomIn">
              <p class="text-center info-number number-of-reports"
                count-up
                count-to="data.prepared.graph1.totalReports"
                duration="1400"></p>
              <p class="text-center text-gray text">รายงาน</p>  
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <!-- <div class="info-box animated flipInX"> -->
            <angularchart
            class="graph2-valid-reports"
            ng-hide="data.prepared.graph2.noReports"
            dataset="data.prepared.graph2.data"
            schema="data.schemas.graph2"
            options="data.options.graph2">
            </angularchart>
            <div class="graph1-legend">
              <div class="legend-positive">
                <p class="info-number info-number-sm text-center" count-up count-to="data.prepared.graph2.positiveReports"></p>
                <p class="text-center text-gray text-sm text text-light">รายงานไม่พบเหตุผิดปกติ</p>
              </div>
              <div class="legend-negative">
                <p class="info-number info-number-sm text-center" count-up count-to="data.prepared.graph2.negativeReports"></p>
                <p class="text-center text-gray text-sm text text-light">รายงานเหตุผิดปกติ</p>
              </div>
            </div>
            <div class="graph2-no-reports" ng-show="data.prepared.graph2.noReports">
            ไม่มีข้อมูลการรายงาน
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="info-box">
            <h2 class="info-title"><i class="info-icon-grade info-icon"></i> ประสิทธิภาพการรายงาน</h2>
            <div class="info-grade-wrap animated zoomIn">
              <div class="info-grade grade-{{ data.prepared.graph3.grade }}"></div>
              <p class="text text-center" ng-show="data.prepared.graph3.grade == 'a'">เหรียญทอง</p>
              <p class="text text-center" ng-show="data.prepared.graph3.grade == 'b'">เหรียญเงิน</p>
              <p class="text text-center" ng-show="data.prepared.graph3.grade == 'c'">เหรียญทองแดง</p>
              <div class="wink wink-1"></div>
              <div class="wink wink-2"></div>
              <div class="wink wink-3"></div>
              <div class="wink wink-4"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="info-box">
            <h2 class="info-title"><i class="info-icon-time info-icon"></i> ช่วงเวลาที่รายงานบ่อยที่สุด</h2>
            <div class="animated zoomIn">
              <div class="period-img-{{ data.prepared.graph4.periodName }}"></div>

              <p class="text text-center period-{{ data.prepared.graph4.periodName }}"
                 ng-show="data.prepared.graph4.periodName == 'morning'">
                 06:00 - 12:00 น.</p>
              <p class="text text-center period-{{ data.prepared.graph4.periodName }}"
                 ng-show="data.prepared.graph4.periodName == 'afternoon'">
                 12:00 - 18:00 น.</p>
              <p class="text text-center period-{{ data.prepared.graph4.periodName }}"
                 ng-show="data.prepared.graph4.periodName == 'evening'">
                 18:00 - 00:00 น.</p>
              <p class="text text-center period-{{ data.prepared.graph4.periodName }}"
                 ng-show="data.prepared.graph4.periodName == 'night'">
                 00:00 - 06:00 น.</p>
            </div>
          </div>
        </div>
      </div> <!-- row -->

    </div>

    <!-- info-section-two -->
    <div class="info-section-two">
      <div class="row animated fadeInUp">
          <div class="col-xs-6">
            <h2 class="info-title text-center text-white">จำนวนสัตว์ป่วย/ตายทั้งหมด</h2>
            <angularchart
              class="graph6-valid-reports"
              ng-hide="data.prepared.graph6.noReports"
              dataset="data.prepared.graph6.data"
              schema="data.schemas.graph6"
              options="data.options.graph6">
            </angularchart>

            <ul class="graph6-legend">
                <li ng-repeat="animalType in data.prepared.graph6.legends">
                    <span class="color-box color-box-{{ $index }}" ng-style="animalType.style"></span>
                    <span class="color-name" ng-bind="animalType.name"></span>
                </li>
            </ul>

            <div class="graph6-no-reports" ng-show="data.prepared.graph6.noReports">
              <div class="well text-center info-notfound">ยังไม่มีการรายงาน</div>
            </div>
          </div>
          <div class="col-xs-6">

            <div class="row table-header">
              <div class="col-lg-6"></div>
              <div class="col-lg-3"><div class="text text-center text-sm">จำนวนสัตว์ตาย (ตัว)</div></div>
              <div class="col-lg-3"><div class="text text-center text-sm">จำนวนสัตว์ป่วย (ตัว)</div></div>
            </div>

            <div class="row table-content" ng-repeat="item in data.prepared.graph7.data">
              <div class="col-lg-6">
                <span ng-class="item.className" class="animal-icon"></span>
                <span ng-bind="item.name" class="animal-name"></span>
              </div>
              <div class="col-lg-3">
                <div ng-bind="item.death" class="animal-number"></div>
              </div>
              <div class="col-lg-3">
                <div ng-bind="item.sick" class="animal-number"></div>
              </div>
            </div>

            <div class="row" ng-show="data.prepared.graph6.noReports">
              <div class="col-lg-12">
                <div class="well text-center info-notfound">ยังไม่มีการรายงาน</div>
              </div>
            </div>
          </div>
      </div> <!-- row -->

      <div class="info-repoter animated fadeInRight">

        <!-- content row -->
        <div class="row table-header">
          <div class="col-lg-9">
            <div class="info-title ">รายชื่ออาสาในพื้นที่</div>
          </div>
          <div class="col-lg-3">
            <div class="info-title">รายงาน / ครั้ง</div>
          </div>
        </div>

        <div
          class="row table-content table-row"
          ng-repeat="reporter in data.prepared.graph5.reporters | orderBy:'-totalReport'">
          <!-- avatar -->
          <div class="col-lg-1 text-center">
            <img
              alt="avatar" class="avatar"
              ng-if="reporter.thumbnail_avatar_url"
              ng-src="{{ reporter.thumbnail_avatar_url }}" />
            <img
              src="images/avatar.png" alt="avatar" class="avatar"
              ng-if="!reporter.thumbnail_avatar_url" />
          </div>
          <!-- end avatar -->

          <!-- fullname -->
          <div class="col-lg-9">
            <span class="reporter-fullname text-light" ng-bind="reporter.fullname"></span>
          </div>
          <!-- end fullname -->

          <!-- number of reports -->
          <div class="col-lg-2">
            <span class="reporter-reports text-light" ng-bind="reporter.totalReport"></span>
          </div>
          <!-- end number of reports -->

        </div>
        <!-- end reporter row -->
      </div>



    </div>
  </div>



  <!-- error message -->
  <div class="info-error">    
    <p class="alert alert-warning" ng-show="data.error">
      <i class="fa fa-exclamation-triangle"></i> เกิดข้อผิดพลาดในการดึงข้อมูล กรุณาลอง<a ng-click="refresh()">รีเฟรชใหม่</a>
    </p>

    <p class="alert alert-info" ng-show="!areas.selected">
      <i class="fa fa-exclamation-triangle"></i> โปรดเลือกพื้นที่ที่ต้องการดูข้อมูล
    </p>
  </div>
  
  <!-- end error message -->

  <!-- end content -->
</div>
